
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EPORTAL.ModelsServey
@model PagedList.IPagedList<ListServeyValidation>
@using PagedList.Mvc

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />
<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-portfolio icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        Danh sách khảo sát
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="tab-content">
            <div class="row">
                <div class="card">

                    <div class="card-header">
                        <div class="row" style="width:100%">
                            <div class="col-md-8 col-lg-8">
                                <div class="row">
                                    @*<div class="col-md-4">
                                        <input type="text" id="txtsearch" name="" placeholder="Tìm kiếm" class="form-control" value="@ViewBag.search">
                                    </div>*@
                                    @*<div class="col-md-3">
                                        @Html.DropDownList("IDGroup", ViewBag.PGList as SelectList, "--Chọn Nhóm dự án--", new { @id = "IDGroup", @class = "form-control" })
                                    </div>*@
                                    @*<div class="col-md-5">
                                        <button class="btn btn-primary" id="btn-search"><i class="fa fa-search"></i> Tìm kiếm</button>
                                    </div>*@
                                </div>
                            </div>
                            <div class="col-md-4">
                                @*<button type="button" id="btn-List" class="btn btn-warning m-l-auto" style="margin-left: 10px;"><i class="fa fa-list">&nbsp;</i>&nbsp;Nhóm dự án </button>*@
                                @if ((ViewBag.QUYENCN as List<String>).Contains("ADD"))
                                {
                                    <button type="button" id="btn-add" class="btn btn-primary " style="margin-left:10px;float:right"><i class="fa fa-plus">&nbsp;</i>&nbsp;Thêm mới </button>
                                    <div class="modal" id="myModal" role="dialog" data-url='@Url.Action("Create","ListSevey")' style="margin-top:50px"></div>
                                }


                                @*<button type="button" id="btn-Import" class="btn btn-primary m-l-auto pull-right"><i class="fa fa-upload">&nbsp;</i>&nbsp;Upload </button>
        <div class="modal" id="myModalImport" role="dialog" data-url='@Url.Action("ImportExcel","Projects")' style="margin-top:50px"></div>

        <button type="button" id="btn-Export" class="btn btn-primary m-l-auto" style="margin-right: 10px; float: right"><i class="fa fa-download">&nbsp;</i>&nbsp;Download</button>*@
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th width="30px" class="text-center">STT</th>
                                            <th class="text-center" width="100px">Thao tác</th>
                                            <th class="text-center">Nội dung khảo sát</th>
                                            <th class="text-center" width="200px">TG Bắt đầu</th>
                                            <th class="text-center" width="200px">TG Kết thúc</th>
                                            <th class="text-center" style="width:150px">Tình trạng</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int pageno = (int)Model.PageNumber;
                                            int itemperpage = (int)Model.PageSize;
                                            int RowNo = ((pageno - 1) * itemperpage) + 1;
                                            //List<ProjectsGroup> listPG = ViewBag.listPG as List<ProjectsGroup>;
                                            var hd = "Hoạt động"; var khd ="Không hoạt động";
                                        }
                                        @{

                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="text-center"> @RowNo@{RowNo++;}</td>
                                                    <td class="text-center">
                                                        @if ((ViewBag.QUYENCN as List<String>).Contains("DELETE"))
                                                        {
                                                            <a title="Xóa" class="btn-action" href="@Url.Action("Delete", "ListSevey", new { id = item.IDSV })"
                                                               onclick="return confirm('Bạn muốn xóa Thông tin  : @item.ContentSV')">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                            </a>
                                                        }

                                                        @if ((ViewBag.QUYENCN as List<String>).Contains("EDIT"))
                                                        {
                                                            <a id="btn-edit_@item.IDSV" href="#" title="Chỉnh sửa" class="btn-action"><i class="fa fa-edit"></i> </a>
                                                            <div class="modal " id="myModaleEdit_@item.IDSV" role="dialog" data-url='@Url.Action("Edit", "ListSevey", new { id = item.IDSV })'></div>
                                                            <script type="text/javascript">
                                                            $('#btn-edit_@item.IDSV').click(function () {
                                                                var url = $('#myModaleEdit_@item.IDSV').data('url');
                                                                $.get(url, function (data) {
                                                                    $("#myModal").html(data);
                                                                    $("#ModalTitle").html("Cập nhật Thông Tin khảo sát");
                                                                    $("#myModal").modal('show');
                                                                });
                                                            });
                                                            </script>
                                                            <a href="@Url.Action("UserServey", "ListSevey", new { id = item.IDSV })" class="btn-action" title="Thêm tài khoản"><i class="fa-solid fa-user-plus"></i></a>
                                                        }

                                                        @if ((ViewBag.QUYENCN as List<String>).Contains("EX"))
                                                        {
                                                            <a href="@Url.Action("ExportToExcelDK", "ListSevey",new { id =item.IDSV})" class="btn-action" title="xuất file" onclick="return confirm('Export dữ liệu?')"><i class="fa-solid fa-file-excel"></i></a>
                                                        }
                                                        @*<a class="fa fa-file-excel float-right btn btn-primary m-1" title="Export dữ liệu" href="@Url.Action("ExportToExcel", "ListSevey",new { id =item.IDSV})"
           onclick="return confirm('Export dữ liệu?')">
            &nbsp;Export dữ liệu
        </a>*@


                                                    </td>
                                                    <td>
                                                        <a href="@Url.Action("OptionServey", "ListSevey", new { id = item.IDSV })" target="">@item.ContentSV</a>
                                                    </td>
                                                    <td class="text-center">@item.StartTime.ToString("dd-MM-yyyy")</td>
                                                    <td class="text-center">@item.EndTime.ToString("dd-MM-yyyy")</td>   
                                                    @if (item.StatusSV)
                                                    {
                                                       <td>@hd</td>
                                                    }
                                                    else { <td>@khd</td>}
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                                <div class="pager">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", "ListSevey", new { area = "Servey", page }))
                                    <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">

            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
    $('#btn-add').click(function () {
        var url = $('#myModal').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Thêm Khảo sát");
            $("#myModal").modal('show');
        });
    });
    $('#btn-Import').click(function () {
        var url = $('#myModalImport').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Add Permission");
            $("#myModal").modal('show');
        });
    });
    $("#btn-search").on('click', function () {
        var IDGroup = $('#IDGroup').val();
        var search = $('#txtsearch').val();
        if (IDGroup == "") {
            window.location.href = '@Url.Action("Index", "Projects")?search=' + search;
        } else window.location.href = '@Url.Action("Index", "Projects")?search=' + search + "&IDGroup=" + IDGroup;

     });
    $('#btn-Export').click(function () {
        var IDGroup = $('#IDGroup').val();
        var search = $('#txtsearch').val();
        ////window.location.href = '@Url.Action("ExportToExcel", "Projects")?search=' + search;
        if (IDGroup == "") {
            window.location.href = '@Url.Action("ExportToExcel", "Projects")?search=' + search;
        } else window.location.href = '@Url.Action("ExportToExcel", "Projects")?search=' + search + "&IDGroup=" + IDGroup;
    });
    $('#btn-List').click(function () {

        window.location.href = '@Url.Action("index", "ProjectsGroup")';
    });
</script>





