
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EPORTAL.ModelsServey
@model List<OptionServeyValidation>
@using PagedList.Mvc

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />
<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-portfolio icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        Danh sách lựa chọn
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="tab-content">
            <div class="row">
                <div class="card">

                    <div class="card-header">
                        <div class="row" style="width:100%">
                            <div class="col-md-8 col-lg-8">
                                <div class="row">
                                    @*<div class="col-md-4">
            <input type="text" id="txtsearch" name="" placeholder="Tìm kiếm" class="form-control" value="@ViewBag.search">
        </div>*@
                                    @*<div class="col-md-3">
            @Html.DropDownList("IDGroup", ViewBag.PGList as SelectList, "--Chọn Nhóm dự án--", new { @id = "IDGroup", @class = "form-control" })
        </div>*@
                                    @*<div class="col-md-5">
            <button class="btn btn-primary" id="btn-search"><i class="fa fa-search"></i> Tìm kiếm</button>
        </div>*@
                                    Nội dung khảo sát:&nbsp; <span class="text-danger font-italic">@ViewBag.ContentSV</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button type="button" id="btn-nhom" class="btn btn-primary " style="margin-left:10px;float:right"><i class="fa fa-plus">&nbsp;</i>&nbsp;Cập nhật Nhóm </button>
                                <div class="modal" id="myModalNhom" role="dialog" data-url='@Url.Action("CreateGroup","ListSevey",new { id =ViewBag.IDSV})' style="margin-top:50px"></div>
                                <button type="button" id="btn-add" class="btn btn-primary " style="margin-left:10px;float:right"><i class="fa fa-plus">&nbsp;</i>&nbsp;Thêm mới </button>
                                <div class="modal" id="myModal" role="dialog" data-url='@Url.Action("CreateOption","ListSevey",new { id =ViewBag.IDSV})' style="margin-top:50px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th width="30px" class="text-center">STT</th>
                                            <th class="text-center" width="100px">Thao tác</th>
                                            <th class="text-center" >Lựa chọn</th>
                                            <th class="text-center w-25" >Nhóm lựa chọn</th>
                                            <th class="text-center w-25" >Thứ tự sắp xếp</th>
                                            <th class="text-center w-25" >File đính kèm</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int RowNo = 1;
                                        }
                                        @{

                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="text-center"> @RowNo@{RowNo++;}</td>
                                                    <td class="text-center">
                                                        @*<a title="Xóa" class="btn-action" href="@Url.Action("DeleteOption", "ListSevey", new { id = item.IDOT,IDSV =item.IDSV })"
                                                           onclick="return confirm('Bạn muốn xóa Thông tin  : @item.ContentOT')">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </a>*@

                                                        <a id="btn-edit_@item.IDOT" href="#" title="Chỉnh sửa" class="btn-action"><i class="fa fa-edit"></i> </a>
                                                        <div class="modal " id="myModaleEdit_@item.IDOT" role="dialog" data-url='@Url.Action("EditOption", "ListSevey", new { id = item.IDOT })'></div>
                                                        <script type="text/javascript">
                                                            $('#btn-edit_@item.IDOT').click(function () {
                                                                var url = $('#myModaleEdit_@item.IDOT').data('url');
                                                                $.get(url, function (data) {
                                                                    $("#myModal").html(data);
                                                                    $("#ModalTitle").html("Cập nhật Thông Tin khảo sát");
                                                                    $("#myModal").modal('show');
                                                                });
                                                            });
                                                        </script>
                                                    </td>
                                                    <td >@item.ContentOT</td>
                                                    <td >@item.TenNhom</td>
                                                    <td class="text-center">@item.OrderBy</td>
                                                    <td class="text-center" >
                                                        @if (item.FilePath != null && item.FilePath.Length > 0)
                                                        {

                                                        <a href="@Url.Content("~/UploadedFiles/FileServey/" + System.IO.Path.GetFileName(@item.FilePath))" class="" title="Xem" target="_blank" style="text-decoration: underline; font-style: italic; "><i class="fa fa-file-pdf-o"></i>Xem file</a>
                                                        }

                                                    </td>
                                                   
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                                @*<div class="pager">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", "ListSevey", new { area = "Servey", page }))
                                    <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">

            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
    $('#btn-add').click(function () {
        var url = $('#myModal').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Thêm Khảo sát");
            $("#myModal").modal('show');
        });
    });
    $('#btn-nhom').click(function () {
        var url = $('#myModalNhom').data('url');
        $.get(url, function (data) {
            $("#myModalNhom").html(data);
            $("#ModalTitle").html("Thêm Group Khảo sát");
            $("#myModalNhom").modal('show');
        });
    });
    $('#btn-Import').click(function () {
        var url = $('#myModalImport').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Add Permission");
            $("#myModal").modal('show');
        });
    });
    $("#btn-search").on('click', function () {
        var IDGroup = $('#IDGroup').val();
        var search = $('#txtsearch').val();
        if (IDGroup == "") {
            window.location.href = '@Url.Action("Index", "Projects")?search=' + search;
        } else window.location.href = '@Url.Action("Index", "Projects")?search=' + search + "&IDGroup=" + IDGroup;

     });
    $('#btn-Export').click(function () {
        var IDGroup = $('#IDGroup').val();
        var search = $('#txtsearch').val();
        ////window.location.href = '@Url.Action("ExportToExcel", "Projects")?search=' + search;
        if (IDGroup == "") {
            window.location.href = '@Url.Action("ExportToExcel", "Projects")?search=' + search;
        } else window.location.href = '@Url.Action("ExportToExcel", "Projects")?search=' + search + "&IDGroup=" + IDGroup;
    });
    $('#btn-List').click(function () {

        window.location.href = '@Url.Action("index", "ProjectsGroup")';
    });
</script>





