
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EPORTAL.ModelsTagSign
@model PagedList.IPagedList<ViolateValidation>
@using PagedList.Mvc
@using EPORTAL.ModelsView360;
@using EPORTAL.ModelsPartner;
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />
@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
@{
    EPORTALEntities db = new EPORTALEntities();
    EPORTAL_NTEntities db_nt = new EPORTAL_NTEntities();
    var quyenAdd = (int)ViewBag.Quyen;
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-portfolio icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        Danh sách nhân viên vi phạm
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="tab-content">
            <div class="row">
                <div class="card">

                    <div class="card-header">
                        <div class="row" style="width:100%">
                            <div class="col-md-8 col-lg-8">
                                <div class="row">
                                    <div class="col-md-5">
                                        <input type="text" id="txtsearch" name="" placeholder="Tìm kiếm" class="form-control" value="@ViewBag.search">
                                    </div>

                                    <div class="col-md-2">
                                        <button class="btn btn-primary" id="btn-search"><i class="fa fa-search"></i> Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>
                            @if (quyenAdd != 0)
                            {
                                <div class="col-md-4 col-lg-4 ">
                                    &nbsp;
                                    <button type="button" id="btn-Export" class="btn btn-primary m-l-auto" style="margin-right: 10px; float: right"><i class="fa fa-download">&nbsp;</i>&nbsp;Download</button>
                                    &nbsp;
                                    <a title="Reset" class="btn-action" href="@Url.Action("Index", "HistoryBlackList")">
                                        <i class="fa-solid fa-clock-rotate-left"></i> Lịch sử
                                    </a>
                                    <button style="margin-right: 5px;" type="button" id="btn-Import" class="btn btn-primary m-l-auto pull-right"><i class="fa fa-upload">&nbsp;</i>&nbsp; Upload Excel </button>
                                    <div class="modal" id="myModalImport" role="dialog" data-url='@Url.Action("ImportExcel","Violate")' style="margin-top: 50px;"></div>
                                </div>
                            }


                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th width="30px" class="text-center">STT</th>
                                            @if (quyenAdd != 0)
                                            {
                                                <th class="text-center" width="100px">Thao tác</th>
                                            }

                                            <th class="text-center" width="250px">Họ và tên</th>
                                            <th class="text-center" width="100px">CCCD</th>
                                            <th class="text-center" width="100px">CMND</th>
                                            <th class="text-center" width="150px">Ngày sinh</th>
                                            <th class="text-center" width="200px">Lý do vi phạm</th>
                                            <th class="text-center" width="200px">Ghi chú</th>
                                            <th class="text-center" width="200px">Ngày tạo</th>
                                            <th class="text-center" width="200px">Người tạo</th>
                                            <th class="text-center" width="200px">Tình trạng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int pageno = (int)Model.PageNumber;
                                            int itemperpage = (int)Model.PageSize;
                                            int RowNo = ((pageno - 1) * itemperpage) + 1;
                                        }
                                        @{

                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="text-center"> @RowNo@{RowNo++;}</td>
                                                       @if (quyenAdd != 0) { 
                                                              <td class="text-center">

                                                                <a id="btn-edit_@item.IDNVVP" href="#" title="Chỉnh sửa" class="btn-action"><i class="fa fa-edit"></i> </a>
                                                                <div class="modal " id="myModaleEdit_@item.IDNVVP" role="dialog" data-url='@Url.Action("Edit", "Violate", new { id = item.IDNVVP })'></div>
                                                                <script type="text/javascript">
                                                                        $('#btn-edit_@item.IDNVVP').click(function () {
                                                                            var url = $('#myModaleEdit_@item.IDNVVP').data('url');
                                                                            $.get(url, function (data) {
                                                                                $("#myModaleEdit_@item.IDNVVP").html(data);
                                                                                $("#ModalTitle").html("Chỉnh sửa thông tin");
                                                                                $("#myModaleEdit_@item.IDNVVP").modal('show');
                                                                            });
                                                                        });
                                                                </script>
                                                                @if (item.IDTinhTrang == 1)
                                                                {
                                                                    <a title="Reset" class="btn-action" href="@Url.Action("ResetViolate", "Violate", new { IDNVVP = item.IDNVVP, TinhTrang = 0 })"
                                                                       onclick="return confirm('Bạn muốn khóa  : @item.HoTen')">
                                                                        <i class="fa-solid fa-lock-open"></i>
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    <a title="Reset" class="btn-action" href="@Url.Action("ResetViolate", "Violate", new { IDNVVP = item.IDNVVP, TinhTrang = 1 })"
                                                                       onclick="return confirm('Bạn muốn mở khóa  : @item.HoTen')">
                                                                        <i class="fa-solid fa-lock"></i>
                                                                    </a>
                                                                }
                                                            </td>
                                                       }
                                                          
                                                    <td>
                                                        @item.HoTen
                                                    </td>
                                                    <td class="text-center">
                                                        @item.CCCD
                                                    </td>
                                                    <td class="text-center">
                                                        @item.CMND
                                                    </td>
                                                      <td class="text-center">
                                                        @if(item.NgaySinh != default(DateTime))
                                                        {
                                                            @item.NgaySinh.ToString("dd-MM-yyyy")
                                                        }
                                                    </td>
                                                    <td>
                                                        @item.LyDoCam
                                                    </td>
                                                    <td>
                                                        @item.GhiChu
                                                    </td>
                                                    <td class="text-center">
                                                        @item.CreateDay.ToString("dd/MM/yyyy")
                                                    </td>
                                                    <td>
                                                        @item.NVCreate
                                                    </td>
                                                    <td>
                                                        @item.TinhTrang
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                                <div class="pager">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", "Violate", new { area = "Partner", page, search = ViewBag.search }))
                                    <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">

            </div>
        </div>
    </div>


</div>

<script type="text/javascript">

    $('#btn-Import').click(function () {
        var url = $('#myModalImport').data('url');
        $.get(url, function (data) {
            $("#myModalImport").html(data);
            $("#ModalTitle").html("Thêm nhân viên nhà thầu");
            $("#myModalImport").modal('show');
        });
    });

    $("#btn-search").on('click', function () {
        var search = $('#txtsearch').val();
        window.location.href = '@Url.Action("Index", "Violate")?search=' + search;
    });
    $('#btn-Export').click(function () {
        window.location.href = '@Url.Action("ExportToExcel", "Violate")';
    });
    $("#IDNT").chosen({
        width: "100%"
    });

    $(document).ready(function () {
        var dateNewFormat, onlyDate, today = new Date();

        var prevMonthLastDate = new Date(today.getFullYear(), today.getMonth(), 1);

        dateLastDate = prevMonthLastDate.getFullYear() + '-';
        if (prevMonthLastDate.getMonth() >= 9) {

            dateLastDate += (prevMonthLastDate.getMonth() + 1);
        }
        else {
            dateLastDate += '0' + (prevMonthLastDate.getMonth() + 1);
        }

        onlyLastDate = prevMonthLastDate.getDate();

        if (onlyLastDate.toString().length == 2) {

            dateLastDate += "-" + onlyLastDate;
        }
        else {
            dateLastDate += '-0' + onlyLastDate;
        }



        dateNewFormat = today.getFullYear() + '-';
        if (today.getMonth() >= 9) {

            dateNewFormat += (today.getMonth() + 1);
        }
        else {
            dateNewFormat += '0' + (today.getMonth() + 1);
        }

        onlyDate = today.getDate();
        if (onlyDate.toString().length == 2) {

            dateNewFormat += "-" + onlyDate;
        }
        else {
            dateNewFormat += '-0' + onlyDate;
        }
        if ($('#begind').val() == '') {
            $('#begind').val(dateLastDate);
        }
        if ($('#endd').val() == '') {
            $('#endd').val(dateNewFormat);
        }
    });
</script>





