
@using EPORTAL.Models
@model PagedList.IPagedList<EmployeesInfo>
@using PagedList.Mvc

<link href="~/Content/assets/css/PagedList.css" rel="stylesheet" />
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}



<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-portfolio icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        Quản Lý Thông Tin Nhân Viên
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="tab-content">
            <div class="row">
                <div class="card col-lg-12">
                    <div class="card-header">
                        <span class="col-md-3">
                            <input type="text" id="txtsearch" name="" placeholder="Tìm kiếm" class="form-control" value="@ViewBag.search">
                        </span>
                            <span class="col-md-2">

                                @Html.DropDownList("PBList", null, "--Phòng ban--", new
                                   {
                                       id = "IDPhongBan",
                                       @class = "form-control",
                                       @style = "width:100%"
                                })
                            </span>

                            <span class="">
                                <button type="button" id="btn-search" class="btn btn-success m-l-auto"><i class="fa fa-search">&nbsp;</i>&nbsp;Tìm kiếm</button>
                            </span>
                            <div class="m-l-auto">

                                <button type="button" id="btn-not" class="btn btn-success m-l-auto"><i class="fa fa-download">&nbsp;</i>&nbsp;Danh sách chưa khai báo </button>
                                <button type="button" id="btn-Export" class="btn btn-success m-l-auto"><i class="fa fa-download">&nbsp;</i>&nbsp;Danh sách đã khai báo </button>
                                @*<div class="modal" id="myModal" role="dialog" data-url='@Url.Action("ExportToExcel","ManageEmployeesInfo", new { id = @Url.RequestContext.RouteData.Values["id"] })' style="margin-top:50px"></div>*@

                            </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                <thead class="thead-light">
                                    <tr>
                                        <th width="30px" class="text-center">STT</th>
                                        <th width="" class="text-center">Mã Nhân Viên</th>
                                        <th width="" class="text-center">Họ Tên</th>
                                        <th width="" class="text-center">Phòng Ban</th>
                                        <th width="" class="text-center">CMND/ Hộ Chiếu</th>
                                        <th width="" class="text-center">CCCD/ Mã Định Danh</th>
                                        <th width="" class="text-center">Hình Ảnh</th>
                                        <th width="" class="text-center">Xác nhận thông tin</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int pageno = (int)Model.PageNumber;
                                        int itemperpage = (int)Model.PageSize;
                                        int RowNo = ((pageno - 1) * itemperpage) + 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-center">@RowNo@{RowNo++;}</td>
                                            <td class="text-center">@item.MaNV</td>
                                            <td class="text-center">@item.HoTen</td>
                                            <td class="text-center">@item.PhongBan</td>
                                            <td class="text-center">@item.CMND</td>
                                            <td class="text-center">@item.CCCD</td>
                                           

                                            <td class="text-center">
                                                @if (item.FileHinh != null && item.FileHinh != "")
                                                {
                                                    <a href="@item.FileHinh" target="_blank"><i class="fa fa-download mr-3"></i>Tải về</a>
                                                }

                                            </td>
                                            @if (item.XacNhan == true)
                                            {
                                        <td class="text-center">
                                            Đã Xác Nhận
                                            <a title="Mở khóa" class="fa fa-retweet pull-right" id="@item.IDThongTin" href="@Url.Action("Upload","ManageEmployeesInfo", new { id = item.IDThongTin })"></a>
                                        </td>
                                            }
                                            else
                                            {
                                                <td class="text-center">
                                                    Chưa Xác Nhận
                                                </td>
                                            }


                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="pager">
                                @Html.PagedListPager(Model, page => Url.Action("Index", "ManageEmployeesInfo", new { page }))
                                <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
            </div>
        </div>
    </div>


</div>


<script type="text/javascript">


    $('#btn-Export').click(function () {
        var search = $('#txtsearch').val();
        var IDPhongBan = $('#IDPhongBan').val();
        window.location.href = '@Url.Action("ExportToExcel", "ManageEmployeesInfo")?IDPhongBan=' + IDPhongBan +"&search="+search;
    });
    $('#btn-not').click(function () {
        var IDPhongBan = $('#IDPhongBan').val();
        window.location.href = '@Url.Action("ExportnotDeclaration", "ManageEmployeesInfo")?id=' + IDPhongBan;
    });
    $("#btn-search").on('click', function () {
         var search = $('#txtsearch').val();
        var IDPhongBan = $('#IDPhongBan').val();
        window.location.href = '@Url.Action("Index", "ManageEmployeesInfo")?search=' + search + '&IDPhongBan=' + IDPhongBan;
    });

    $("#IDPhongBan").chosen({
        width: "100%"
    });

</script>


<style>
    .chosen-container-single .chosen-single {
        color: #495057;
        background: #fff;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.8;
        text-transform: capitalize;
    }

        .chosen-container-single .chosen-single span {
            text-transform: capitalize !important;
            font-size: 16px !important;
        }
</style>