@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Organizational/Views/Shared/_Layout.cshtml";
}
@using SoDoToChuc.Models
@using EPORTAL.ModelsOrganizational
@{
    SoDoToChucEntities db_context = new SoDoToChucEntities();
}
@*<div style="height: 50px;display: flex;margin-bottom:10px">
        <div style="background-color: #0a9cd4;clip-path: polygon(0 0, 91% 0, 100% 100%, 0% 100%);color: white;width: 30%; padding-top: 10px;">
            <h2 style="font-size: 1.5rem;">HÒA PHÁT DUNG QUẤT</h2>
        </div>
        <div class="tophead"></div>
    </div>*@
<div class="row  row_bgdls" style="padding-left:0 !important; ">
    <div class="col-xl-3 col-md-3 logo_bgd" style="">
        <div style="margin: auto; " class="boxII">
            <img src="~/Areas/Organizational/Content/assets/img/30 - BGĐ Curves 1.png" alt="">
        </div>
    </div>

    <div class="col-xl-9 col-md-9 bgd-list" style="  ">
        <div class="row align-self-center scroll-Custom" style="padding-left: 9%;flex-wrap:nowrap;  overflow: auto;  display: flex;" id="menubgd">
            @{
                //var bgd = db_context.NhanVienAPIs.Where(x => x.IDPhongBan == 1 && x.IDTinhTrangLV == 1).OrderBy(x => x.TT_BGD);
                var bgd = ViewBag.dataBGD;
                if (bgd != null)
                {
                    foreach (var item in bgd)
                    {
                        <div class="col boxI" style="min-width:180px; max-width:195px ">
                            <div style="border-radius: 5px;display:flex;" class="boxItem">
                                @*@{
                                        var a = db_context.NhanVienPVSXes.Where(x => x.MaNV == item.MaNV).SingleOrDefault();
                                        <img src="@Url.Content("~/Images/" + System.IO.Path.GetFileName(a.ImagePath))" class="d-block w-100 m-auto" alt="" />
                                    }*@
                                <img src="@Url.Content("~/Images/" + System.IO.Path.GetFileName(item.ImagePath))" onerror="this.src='/Areas/Organizational/Content/assets/img/Avatar_def.png'" class="d-block w-100 m-auto" alt="" />
                            </div>
                            <h6 style="text-align: initial; color: #05418a;padding-left:10px">@item.HoTen</h6>
                            <p style="text-align: initial; color: #0097d0;padding-left:10px">@item.TenViTri</p>
                        </div>
                    }
                }
            }
        </div>
    </div>

</div>
@{
    var dataNS = ViewBag.DataNS;
}

<div class="row tabI" style="">
    <div class="col-xl-3 col-md-3"><h4>Thông tin chung</h4></div>
    <div class="col-xl-3 col-md-3 ">
        <h4 style="color: #05418a;">@String.Format("{0:n0}", @dataNS.nshc)</h4>
        <h5>Nhân sự hành chính</h5>
    </div>
    <div class="col-xl-3 col-md-3 border_item" style="">
        <h4 style="color: #05418a;">@String.Format("{0:n0}", @dataNS.ns1ca)</h4>
        <h5>Nhân sự ca sản xuất</h5>
    </div>
    @*<div class="col-xl-2 col-md-2" style="border-left:solid 1px">
            <h4 style="color: #05418a;">@dataNS.tongtolv</h4>
            <h5>Tổng số tổ</h5>
        </div>*@
    <div class="col-xl-3 col-md-3 border_item" style="">
        <h4 style="color: #05418a;">@String.Format("{0:n0}", @dataNS.TongNS)</h4>
        <h5>Tổng số nhân sự</h5>
    </div>
</div>

<div class=" genealogy-body genealogy-scroll col-sm" style="padding-left:15px">

    @*<div style="text-align: initial;padding-top: 10px;">
            <h6>Vốn đầu tư: 52 nghìn tỉ đồng</h6>
            <h6>Quy mô: 400 ha</h6>
            <h6>Công suất: 4 triệu tấn/năm</h6>
        </div>*@
    <div class="genealogy-tree  row">
        @*<div class="title-news-event">
                Sơ đồ tổ chức
            </div>*@
        <ul class="tree-edit">
            <li>
                <a href="javascript:void(0);" id="bgd" class="iTem boX">
                    <div class="member-view-box">
                        <div class="member-details">
                            <h3>BAN GIÁM ĐỐC</h3>
                        </div>
                    </div>
                </a>
                <ul style="display:  none; padding-top: 0px;" id="details-bgd">
                    @{
                        //var res = db_context.NhanVienPVSXes.Where(x => x.IDPhongBan == 1 && x.CapBac == 1).OrderBy(x => x.TT_BGD);
                        if (bgd != null)
                        {
                            foreach (var item in bgd)
                            {
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);" class="iTem mainbox">
                                            <div class="member-view-box">
                                                <div class="member-tag">
                                                    <div class="left-member">
                                                        <div style="border-radius: 50%;width: 40px;height: 40px; margin: auto;background-color: darkgoldenrod;">
                                                            @*@{
                                                                    var a = db_context.NhanVienPVSXes.Where(x => x.MaNV == item.MaNV).SingleOrDefault();
                                                                    <img src="@Url.Content("~/Images/" + System.IO.Path.GetFileName(a.ImagePath))" class="d-block w-100 m-auto" alt="" />
                                                                }*@
                                                            <img src="@Url.Content("~/Images/" + System.IO.Path.GetFileName(item.ImagePath))" class="d-block w-100 m-auto" onerror="this.src='/Areas/Organizational/Content/assets/img/Avatar_def.png'" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="right-member">
                                                        <h3>@item.HoTen</h3>
                                                        <p style="margin-bottom: 0;text-align:left;">@item.TenViTri</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            }
                        }
                    }

                </ul>

                <ul class="active">
                    <!-- Khối 1 -->
                    <li style="display:none;" class="block">
                        <a href="javascript:void(0);" class="iTem boX">
                            <div class="member-view-box">
                                <div class="member-details">
                                    <h3>KHỐI PHỤC VỤ SẢN XUẤT</h3>
                                </div>
                            </div>
                        </a>
                        <ul>
                            @*Nhánh 1*@
                            <li>
                                @{
                                    var result = db_context.PhongBans.Where(x => x.NhomID == 1).ToList();
                                    var n = result.Count() / 2 + result.Count() % 2;

                                    for (var a = 0; a < n; a++)
                                    {

                                        <ul>
                                            @{
                                                int idpb = (int?)@result[a].IDPhongBan ?? 0;
                                                ViewBag.IDPB = @result[a].IDPhongBan;

                                            }

                                            <a href="javascript:void(0);" class="iTem mainbox pbshow " id=@idpb>
                                                <div class="member-view-box">
                                                    <div class="member-details" id="ten_@idpb">
                                                        <h3>
                                                            @result[a].TenPhongBan
                                                        </h3>
                                                    </div>
                                                </div>
                                            </a>
                                        </ul>
                                        <div style="background-color: #f7f7f7;margin-top:15px;display:none;width:250px; " id="show_@idpb" class="modalpb">
                                            <div class="row align-self-center" style="flex-wrap: wrap;" id="tp_@idpb"></div>

                                            <div style="height: 40px; display: flex;  " class="tag-item">
                                                <div style="" class="tag-name"> <i class="fas fa-users"></i> <b>Nhân sự(người): <span id="tongns_@idpb"></span></b> </div>
                                            </div>
                                            <div style=" display: flex; " class="tag-item" id="qd_@idpb">
                                            </div>
                                            <div style=" display: flex; " class="tag-item" id="tpt_@idpb">
                                            </div>
                                            <div id="nhom_@idpb">
                                            </div>
                                        </div>

                                    }
                                }
                            </li>
                            @*Nhánh 2*@
                            <li>

                                @{

                                    for (var a = n; a < result.Count(); a++)
                                    {
                                        <ul>
                                            @{
                                                int idpb = (int?)@result[a].IDPhongBan ?? 0;


                                            }
                                            <a href="javascript:void(0);" class="iTem mainbox pbshow" id=@idpb>
                                                <div class="member-view-box">
                                                    <div class="member-details" id="ten_@idpb">
                                                        <h3>
                                                            @result[a].TenPhongBan
                                                        </h3>
                                                    </div>
                                                </div>
                                            </a>
                                        </ul>

                                        <div style="background-color: #f7f7f7;margin-top:15px;display:none;width:250px; " id="show_@idpb" class="modalpb">
                                            <div class="row align-self-center" style="flex-wrap: wrap;" id="tp_@idpb">

                                            </div>

                                            <div style="height: 40px; display: flex;  " class="tag-item">
                                                <div style="" class="tag-name"> <i class="fas fa-users"></i> <b>Nhân sự(người): <span id="tongns_@idpb"></span></b> </div>
                                            </div>
                                            <div style=" display: flex; " class="tag-item" id="qd_@idpb">
                                            </div>
                                            <div style=" display: flex; " class="tag-item" id="tpt_@idpb">
                                            </div>
                                            <div id="nhom_@idpb"></div>
                                        </div>

                                    }
                                }

                            </li>

                        </ul>
                    </li>

                    <!-- Khối 2 -->
                    <li style="display:none;" class="block">
                        <a href="javascript:void(0);" class="iTem boX">
                            <div class="member-view-box">
                                <div class="member-details">
                                    <h3>KHỐI SẢN XUẤT</h3>
                                </div>
                            </div>
                        </a>
                        @{
                            var re = db_context.PhongBans.Where(x => x.NhomID == 2).ToList();
                            foreach (var item in re)
                            {
                                var idpb = item.IDPhongBan;
                                <ul class=" @(item ==re[0]?"ulnm":"") " style="padding-top: @(item ==re[0]?"40px":"")">
                                    <li>
                                        <a href="javascript:void(0);" class="iTem mainbox pbshow" id=@idpb>
                                            <div class="member-view-box">
                                                <div class="member-details" id="ten_@idpb">
                                                    <h3>
                                                        @item.TenPhongBan
                                                    </h3>
                                                </div>
                                            </div>
                                        </a>

                                    </li>
                                </ul>
                                <div style="background-color: #f7f7f7; margin-top: 15px; display: none; width: 250px;margin-left:30px" id="show_@idpb" class="modalpb">
                                    <div class="row align-self-center" style="flex-wrap: wrap;" id="tp_@idpb">

                                    </div>

                                    <div style="height: 40px; display: flex;  " class="tag-item">
                                        <div style="" class="tag-name"> <i class="fas fa-users"></i> <b>Nhân sự(người): <span id="tongns_@idpb"></span></b> </div>
                                    </div>

                                    <div id="px_@idpb"></div>


                                </div>
                            }
                        }


                    </li>
                    <!-- khối 3 -->
                    <li style="display:none" class="block">

                        <a href="javascript:void(0);" class="iTem boX">
                            <div class="member-view-box">
                                <div class="member-details">
                                    <h3>CÔNG TY CON</h3>
                                </div>
                            </div>
                        </a>
                        @{
                            var com = db_context.PhongBans.Where(x => x.NhomID == 3).ToList();
                            foreach (var item in com)
                            {
                                <ul class="ulnm" style="padding-top: @(item ==com[0]?"40px":"")">
                                    <li>
                                        <a href="javascript:void(0);" class="iTem mainbox">
                                            <div class="member-view-box">
                                                <div class="member-details">
                                                    <h3>
                                                        @item.TenPhongBan
                                                    </h3>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- modal -->
                                        <div class="modal" id="modal_43">
                                            <div class="modal-content">
                                                <h6>Nhân sự(người): 0 <br>T/PBP: 0 <br></h6>

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            }
                        }
                        <!--<ul style="padding-top: 40px;" class="ulnm">
                        <li>
                            <a href="javascript:void(0);" class="iTem mainbox">
                                <div class="member-view-box">
                                    <div class="member-details">
                                        <h3>
                                            FERRO<span style="right: 0" class="btn" id="40"><i class="fa fa-bars"></i></span>
                                        </h3>
                                    </div>
                                </div>
                            </a>-->
                        <!-- modal -->
                        <!--<div class="modal" id="modal_40">
                                    <div class="modal-content">
                                        <div class="modal-content">
                                            <h6>Nhân sự(người): 0 <br>T/PBP: 0 <br></h6>

                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>-->

                        <ul>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>


</div>
@*highchart nhân sự*@
<div class="row flex-row menuNS" style="padding-left:30px;flex-wrap:nowrap;margin-right:0px;">
    <div class="menuInfo col-2 row" style="border-radius: 5px; border: 1px solid #bcbcbc;background-color: white;padding:40px 0;margin-bottom:30px;margin-left:10px;">
        <div class="list_level_wrap col-xs-3"><span class="dot " style="background-color: #FB7800;"></span><div class="list_level" style="color: #05418A;">Trưởng/Phó Bộ Phận</div></div>
        <div class="list_level_wrap col-xs-3"><span class="dot " style="background-color: #C70606; margin-top:10px"></span><div class="list_level" style="color: #05418A; width: 170px ">Quản Đốc/Phó Quản Đốc/Trưởng Phụ Trách/PB GPMB</div></div>
        <div class="list_level_wrap col-xs-3"><span class="dot " style="background-color: #05418A; "></span><div class="list_level" style="color: #05418A; ">Phụ Trách</div></div>
        <div class="list_level_wrap col-xs-3"><span class="dot " style="background-color: #0097d0; "></span><div class="list_level" style="color: #05418A;">Trưởng/Phó Kíp</div></div>
        <div class="list_level_wrap col-xs-3"><span class="dot " style="background-color: #002954 "></span><div class="list_level" style="color: #05418A ">Kỹ Thuật Viên</div></div>
        <div class="list_level_wrap col-xs-3"><span class="dot " style="background-color: #506194"></span><div class="list_level" style="color: #05418A ">Tổ Trưởng/Tổ Phó</div></div>
        <div class="list_level_wrap col-xs-3"><span class="dot " style="background-color: #008d06; margin-top: 10px "></span><div class="list_level" style="color: #05418A; width: 170px ">Nhân Viên Hành Chính</div></div>
        <div class="list_level_wrap col-xs-3"><span class="dot " style="background-color: #001369; "></span><div class="list_level" style=" color: #05418A; ">Nhân Viên Ca/Kíp</div></div>
        @*<div class="list_level_wrap"><span class="dot" style="background-color: orange;"></span><div class="list_level" style=" color: #05418A; ">Phó Ban GPMB</div></div>*@
    </div>
    <div class="row col-9 menuRig col-xs-10" style=" " id="chartNV">
        <figure class="highcharts-figure-1" style="margin:auto">
            <div id="chart_total"></div>
            <p class="highcharts-description">
            </p>
        </figure>
    </div>
</div>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
<script>

    //$("#menubgd").draggable({
    //    cursor: "move",
    //    containment: "bgdwrap",
    //    stop: function () {
    //        if (jQuery("#menubgd").position().left < 1)
    //            jQuery("#menubgd").css("left", "720px");
    //    }
    //});

    $(document).ready(function () {

        //Highchart Total
        $.getJSON("/HomeSDTC/GetDataNS", function (data) {
            $.getJSON("/HomeSDTC/GetDataNSDB", function (datadb) {
                Highcharts.chart('chart_total', {
                    chart: {
                        type: 'bar',
                        style: {
                            fontFamily: 'monospace',
                            color: "#f00"
                        },
                        /*plotBackgroundImage: '/content/assets/img/HOATIET.png'*/
                    },
                    title: {
                        text: ''
                    },
                    subtitle: {
                        text: ''
                    },
                    exporting: {
                        enabled: false
                    },
                    xAxis: {
                        categories: ['T/PBP', 'QĐ/PQĐ/TPT/PBGPMB', 'PT', 'T/P Kíp', 'KTV', 'Tổ Trưởng/Tổ Phó', 'NV Hành Chính', 'NV Ca/Kíp'],
                        title: {
                            text: null
                        },
                        labels: {
                            style: {
                                color: '#05418A',
                                font: '11px Trebuchet MS, Verdana, sans-serif',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: '',
                            align: 'high'
                        },
                        labels: {
                            overflow: 'justify',
                            style: {
                                color: '#05418A',
                                font: '11px Trebuchet MS, Verdana, sans-serif',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    tooltip: {
                        valueSuffix: ''
                    },
                    plotOptions: {
                        bar: {
                            dataLabels: {
                                enabled: true
                            },
                            borderRadiusTopLeft: 10,
                            borderRadiusTopRight: 10

                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'top',
                        x: -40,
                        y: 80,

                        floating: true,
                        enabled: false,
                        borderWidth: 1,
                        backgroundColor:
                            Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
                        shadow: true
                    },
                    credits: {
                        enabled: false
                    },
                    series: [{
                        name: 'Định biên',
                        data: [{ y: datadb.TPTotal, color: '#FB7800', }, { y: datadb.QDTotal, color: '#C70606' }, { y: datadb.PTTotal, color: '#05418A' }, { y: datadb.TPKipTotal, color: '#0097d0' }, { y: datadb.KTVTotal, color: '#002954' }, { y: datadb.TTTPTotal, color: '#506194' }, { y: datadb.NVVPC, color: '#008d06' },  { y: datadb.NVTotal, color: '#001369' }]
                    },
                    {
                        name: 'Thực tế',
                        data: [{ y: data.TPTotal, color: '#FB7800', }, { y: data.QDTotal, color: '#C70606' }, { y: data.PTTotal, color: '#05418A' }, { y: data.TPKipTotal, color: '#0097d0' }, { y: data.KTVTotal, color: '#002954' }, { y: data.TTTPTotal, color: '#506194' }, { y: data.NVVPC, color: '#008d06' }, { y: data.NVTotal, color: '#001369' }]
                    }
                    ]
                });
            });
        });


        // var modal =$('.modal');
        // var btn =$('.btn');
        // var cls =$('.close');
        //$("#menubgd").animate({ 'padding-left': "9%" }, {
        //    queue: false,
        //    duration: 1000
        //})
        $(window).scroll(function () {
            var y = $(".menuInfo").offset();
            var tree = $(".genealogy-tree").offset();
            if ($(window).scrollTop() > tree.top / 2 - 300) {
                $(".block").show(4000);
            }
            if (($(window).scrollTop() > y.top - 500) && y.top > 1300) {
                $(".menuInfo").addClass("lef");
                $("#chartNV").addClass('rig')
            }
        })
        $("#bgd").click(() => {
            /* console.log($("#details-bgd").css("display"));*/
            if ($("#details-bgd").css("display") == "none") { $("#details-bgd").show(1000); $("#details-bgd").css({ "display": "block" }); } else $("#details-bgd").hide(1000);
        })
        $('.pbshow').click(function () {

            var x = $(this).offset();
            var a = $('#show_' + $(this).attr('id')).css("display");
            var id = $(this).attr('id');
            if (a == "none") {
                $('#tp_' + id).empty();
                $('#nhom_' + id).empty();
                $('#tongns_' + id).empty();
                $('#px_' + id).empty();
                $('#qd_' + id).empty();
                $('#tpt_' + id).empty();
                $.getJSON("/HomeSDTC/getDataBP", { idpb: $(this).attr('id') }, function (data) {
                    $('#tongns_' + id).append(data.tongns);
                    data.slqdpb > 0 ? $('#qd_' + id).append(`<div class="tag-left-pt d-flex flex-row" style="padding-left:0">QĐ/PQĐ: ${data.slqdpb} </div>`) : $('#qd_' + id).empty();
                    data.sltptpb > 0 ? $('#tpt_' + id).append(`<div class="tag-left-pt d-flex flex-row" style="padding-left:0">Trưởng Phụ Trách: ${data.sltptpb} </div>`) : $('#tpt_' + id).empty();
                    //list tp
                    for (var i = 0; i < data.listtp.length; i++) {
                        var aa = data.listtp[i].ImagePath;
                        var fileNameIndex = "", filename = "";
                        if (aa != null) {
                            fileNameIndex = aa.lastIndexOf("/") + 1;
                            filename = aa.substr(fileNameIndex);
                        }

                        const a = ` <div class="col flex2" style="margin-bottom:10px">
                                      <div style="border-radius: 5px;border: 1px solid #c8c8c8;display:flex;height:120px;width:120px; margin:auto">
                                         <img src="/Images/${filename}" class="d-block w-100 m-auto" alt="" onerror="this.src='/Areas/Organizational/Content/assets/img/Avatar_def.png'" />
                                      </div>
                                      <div style="text-align: initial; color: #05428c; font-weight: bold; font-size: 0.7vw;margin-left:10px;white-space: pre-wrap;word-wrap: break-word;width:110px  ">${data.listtp[i].HoTen}</div>
                                      <div style="text-align: initial; color: #0097d0; font-size: 0.7vw;font-weight:600;margin-left:10px">${data.listtp[i].TenViTri}</div>
                                    </div>`;
                        $('#tp_' + id).append(a);
                    }
                    //list nhóm
                    for (var i = 0; i < data.listnhom.length; i++) {
                        const a = `<div class="${data.listnhom[data.listnhom.length - 1] == data.listnhom[i] ? 'tag-left-end' : 'tag-left'}">
                                                        <div class="flex-row d-flex tag-left-row " style="width:110%"> <div class="tag-left-sl">${i + 1}</div> <span class="txt-over" > ${data.listnhom[i].TenNhom}</span> </div>
                                                        @*<p>- Phụ trách: @dspt <br>- KTV: @nhomI.SLKTV</p>*@
                                                        <div class="tag-left-pt d-flex flex-row">Phụ trách:  ${data.listnhom[i].slpt} </div>
                                                        <div class="tag-left-pt d-flex flex-row" >KTV:   ${data.listnhom[i].slktv}</div>
                                                        <div class='tag-left-pt d-flex flex-row' >Nhân Viên:   ${data.listnhom[i].slnv}</div>
                                                    </div>`;
                        $('#nhom_' + id).append(a);
                    }
                    //list phân xưởng
                    for (var i = 0; i < data.listpx.length; i++) {
                        const a = `<div class="${data.listpx[data.listpx.length - 1] == data.listpx[i] ? 'tag-left-end' : 'tag-left'}" style="height:150px">
                                            <div class="flex-row d-flex tag-left-row "> <div class="tag-left-sl">${i + 1}</div>  ${data.listpx[i].TenPhanXuong}  </div>
                                            @*<p>- Phụ trách: @dspt <br>- KTV: @nhomI.SLKTV</p>*@
                                            <div class="tag-left-pt d-flex flex-row">QĐ/PQĐ: ${data.listpx[i].slqd} </div>
                                            <div class="tag-left-pt d-flex flex-row" style="display:${data.listpx[i].slpt ==0&&'none !important'}">Phụ trách: ${data.listpx[i].slpt} </div>
                                            <div class="tag-left-pt d-flex flex-row">Trưởng/Phó Kíp: ${data.listpx[i].sltpk} </div>
                                            <div class="tag-left-pt d-flex flex-row" >KTV:  ${data.listpx[i].slktv}</div>
                                            <div class="tag-left-pt d-flex flex-row" >Nhân Viên:  ${data.listpx[i].slnv}</div>
                                        </div>`;
                        $('#px_' + id).append(a);
                    }
                });
            }

            $('.modalpb').hide(1000);
            if (a == "none") {
                $('#show_' + $(this).attr('id')).css({ "display": "block" });
                /*$(this).addClass("tag-temp")*/
            } else {
                $('#show_' + $(this).attr('id')).hide(1000);
                /* $(this).removeClass("tag-temp")*/
            }
            /* $(window).scrollTop(x.top - 500)*/
            /* $('.modalpb').hide();*/
            /* $('#show_' + $(this).attr('id')).show();*/
        })
        $('.close').click(() => {
            $('.modal').hide();
        })
        $(window).on('click', function (e) {
            if ($(e.target).is('.modal')) {
                $('.modal').hide();
            }
        });

        $("#sidebarToggle").on('click', function (e) {
            var display = $("#menuColap").css("display");
            if (display != "none") {
                $("#menuColap").hide(1000);

            }
            else $("#menuColap").show("slow")
            // $("body").toggleClass("sidebar-toggled");
            // $(".sidebar").toggleClass("toggled");
            // if ($(".sidebar").hasClass("toggled")) {
            //    $('.sidebar .collapse').collapse('hide');
            // };
        });


    })

    const scrollContainer = document.querySelector("#menubgd");

    scrollContainer.addEventListener("wheel", (evt) => {
        evt.preventDefault();
        scrollContainer.scrollLeft += evt.deltaY;
    });


</script>
