@model EPORTAL.ModelsPartner.NT_AuthorityValidation

@using (Html.BeginForm("Edit", "ListAuthority", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "submitForm(event)" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)
    <div class="modal-dialog" id="form">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ModalTitle"></h5>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <fieldset id="SubmitForm">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Tên người đại diện</label>
                                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "FullName", @text = "" } })
                                <span id="ErrorFullName" style="color: red; text-transform: none; font-weight: normal "></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Chức vụ</label>
                                @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "Position", @text = "" } })
                                <span id="ErrorPosition" style="color: red; text-transform: none; font-weight: normal "></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">CCCD</label>
                                @Html.EditorFor(model => model.CCCD, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "CCCD", @text = "" } })
                                <span id="ErrorCCCD" style="color: red; text-transform: none; font-weight: normal "></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Email</label>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "Email", @text = "", @onchange = "ValidateEmail();" } })
                                <span id="ErrorMail" style="color: red; text-transform: none; font-weight: normal"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Số điện thoại</label>
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "Phone", @text = "", @onchange = "phonenumber();" } })
                                <span id="ErrorSdt" style="color: red; text-transform: none; font-weight: normal "></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Đại diện nhà thầu</label>
                                @Html.DropDownListFor(model => model.BPID, ViewBag.BPList as SelectList, "--Chọn nhà thầu--", new { @id = "BPID", @class = "form-control" })
                                <span id="ErrorBPID" style="color: red; text-transform: none; font-weight: normal "></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1">Ngày bắt đầu</label>
                                @Html.TextBox("Begindate", null, new { @id = "Begindate", @type = "date", @class = "form-control", @Value = ViewBag.Begindate })
                                @*@Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1">Ngày kết thúc</label>
                                @Html.TextBox("Enddate", null, new { @id = "Enddate", @type = "date", @class = "form-control", @Value = ViewBag.Enddate })
                                @*@Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">File scan ủy quyền</label>
                                @*@Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div class="col-md-10">
                                    <input type="file" name="File" />
                                </div>
                                @Html.HiddenFor(model => model.File_Scan, new { @id = "File_Scan" })
                                @*<p></p>
                                    @if (Model.File_Scan != null && Model.File_Scan != "")
                                    {<a target="_blank" href="@Url.Content("~/UploadedFiles/Authority" + System.IO.Path.GetFileName(@Model.File_Scan))"><i class="fa fa-download mr-3"></i>Tải về</a>}*@
                            </div>
                        </div>
                    </div>
                    <div class="btn-margin-top text-center">

                        <input type="submit" value="Xác nhận" class="btn btn-success button_submit" />

                    </div>

                </fieldset>

            </div>
        </div>
    </div>

}
<script type="text/javascript">
    $("#BPID").chosen({
        width: "100%"
    });
    //$("#ChucVuID").chosen({
    //    width: "100%"
    //});
    //$("#IDNhom").chosen({
    //    width: "100%"
    //});
    function checkfile(sender) {
        var validExts = new Array(".pdf");
        var fileExt = sender.value;
        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
        if (validExts.indexOf(fileExt) < 0) {
            alert("Vui lòng chọn file Excel: " +
                validExts.toString() + "");
            $('#FileUpload').val() = '';
            return false;
        }
        else { return true; }
    };
</script>



