@model EPORTAL.ModelsView360.NT_Partner
@using (Html.BeginForm("Create", "ListPartner", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "submitForm(event)" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog" id="form">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ModalTitle"></h5>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <fieldset id="SubmitForm">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Business Partner</label>
                                @Html.TextBox("BPID", null, new { @id = "BPID", @type = "number", @class = "form-control"})
                                @*@Html.ValidationMessageFor(model => model.BPID, "", new { @class = "text-danger" })*@
                                <span id="ErrorBPID" style="color: red; text-transform: none; font-weight: normal "></span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Customer</label>
                                @Html.EditorFor(model => model.Customer, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "Customer" } })
                            </div>
                        </div>
                        
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Vendor</label>
                                @Html.EditorFor(model => model.Vendor, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "Vendor" } })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Tên nhà thầu</label>
                                @Html.TextArea("FullName", null, new { @class = "form-control" })
                                <span id="ErrorFullName" style="color: red; text-transform: none; font-weight: normal "></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Taxcode</label>

                                @Html.EditorFor(model => model.Taxcode, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "Taxcode" } })
                                @*@Html.ValidationMessageFor(model => model.V_BKS, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Địa chỉ</label>
                                @Html.TextArea("Address", null, new { @class = "form-control" })
                                @*@Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "Address" } })*@
                                @*@Html.ValidationMessageFor(model => model.V_BKS, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Email</label>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "Email", @onchange = "ValidateEmail();" } })
                                <span id="ErrorMail" style="color: red; text-transform: none; font-weight: normal "></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Tên ngắn</label>
                                @Html.EditorFor(model => model.ShortName, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "ShortName" } })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">CodeUnis</label>
                                @Html.EditorFor(model => model.CodeUnis, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "CodeUnis" } })
                            </div>
                        </div>



                    </div>
                    <div class="btn-margin-top text-center">

                        <input type="submit" value="Xác nhận" class="btn btn-success button_submit" />

                    </div>

                </fieldset>

            </div>
        </div>
    </div>
}


<script type="text/javascript">
    //$("#btncreate").on('click', function () {

    //    if (checkBPID() == false) {
    //        alert('Mã BP đã tồn tại!');
    //        return false;
    //    };
    //    return true;

    //});

</script>

<script>
    //function checkfile(sender) {
    //    var validExts = new Array(".pdf");
    //    var fileExt = sender.value;
    //    fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
    //    if (validExts.indexOf(fileExt) < 0) {
    //        alert("Vui lòng chọn file Excel: " +
    //            validExts.toString() + "");
    //        $('#FileUpload').val() = '';
    //        return false;
    //    }
    //    else { return true; }
    //};
</script>

