@{
    Layout = null;
}
@model EPORTAL.Models.LoginValidation
<!DOCTYPE html>
@using EPORTAL.ModelsView360;
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-free-6.0.0-web/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/login.css" rel="stylesheet" />
</head>
<body class="bg-login" onselectstart="return false" oncontextmenu="return false">
    @if (TempData["msgSuccess"] != null)
    {
        @Html.Raw(TempData["msgSuccess"])
    }
    @if (TempData["msgError"] != null)
    {
        @Html.Raw(TempData["msgError"])
    }
    <div id="bg_container">
        <iframe class="ku-embed" frameborder="0" allowfullscreen allow="xr-spatial-tracking; gyroscope; accelerometer" scrolling="no" src="https://kuula.co/share/collection/7qVVl?logo=1&info=0&logosize=40&fs=1&vr=1&zoom=1&autorotate=0.1&autop=10&autopalt=1&thumbs=4"></iframe>

    </div>
    <div id="content">
        <div class="container" style="height:100vh">
            <div class="main-content">
                <div class="content-centered">

                    @*Form Login*@

                    <div class="card shadow-lg border-0 rounded-lg" style="">
                        <div class="card-header">
                            <img src="~/Content/images/logo-inverse.png" style="width:100%; height:auto; max-width:230px; margin: 0 auto;" />
                        </div>
                        <div class="card-body">

                            <p class="text-center font-weight-light" style="text-transform: uppercase; font-weight: bold !important;">Cập nhật chữ ký</p>
                            @using (Html.BeginForm("Signature", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.ID)
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <fieldset id="SubmitForm">

                                    <div class="col-md-12" style="text-align:center;">
                                        @{
                                            EPORTALEntities db = new EPORTALEntities();
                                            int IDNV = EPORTAL.ModelsTagSign.MyAuthentication.ID != null ? EPORTAL.ModelsTagSign.MyAuthentication.ID : 0;
                                            var ChuKy = db.NhanViens.Where(x => x.ID == IDNV).FirstOrDefault();
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label class="small mb-1" for="inputLastName">Chữ ký nháy</label> <br />

                                                    @if (ChuKy.Chukynhay == null)
                                                    {
                                                        <span> 
                                                            <b>
                                                                Chưa có chữ ký
                                                            </b>
                                                       </span>
                                                    }
                                                    else
                                                    {
                                                        <img src="@Url.Content("~/UploadedFiles/Signature/" + System.IO.Path.GetFileName(ChuKy.Chukynhay))" class="d-block w-25 m-auto" alt="" />
                                                    }
                                                </div>
                                                <div class="form-group col-md-12">

                                                    <div class="col-md-10">
                                                        <input type="file" name="ImgChukynhay" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label class="small mb-1" for="inputLastName">Chữ ký chính</label> <br />
                                                    @if (ChuKy.Chukychinh == null)
                                                    {
                                                        <span> 
                                                            <b>
                                                                Chưa có chữ ký
                                                            </b>
                                                       </span>
                                                    }
                                                    else
                                                    {
                                                        <img src="@Url.Content("~/UploadedFiles/Signature/" + System.IO.Path.GetFileName(ChuKy.Chukychinh))" class="d-block w-25 m-auto" alt="" />
                                                    }
                                                </div>
                                                <div class="form-group col-md-12">

                                                    <div class="col-md-10">
                                                        <input type="file" name="ImgChukychinh" />
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                    <div class="form-group">
                                        <button id="ChangePassword" type="submit" class="form-control btn btn-primary submit px-3"><strong>Cập nhật</strong></button>
                                    </div>

                                </fieldset>
                           }
                         </div>
                    </div>

                    @*End Form Login*@

                </div>
            </div>
        </div>


    </div>
    <script language="JavaScript">
        window.onload = function () {
            document.addEventListener("contextmenu", function (e) {
                e.preventDefault();
            }, false);
            document.addEventListener("keydown", function (e) {
                //document.onkeydown = function(e) {
                // "I" key
                if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
                    disabledEvent(e);
                }
                // "J" key
                if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
                    disabledEvent(e);
                }
                // "S" key + macOS
                if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                    disabledEvent(e);
                }
                // "U" key
                if (e.ctrlKey && e.keyCode == 85) {
                    disabledEvent(e);
                }
                // "F12" key
                if (event.keyCode == 123) {
                    disabledEvent(e);
                }
            }, false);

            function disabledEvent(e) {
                if (e.stopPropagation) {
                    e.stopPropagation();
                } else if (window.event) {
                    window.event.cancelBubble = true;
                }
                e.preventDefault();
                return false;
            }
        };
    </script>
</body>
</html>


<script>

    function checkPasswordStrength() {
        var number = /([0-9])/;
        var alphabets = /([a-zA-Z])/;
        var special_characters = /([~,!,@@,#,$,%,^,&,*,-,_,+,=,?,>,<])/;
        if ($('#MatKhau').val().length < 6) {
            $('#password-strength-status').removeClass();
            $('#password-strength-status').addClass('weak-password');
            $('#password-strength-status').html("Yếu (Mật khẩu nên có ít nhất 6 ký tự.)");
            return false;
        } else {
            if ($('#MatKhau').val().match(number) && $('#MatKhau').val().match(alphabets) && $('#MatKhau').val().match(special_characters)) {
                $('#password-strength-status').removeClass();
                $('#password-strength-status').addClass('strong-password');
                $('#password-strength-status').html("Tốt");
                return true;
            } else {
                $('#password-strength-status').removeClass();
                $('#password-strength-status').addClass('medium-password');
                $('#password-strength-status').html("Trung bình (Mật khẩu nên có ký tự số, ký tự đặc biệt, chữ cái hoa, thường.)");
                return true;
            }
        }

    }
    function confirmpassword() {
        $('#password-strength-status').remove();
        return true;
    }
    $("#ChangePassword").on('click', function () {
        if (!checkPasswordStrength()) {
            alert("Mật khẩu mới chưa tốt")
            return false;
        } else if (!confirmpassword()) {
            alert("Xác nhận mật khẩu mới chưa đúng");
            return false;
        } else {
            alert("Bạn đã cập nhật mật khẩu thành công !");
            return true;
        }
    });
</script>


