
@model EPORTAL.Models.L_ThuVienFileValidation
@using (Html.BeginForm("Edit", "DocumentLibrary", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)
    <div class="modal-dialog" id="form">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ModalTitle"></h5>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <fieldset id="SubmitForm">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Tên tài liệu</label>
                                @Html.EditorFor(model => model.TenTaiLieu, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "TenTaiLieu", @Required = true } })
                                @*@Html.ValidationMessageFor(model => model.BPID, "", new { @class = "text-danger" })*@
                                <span id="ErrorBPID" style="color: red; text-transform: none; font-weight: normal "></span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">File tài liệu</label>
                                @*@Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div class="col-md-10">
                                    <input type="file" name="FileUpload" required />
                                </div>
                                @Html.HiddenFor(model => model.FileName)
                                <br />
                                <a class="" target="_blank" href="@Url.Content("~/UploadedFiles/Document/" + Model.FileName)">Xem file cũ <i class="fa-solid fa-download"></i></a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Nhóm tài liệu</label>
                                @Html.DropDownListFor(model => model.IDNhom, ViewBag.NhomTV as SelectList, "--Chọn nhóm tài liệu--", new { @id = "IDNhom", @class = "form-control", @Required = true })
                                <span id="ErrorIDTB" style="color: red; text-transform: none; font-weight: normal "></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Ghi chú</label>
                                @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "GhiChu" } })
                            </div>
                        </div>
                    </div>
                    <div class="btn-margin-top text-center">

                        <input type="submit" value="Xác nhận" class="btn btn-success button_submit" />

                    </div>

                </fieldset>

            </div>
        </div>
    </div>
}


<script type="text/javascript">
    //$("#btncreate").on('click', function () {

    //    if (checkBPID() == false) {
    //        alert('Mã BP đã tồn tại!');
    //        return false;
    //    };
    //    return true;

    //});

</script>



