<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Cổng thông tin điện tử HPDQ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/Content/assets/plotly-latest.min.js"></script>
    <script src="~/Content/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/fontawesome-free-6.0.0-web/css/all.min.css" rel="stylesheet" />

</head>
@using EPORTAL.ModelsView360;
@using EPORTAL.ModelsTagSign;
@using EPORTAL.Models
<body @*onselectstart="return false" oncontextmenu="return false"*@>
    @if (!User.Identity.IsAuthenticated)
    {

        Response.Redirect("~/Login");
    }
     @if(EPORTAL.Models.MyAuthentication.IDPhongban == 0)
    {
        Response.Redirect("~/Login");
    }
            @{
                            PhanQuyenHTEntities dbP = new PhanQuyenHTEntities();
                            EPORTAL_REGISTEREntities db_dk = new EPORTAL_REGISTEREntities();
                            int IDQuyenHT = EPORTAL.Models.MyAuthentication.IDQuyenHT;
                            //var listControll = dbP.A_QuyenCT.Where(x => x.IDQuyenHT == IDQuyenHT).Select(x => x.A_ListController.Controller).ToList();

                            var ListQuyen = EPORTAL.Models.MyAuthentication.GroupQuyen;
                            var listControll = dbP.A_QuyenCT.Where(x => x.IDQuyenHT == IDQuyenHT).Select(x => x.A_ListController.Controller).ToList();
                            if (ListQuyen != null && !String.IsNullOrEmpty(ListQuyen))
                            {
                                var grQuyen = ListQuyen.Split(',');
                                foreach (var item in grQuyen)
                                {
                                    int idq = Convert.ToInt32(item);
                                    var listControll2 = dbP.A_QuyenCT.Where(x => x.IDQuyenHT == idq).Select(x => x.A_ListController.Controller).ToList();
                                    if (listControll2.Count > 0)
                                    {
                                        foreach (var ls in listControll2)
                                        {
                                            listControll.Add(ls);
                                        }
                                    }
                                }
                            }

                            var showquanTri = 0;
                            var showKH_REPORT = 0;
                            var showSoDoToChuc = 0;
                            var showsdtc = 0;
                            var showQuanLyTB = 0;
                            var showQuanLyPT = 0;
                        }
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <div class="app-header header-shadow">
            <div class="app-header__logo">
                <div class="logo-src"></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="app-header__content">
                <div class="header-slogan">
                    <div class="widget-content">
                        <div class="slogan">
                            Cổng thông tin điện tử HPDQ
                        </div>
                    </div>
                </div>
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                            <img width="42" class="rounded-circle" src="~/Content/assets/images/avatars/adminlogo.jpg" alt="">
                                            <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                        </a>
                                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="@Url.Action("Logout", "Login", new { area = "" })">Đăng xuất</a>
                                            <a class="dropdown-item" href="@Url.Action("ChangePassword", "Login", new { area = "" })">Đổi mật khẩu</a>
                                            @{
                                                EPORTALEntities db = new EPORTALEntities();
                                                   int IDNV = EPORTAL.ModelsTagSign.MyAuthentication.ID != null ? EPORTAL.ModelsTagSign.MyAuthentication.ID : 0;
                                                if (IDNV != 0)
                                                {
                                                    <a class="dropdown-item" href="@Url.Action("Signature", "Login", new { area = "", id = IDNV })">Cập nhật chữ ký</a>
                                                }
                                              }
                                        </div>


                                    </div>
                                </div>
                                <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">
                                        @EPORTAL.Models.MyAuthentication.TenNV
                                    </div>
                                    <div class="widget-subheading">
                                        @*PNS*@
                                    </div>
                                </div>
                                <div class="widget-content-right header-user-info ml-3">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="app-main">
            <div class="app-sidebar sidebar-shadow" style="margin-top:1%;">
                <div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>
                <div id="divMenu" class="scrollbar-sidebar">
                    <div class="app-sidebar__inner">
                        <ul class="vertical-nav-menu">
                            <li class="app-sidebar__heading">Tổng quan</li>
                            <li>
                                <a id="Home" class="mm-active" href="@Url.Action("Index", "Home", new { area = "" })">

                                    <i class="fa-solid fa-bar-chart metismenu-icon"></i>
                                    Nhà thầu
                                </a>
                            </li>
                            <li>
                                <a id="" href="#">

                                    <i class="fa-solid fa-gauge metismenu-icon"></i>
                                    360 View
                                </a>
                            </li>

                            <li id="quanTri" style="display: none" class="app-sidebar__heading">Quản trị</li>
                            <li>
                                <a href="#" id="QLTK">
                                    <i class="metismenu-icon  fa fa-user-secret"></i>
                                    Quản lý tài khoản
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul id="listQLTK">
                                    @if (listControll.Contains("Account"))
                                    {
                                        <li>
                                            <a id="Account" href="@Url.Action("Index", "Account", new { area = "" })">
                                                <i class="fa-solid fa-users p-lg-1"></i>

                                                Tài khoản
                                            </a>
                                        </li>
                                        showquanTri = 1;
                                    }
                                    @if (listControll.Contains("STpermissions"))
                                    {
                                        <li>
                                            <a id="STpermissions" href="@Url.Action("Index", "STpermissions", new { area = "" })">
                                                <i class="fa fa-cog p-lg-1"></i>

                                                Phân quyền
                                            </a>
                                        </li>
                                        showquanTri = 1;
                                    }
                                </ul>
                            </li>
                            <li>
                                <a href="#" id="360-V-D">
                                    <i class="metismenu-icon  fa fa-camera-retro"></i>
                                    360 - Video - Document
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul id="list360-V-D">
                                    @if (listControll.Contains("Projects"))
                                    {
                                        <li>
                                            <a id="Projects" href="@Url.Action("Index", "Projects", new { area = "View360" })">
                                                <i class="fa-solid fa-bars-progress p-lg-1"></i>
                                                Dự án 360°
                                            </a>
                                        </li>
                                        showquanTri = 1;
                                    }
                                    @if (listControll.Contains("Virtual"))
                                    {
                                        <li>
                                            <a id="Projects" href="@Url.Action("Index", "Virtual", new { area = "View360" })">
                                                <i class="fa-solid fa-bars-progress p-lg-1"></i>
                                                Virtual 360°
                                            </a>
                                        </li>
                                        showquanTri = 1;
                                    }

                                    @if (listControll.Contains("Video"))
                                    {
                                        <li>
                                            <a id="Video" href="@Url.Action("Index", "Video", new { area = "View360" })">
                                                <i class="fa-solid fa-file-video p-lg-1"></i>
                                                Danh sách video
                                            </a>
                                        </li>
                                        showquanTri = 1;
                                    }
                                    @if (listControll.Contains("Calendar"))
                                    {
                                        <li>
                                            <a id="Calendar" href="@Url.Action("Index", "Calendar", new { area = "TagSign" })">
                                                <i class="fa-solid fa-plane p-lg-1"></i>
                                                Kế hoạch bay
                                            </a>
                                        </li>
                                        showquanTri = 1;
                                    }

                                    @if (listControll.Contains("Report"))
                                    {
                                        <li>
                                            <a id="Report" href="@Url.Action("Index", "Report", new { area = "TagSign" })">
                                                <i class="fa-solid fa-line-chart p-lg-1"></i>
                                                Report User
                                            </a>
                                        </li>
                                        showquanTri = 1;
                                    }
                                    @if (listControll.Contains("DocumentLibrary"))
                                    {
                                        <li>
                                            <a id="DocumentLibrary" href="@Url.Action("Index", "DocumentLibrary", new { area = "View360" })">
                                                <i class="fa fa-folder p-lg-1"></i>
                                                Tài liệu
                                            </a>
                                        </li>
                                        showquanTri = 1;
                                    }
                                </ul>
                            </li>
                            <li>
                                <a href="#" id="Support">
                                    <i class="metismenu-icon  fa fa-microchip"></i>
                                    Quản lý hỗ trợ
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul id="listSupport">
                                    @if (listControll.Contains("ITEquipment"))
                                    {
                                        <li>
                                            <a id="ITEquipment" class="" href="@Url.Action("Index","ITEquipment",new {area="Equipment"})">

                                                <i class="fa fa-laptop p-lg-1"></i>
                                                Danh sách thiết bị
                                            </a>
                                        </li>
                                        showquanTri = 1;
                                    }

                                    @if (listControll.Contains("TypeOfIncident"))
                                    {
                                        <li>
                                            <a id="TypeOfIncident" class="" href="@Url.Action("Index","TypeOfIncident",new {area="Equipment"})">

                                                <i class="fa fa-exclamation-triangle p-lg-1"></i>
                                                Danh sách lỗi sự cố
                                            </a>
                                        </li>
                                        showquanTri = 1;
                                    }
                                </ul>
                            </li>
                            @if (listControll.Contains("ListSevey"))
                            {
                                <li>
                                    <a id="ListServey" href="@Url.Action("Index", "ListSevey", new { area = "Servey" })">
                                        <i class="metismenu-icon fa-solid fa-list-check"></i>
                                        Cấu hình đăng ký
                                    </a>
                                </li>

                            }
                            @*<li id="KH_REPORT" style="display: none" class="app-sidebar__heading"> KẾ HOẠCH - REPORT</li>*@

                            <li class="app-sidebar__heading">ĐĂNG KÝ</li>
                            <li>
                                <a id="UserServey" href="@Url.Action("Index", "UserServey", new { area = "Servey" })">
                                    <i class="metismenu-icon fa-solid fa-list-ol"></i>
                                    Đăng ký
                                </a>
                            </li>



                            <li class="app-sidebar__heading">DANH BẠ-ĐỐI TÁC</li>
                            <li>
                                <a id="HomeDBDT" href="@Url.Action("Index", "HomeDBDT", new {area="Publish"})">
                                    <i class="metismenu-icon fa-solid fa-list-ol"></i>
                                    Home
                                </a>
                            </li>
                            <li class="app-sidebar__heading">  360°VIEW - VIDEO - DOCUMENT</li>
                            <li>
                                @{
                                    var List_Group = db.Get_IDGroup(EPORTAL.Models.MyAuthentication.ID).Min(x => x.IDGroup);
                                    int id = Convert.ToInt32(List_Group);
                                    var List_GroupVT = db.Get_IDGroupVirtual(EPORTAL.Models.MyAuthentication.ID).Min(x => x.IDGroup);
                                    int idVT = Convert.ToInt32(List_GroupVT);
                                }
                                <a id="ListProject" href="@Url.Action("Index", "ListProject", new { area = "View360", id = id })">
                                    <i class="metismenu-icon fa-solid fa-list-check"></i>
                                    Dự án của bạn
                                </a>
                            </li>
                            <li>
                                <a id="ListVirtual" href="@Url.Action("Index", "ListVirtual", new { area = "View360",id = idVT  })">
                                    <i class="metismenu-icon fa-solid fa-video-camera"></i>
                                    Virtual 360°
                                </a>
                            </li>
                            <li>
                                <a id="ListVideo" href="@Url.Action("Index", "Album", new { area = "View360" })">
                                    <i class="metismenu-icon fa-solid fa-video-camera"></i>
                                    Video của bạn
                                </a>
                            </li>
                            <li>
                                <a id="MyDocument" href="@Url.Action("Index", "MyDocument", new { area = "View360" })">
                                    <i class="metismenu-icon fa fa-folder"></i>
                                    Tài liệu của bạn
                                </a>
                            </li>




                            <li class="app-sidebar__heading"> Quản lý nhà thầu</li>
                            <li>
                                <a href="#" id="QTNT">
                                    <i class="metismenu-icon  fa fa-cogs"></i>
                                    Quản trị nhà thầu
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul id="listqtnt">
                                    @if (listControll.Contains("AccountNT"))
                                    {
                                        <li>
                                            <a id="Gate" href="@Url.Action("Index", "AccountNT", new {area="Partner"})">
                                                <i class="fa fa-user-plus p-lg-1"></i>
                                                Tài khoản nhà thầu
                                            </a>
                                        </li>
                                    }
                                    @if (listControll.Contains("DelegationPowers"))
                                    {
                                        <li>
                                            <a id="DelegationPowers" href="@Url.Action("Index", "DelegationPowers", new {area="TagSign"})">
                                                <i class="fa fa-child p-lg-1"></i>
                                                Phân luồng xử lý
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>

                            <li>
                                <a href="#" id="TTVP1C">
                                    <i class="metismenu-icon fa fa-sticky-note"></i>
                                    Thông tin VP1C
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul id="listttvp1c">
                                    @if (listControll.Contains("Position"))
                                    {
                                        <li>
                                            <a id="Account" href="@Url.Action("Index_HPDQ", "Position", new { area = "TagSign" })">
                                                <i class="fa fa-sitemap p-lg-1"></i>
                                                Chức vụ
                                            </a>
                                        </li>
                                    }
                                    @if (listControll.Contains("WorkPlace"))
                                    {
                                        <li>
                                            <a id="Account" href="@Url.Action("Index_HPDQ", "WorkPlace", new { area = "TagSign" })">
                                                <i class="fa fa-simplybuilt p-lg-1"></i>
                                                Khu vực làm việc
                                            </a>
                                        </li>
                                    }
                                    @if (listControll.Contains("Gate"))
                                    {
                                        <li>
                                            <a id="Gate" href="@Url.Action("Index", "Gate", new {area="TagSign"})">
                                                <i class="fa fa-university p-lg-1"></i>
                                                Cổng ra vào
                                            </a>
                                        </li>
                                    }
                                    @if (listControll.Contains("ContractorGroup"))
                                    {
                                        <li>
                                            <a id="Account" href="@Url.Action("Index_HPDQ", "ContractorGroup", new { area = "TagSign" })">
                                                <i class="fa fa-users p-lg-1"></i>
                                                Nhóm nhà thầu
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>


                            <li>
                                <a href="#" id="TTNT">
                                    <i class="metismenu-icon  fa fa-address-book"></i>
                                    Thông tin nhà thầu
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul id="listttnt">
                                    @if (listControll.Contains("CardTemp"))
                                    {
                                        <li>
                                            <a id="Gate" href="@Url.Action("Index", "CardTemp", new {area="Partner"})">
                                                <i class="fa fa-id-card p-lg-1"></i>
                                                Thẻ tạm nhà thầu
                                            </a>
                                        </li>
                                    }
                                    @if (listControll.Contains("ListPartner"))
                                    {
                                        <li>
                                            <a id="ListPartner" href="@Url.Action("Index", "ListPartner", new {area="Partner"})">
                                                <i class="fa fa-list p-lg-1"></i>
                                                Danh sách nhà thầu
                                            </a>
                                        </li>
                                    }

                                    @if (listControll.Contains("ListAuthority"))
                                    {
                                        <li>
                                            <a id="ListAuthority" href="@Url.Action("Index", "ListAuthority", new {area="Partner"})">
                                                <i class="fa fa-id-card p-lg-1 "></i>
                                                Người ủy quyền
                                            </a>
                                        </li>
                                    }
                                    @if (listControll.Contains("ContractorStaff"))
                                    {
                                        <li>
                                            <a id="ContractorStaff" href="@Url.Action("Index", "ContractorStaff", new {area="Partner"})">
                                                <i class="fa fa-user p-lg-1"></i>
                                                Nhân viên nhà thầu
                                            </a>
                                        </li>
                                    }
                                    @if (listControll.Contains("Lock"))
                                    {
                                        <li>
                                            <a id="ContractorStaff" href="@Url.Action("Index", "Lock", new {area="Partner"})">
                                                <i class="fa fa-user-times p-lg-1"></i>
                                                Nhân viên khóa thẻ
                                            </a>
                                        </li>
                                    }
                                    @if (listControll.Contains("Violate"))
                                    {
                                        <li>
                                            <a id="ContractorStaff" href="@Url.Action("Index", "Violate", new {area="Partner"})">
                                                <i class="fa fa-male p-lg-1"></i>
                                                Nhân viên vi phạm
                                            </a>
                                        </li>
                                    }
                                    @if (listControll.Contains("Contract"))
                                    {
                                        <li>
                                            <a id="Contract" href="@Url.Action("Indes", "Contract", new {area="TagSign"})">
                                                <i class="fa fa-check-square p-lg-1"></i>
                                                Hợp đồng đã xử lý
                                            </a>
                                        </li>
                                    }
                                    @if (listControll.Contains("Contract"))
                                    {
                                        <li>
                                            <a id="Contract" href="@Url.Action("Index", "Contract", new {area="TagSign"})">
                                                <i class="fa fa-minus-square p-lg-1"></i>
                                                Hợp đồng trình ký
                                            </a>
                                        </li>
                                    }
                                    @if (listControll.Contains("CardMobility"))
                                    {
                                        <li>
                                            <a id="ContractorStaff" href="@Url.Action("Index", "CardMobility", new {area="Partner"})">
                                                <i class="fa fa-car p-lg-1"></i>
                                                Danh sách thẻ cơ động
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>

                            <li>
                                <a href="#" id="ATLD">
                                    <i class="metismenu-icon  fa fa-exclamation-triangle"></i>
                                    Đăng ký thẻ người
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul id="listatld">
                                    @*@if (listControll.Contains("ListHandle"))
                                    {
                                        <li>
                                            <a id="Gate" href="@Url.Action("Index", "ListHandle", new {area="TagSign"})">
                                                <i class="fa fa-file-code p-lg-1"></i>
                                                Danh sách thẻ tạm
                                            </a>
                                        </li>
                                    }*@
                                    @if (listControll.Contains("ListCardRegisInfor"))
                                    {
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-file-archive p-lg-1 "></i>
                                                Danh sách thẻ người
                                                <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                            </a>
                                            <ul id="Approve">
                                                @if (listControll.Contains("List_RegisterPeople_NT"))
                                                {
                                                    <li>
                                                        <a id="Approve" href="@Url.Action("Index_HPDQ", "List_RegisterPeople_NT", new {area="TagSign"})">
                                                            <i class="fa fa-check-square p-lg-1 "></i>
                                                            Đăng ký thẻ dài ngày
                                                        </a>
                                                    </li>
                                                }
                                                @if (listControll.Contains("ListCardRegisInfor"))
                                                {
                                                    <li>
                                                        <a id="Approve" href="@Url.Action("Index", "ListCardRegisInfor", new {area="TagSign"})">
                                                            <i class="fa fa-check-square p-lg-1 "></i>
                                                            Đăng ký cấp phát thẻ
                                                        </a>
                                                    </li>
                                                }

                                                @if (listControll.Contains("ListCardRegisInfor"))
                                                {
                                                    <li>
                                                        <a id="Approve" href="@Url.Action("Indes", "ListCardRegisInfor", new {area="TagSign"})">
                                                            <i class="fa fa-check-square p-lg-1 "></i>
                                                            Đăng ký gia hạn thẻ
                                                        </a>
                                                    </li>
                                                }
                                                @if (listControll.Contains("ListCardRegisInfor"))
                                                {
                                                    <li>
                                                        <a id="Approve" href="@Url.Action("ShowAll", "ListCarteTemporaire", new {area="TagSign"})">
                                                            <i class="fa fa-check-square p-lg-1 "></i>
                                                            Đăng ký thẻ tạm
                                                        </a>
                                                    </li>
                                                }

                                            </ul>
                                        </li>
                                    }
                                    @*@if (listControll.Contains("ListCarteTemporaire"))
                                    {
                                        <li>
                                            <a id="ListCardRegisInfor" href="@Url.Action("Index", "ListCarteTemporaire", new {area="TagSign"})">
                                                <i class="fa fa-file-image p-lg-1 "></i>
                                                Đăng ký cấp thẻ tạm
                                            </a>
                                        </li>
                                    }
                                    @if (listControll.Contains("List_Signature"))
                                    {
                                        <li>
                                            <a id="ListCardRegisInfor" href="@Url.Action("DSKyTruoc", "List_Signature", new {area="TagSign"})">
                                                <i class="fa fa-file-powerpoint p-lg-1 "></i>
                                                Danh sách ký trước
                                            </a>
                                        </li>
                                    }*@
                                   @* @if (listControll.Contains("View"))
                                    {
                                        <li>
                                            <a id="ListCardRegisInforl" href="@Url.Action("Index", "View", new {area="TagSign"})">
                                                <i class="fa fa-file-pdf p-lg-1 "></i>
                                                Thẻ tạm đã xử lý BP. AN
                                            </a>
                                        </li>
                                    }*@

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-calendar-minus p-lg-1 "></i>
                                            Hồ sơ chờ xử lý
                                            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                        </a>
                                        <ul id="Approve">
                                            @{ 
                                                var nd = db.AuthorizationContractors.Where(x => x.IDNhanVien == EPORTAL.Models.MyAuthentication.ID).SingleOrDefault();
                                                var idnv = db.NhanViens.Where(x => x.ID == nd.IDNhanVien).FirstOrDefault();

                                            }
                                            @*<li>
                                                <a id="Approve" href="@Url.Action("Index", "Approve", new {area="TagSign"})">
                                                    <i class="fa fa-check-square p-lg-1 "></i>
                                                    Đăng ký cấp phát thẻ
                                                </a>
                                            </li>*@
                                            @*<li>
                                                <a id="Approve" href="@Url.Action("Index", "ApproveExtension", new {area="TagSign"})">
                                                    <i class="fa fa-check-square p-lg-1 "></i>
                                                    Đăng ký gia hạn thẻ
                                                </a>
                                            </li>*@
                                            @*<li>*@
                                                @*<a id="Approve" href="@Url.Action("DSDuyet", "List_Signature", new {area="TagSign",loai=0})">
                                                    <i class="fa fa-check-square p-lg-1 "></i>
                                                    Đăng ký thẻ tạm
                                                </a>
                                            </li>*@
                                            @*<li>
                                                <a id="Contract" href="@Url.Action("Index", "Approve_RegisterPeople", new {area="TagSign"})">
                                                    <i class="fa fa-newspaper p-lg-1"></i>
                                                    Đăng ký thẻ người
                                                </a>
                                            </li>*@
                                           <li>
                                                @{  var TheNguoi_ = db_dk.RegisterPeoples.Where(x => x.TrinhKy_ID == 0 && x.TinhTrang_ID == 1 || x.TrinhKy_ID == null && x.TinhTrang_ID == 1).ToList();
                                                    List<int> Sum_TheNguoi = new List<int>();
                                                    foreach(var thenguoi in TheNguoi_)
                                                    {
                                                        var TheNguoi = db_dk.SignOff_Flow.Where(x => x.TinhTrangID == 0 && x.NhanVienID == idnv.ID && x.DKTN_ID == thenguoi.ID_DKTN).ToList();
                                                        foreach (var item in TheNguoi)
                                                        {
                                                            if (item.CapDuyet == 1)
                                                            {
                                                                var Count = db_dk.SignOff_Flow.Where(x => x.TinhTrangID == 0 && x.NhanVienID == idnv.ID && x.DKTN_ID == thenguoi.ID_DKTN).Count();
                                                                if (Count > 0)
                                                                {
                                                                    Sum_TheNguoi.Add(Count);
                                                                }
                                                            }
                                                            else
                                                            {
                                                                int ID_Check = item.ID_TK_TN - 1;
                                                                var Check = db_dk.SignOff_Flow.Where(x => x.ID_TK_TN == ID_Check && x.TinhTrangID != 0).FirstOrDefault();
                                                                if (Check != null)
                                                                {
                                                                    var Count = db_dk.SignOff_Flow.Where(x => x.TinhTrangID == 0 && x.NhanVienID == idnv.ID && x.DKTN_ID == thenguoi.ID_DKTN).Count();
                                                                    if (Count > 0)
                                                                    {
                                                                        Sum_TheNguoi.Add(Count);
                                                                    }
                                                                }
                                                            }

                                                        }
                                                    }
                                                }
                                                <a id="Contract" href="@Url.Action("Index", "Approve_RegisterPeople", new {area="TagSign", id = 0})">
                                                    <i class="fa fa-newspaper p-lg-1"></i>
                                                    Thẻ dài ngày
                                                    <span style="color: red; margin-left: 5%;"> @Sum_TheNguoi.Sum() </span>
                                                </a>
                                            </li>
                                            <li>
                                                @{  
                                                    var CapMoi_ = db_dk.RegisterPeoples.Where(x => x.TrinhKy_ID == 1 && x.TinhTrang_ID == 1 ).ToList();
                                                    List<int> Sum_CapMoi = new List<int>();
                                                    foreach(var capmoi in CapMoi_)
                                                    {
                                                        var CapMoi = db_dk.SignOff_Flow.Where(x => x.TinhTrangID == 0 && x.NhanVienID == idnv.ID && x.DKTN_ID == capmoi.ID_DKTN).ToList();
                                                        foreach (var item in CapMoi)
                                                        {
                                                            if(item.CapDuyet == 1)
                                                            {
                                                                var Count = db_dk.SignOff_Flow.Where(x => x.TinhTrangID == 0 && x.NhanVienID == idnv.ID && x.DKTN_ID == capmoi.ID_DKTN).Count();
                                                                if (Count > 0)
                                                                {
                                                                    Sum_CapMoi.Add(Count);
                                                                }
                                                            }
                                                            else
                                                            {
                                                                int ID_Check = item.ID_TK_TN - 1;
                                                                var Check = db_dk.SignOff_Flow.Where(x => x.ID_TK_TN == ID_Check && x.TinhTrangID != 0).FirstOrDefault();
                                                                if (Check != null)
                                                                {
                                                                    var Count = db_dk.SignOff_Flow.Where(x => x.TinhTrangID == 0 && x.NhanVienID == idnv.ID && x.DKTN_ID == capmoi.ID_DKTN).Count();
                                                                    if (Count > 0)
                                                                    {
                                                                        Sum_CapMoi.Add(Count);
                                                                    }
                                                                }
                                                            }

                                                        }


                                                    }

                                                }
                                                <a id="Contract" href="@Url.Action("Index", "Approve_RegisterPeople", new {area="TagSign", id = 1})">
                                                    <i class="fa fa-newspaper p-lg-1"></i>
                                                    Cấp mới
                                                    <span style="color: red; margin-left: 5%;"> @Sum_CapMoi.Sum() </span>
                                                </a>
                                            </li>
                                            <li>
                                                @{ var GiaHan_ = db_dk.RegisterPeoples.Where(x => x.TrinhKy_ID == 2 && x.TinhTrang_ID == 1 ).ToList();
                                                    List<int> Sum_GiaHan = new List<int>();
                                                    foreach (var giahan in GiaHan_)
                                                    {
                                                        var GiaHan = db_dk.SignOff_Flow.Where(x => x.TinhTrangID == 0 && x.NhanVienID == idnv.ID && x.DKTN_ID == giahan.ID_DKTN).ToList();
                                                        foreach (var item in GiaHan)
                                                        {
                                                            if (item.CapDuyet == 1)
                                                            {
                                                                var Count = db_dk.SignOff_Flow.Where(x => x.TinhTrangID == 0 && x.NhanVienID == idnv.ID && x.DKTN_ID == giahan.ID_DKTN).Count();
                                                                if (Count > 0)
                                                                {
                                                                    Sum_GiaHan.Add(Count);
                                                                }
                                                            }
                                                            else
                                                            {
                                                                int ID_Check = item.ID_TK_TN - 1;
                                                                var Check = db_dk.SignOff_Flow.Where(x => x.ID_TK_TN == ID_Check && x.TinhTrangID != 0).FirstOrDefault();
                                                                if (Check != null)
                                                                {
                                                                    var Count = db_dk.SignOff_Flow.Where(x => x.TinhTrangID == 0 && x.NhanVienID == idnv.ID && x.DKTN_ID == giahan.ID_DKTN).Count();
                                                                    if (Count > 0)
                                                                    {
                                                                        Sum_GiaHan.Add(Count);
                                                                    }
                                                                }
                                                            }

                                                        }

                                                    }

                                                }
                                                <a id="Contract" href="@Url.Action("Index", "Approve_RegisterPeople", new {area="TagSign", id = 2})">
                                                    <i class="fa fa-newspaper p-lg-1"></i>
                                                    Gia hạn
                                                    <span style="color: red; margin-left: 5%;"> @Sum_GiaHan.Sum() </span>
                                                </a>
                                            </li>
                                            <li>
                                                @{ var BoSung_ = db_dk.RegisterPeoples.Where(x => x.TrinhKy_ID == 3 && x.TinhTrang_ID == 1).ToList();
                                                    List<int> Sum_BoSung = new List<int>();
                                                    foreach (var bosung in BoSung_)
                                                    {
                                                        var BoSung = db_dk.SignOff_Flow.Where(x => x.TinhTrangID == 0 && x.NhanVienID == idnv.ID && x.DKTN_ID == bosung.ID_DKTN).ToList();
                                                        foreach (var item in BoSung)
                                                        {
                                                            if (item.CapDuyet == 1)
                                                            {
                                                                var Count = db_dk.SignOff_Flow.Where(x => x.TinhTrangID == 0 && x.NhanVienID == idnv.ID && x.DKTN_ID == bosung.ID_DKTN).Count();
                                                                if (Count > 0)
                                                                {
                                                                    Sum_BoSung.Add(Count);
                                                                }
                                                            }
                                                            else
                                                            {
                                                                int ID_Check = item.ID_TK_TN - 1;
                                                                var Check = db_dk.SignOff_Flow.Where(x => x.ID_TK_TN == ID_Check && x.TinhTrangID != 0).FirstOrDefault();
                                                                if (Check != null)
                                                                {
                                                                    var Count = db_dk.SignOff_Flow.Where(x => x.TinhTrangID == 0 && x.NhanVienID == idnv.ID && x.DKTN_ID == bosung.ID_DKTN).Count();
                                                                    if (Count > 0)
                                                                    {
                                                                        Sum_BoSung.Add(Count);
                                                                    }
                                                                }
                                                            }

                                                        }

                                                    }

                                                }
                                                <a id="Contract" href="@Url.Action("Index", "Approve_RegisterPeople", new {area="TagSign", id = 3})">
                                                    <i class="fa fa-newspaper p-lg-1"></i>
                                                    Bổ sung cổng
                                                    <span style="color: red; margin-left: 5%;"> @Sum_BoSung .Sum() </span>
                                                </a>
                                            </li>
                                            <li>
                                                @{  
                                                   
                                                    var CapLai_ = db_dk.RegisterPeoples.Where(x => x.TrinhKy_ID == 4 && x.TinhTrang_ID == 1).ToList();
                                                    List<int> Sum_CapLai = new List<int>();
                                                    foreach (var caplai in CapLai_)
                                                    {
                                                        var CapLai = db_dk.SignOff_Flow.Where(x => x.TinhTrangID == 0 && x.NhanVienID == idnv.ID && x.DKTN_ID == caplai.ID_DKTN).ToList();
                                                        foreach (var item in CapLai)
                                                        {
                                                            if (item.CapDuyet == 1)
                                                            {
                                                                var Count = db_dk.SignOff_Flow.Where(x => x.TinhTrangID == 0 && x.NhanVienID == idnv.ID && x.DKTN_ID == caplai.ID_DKTN).Count();
                                                                if (Count > 0)
                                                                {
                                                                    Sum_CapLai.Add(Count);
                                                                }
                                                            }
                                                            else
                                                            {
                                                                int ID_Check = item.ID_TK_TN - 1;
                                                                var Check = db_dk.SignOff_Flow.Where(x => x.ID_TK_TN == ID_Check && x.TinhTrangID != 0).FirstOrDefault();
                                                                if (Check != null)
                                                                {
                                                                    var Count = db_dk.SignOff_Flow.Where(x => x.TinhTrangID == 0 && x.NhanVienID == idnv.ID && x.DKTN_ID == caplai.ID_DKTN).Count();
                                                                    if (Count > 0)
                                                                    {
                                                                        Sum_CapLai.Add(Count);
                                                                    }
                                                                }
                                                            }

                                                        }

                                                   }

                                                }
                                                <a id="Contract" href="@Url.Action("Index", "Approve_RegisterPeople", new {area="TagSign", id = 4})">
                                                    <i class="fa fa-newspaper p-lg-1"></i>
                                                    Cấp lại
                                                    <span style="color: red; margin-left: 5%;"> @Sum_CapLai.Sum() </span>
                                                </a>
                                            </li>
                                            @*<li>
                                                <a id="Contract" href="@Url.Action("Index", "Contractsigned", new {area="TagSign"})">
                                                    <i class="fa fa-newspaper p-lg-1"></i>
                                                    Hợp đồng chờ xử lý
                                                </a>
                                            </li>*@
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-calendar-check p-lg-1 "></i>
                                            Hồ sơ đã xử lý
                                            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                        </a>
                                        <ul id="Approve">
                                            @*<li>
                                                <a id="FollowTheSiger" href="@Url.Action("Index", "FollowTheSiger", new {area="TagSign"})">
                                                    <i class="fa fa-check-square p-lg-1 "></i>
                                                    Đăng ký cấp phát thẻ
                                                </a>
                                            </li>*@
                                            @*<li>
                                                <a id="FollowTheSiger" href="@Url.Action("Index", "FollowRenew", new {area="TagSign"})">
                                                    <i class="fa fa-check-square p-lg-1 "></i>
                                                    Đăng ký gia hạn thẻ
                                                </a>
                                            </li>*@
                                            @*<li>
                                                <a id="Approve" href="@Url.Action("DSDuyet", "List_Signature", new {area="TagSign",loai=1})">
                                                    <i class="fa fa-check-square p-lg-1 "></i>
                                                    Đăng ký thẻ tạm
                                                </a>
                                            </li>*@
                                            @*<li>
                                                <a id="Contract" href="@Url.Action("Index_", "Approve_RegisterPeople", new {area="TagSign"})">
                                                    <i class="fa fa-newspaper p-lg-1"></i>
                                                    Đăng ký thẻ người
                                                </a>
                                            </li>*@
                                            <li>
                                                <a id="Contract" href="@Url.Action("Index_", "Approve_RegisterPeople", new {area="TagSign", id = 0})">
                                                    <i class="fa fa-newspaper p-lg-1"></i>
                                                    Thẻ dài ngày
                                                </a>
                                            </li>
                                            <li>
                                                <a id="Contract" href="@Url.Action("Index_", "Approve_RegisterPeople", new {area="TagSign", id = 1})">
                                                    <i class="fa fa-newspaper p-lg-1"></i>
                                                    Cấp mới
                                                </a>
                                            </li>
                                            <li>
                                                <a id="Contract" href="@Url.Action("Index_", "Approve_RegisterPeople", new {area="TagSign", id = 2})">
                                                    <i class="fa fa-newspaper p-lg-1"></i>
                                                    Gia hạn
                                                </a>
                                            </li>
                                            <li>
                                                <a id="Contract" href="@Url.Action("Index_", "Approve_RegisterPeople", new {area="TagSign", id = 3})">
                                                    <i class="fa fa-newspaper p-lg-1"></i>
                                                    Bổ sung cổng
                                                </a>
                                            </li>
                                            <li>
                                                <a id="Contract" href="@Url.Action("Index_", "Approve_RegisterPeople", new {area="TagSign", id = 4})">
                                                    <i class="fa fa-newspaper p-lg-1"></i>
                                                    Cấp lại
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    @if (listControll.Contains("InOutAndResult"))
                                    {
                                        <li>
                                            <a id="InOutAndResult" href="@Url.Action("Index", "InOutAndResult", new {area="TagSign"})">
                                                <i class="fa fa-exchange p-lg-1"></i>
                                                Xác nhận ra vào cổng
                                            </a>
                                        </li>
                                    }
                                    @*@if (listControll.Contains("Result"))
                                    {
                                        <li>
                                            <a id="InOutAndResult_Result" href="@Url.Action("Index", "Result", new {area="TagSign"})">
                                                <i class="fa fa-clone p-lg-1"></i>
                                                Danh sách NVNT đã duyệt
                                            </a>
                                        </li>
                                    }*@

                                </ul>
                            </li>
                            <li>
                                <a href="#" id="CTRV">
                                    <i class="metismenu-icon fa fa-rectangle-list"></i>
                                    Chi tiết ra vào
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul id="listCTRV">
                                    @if (listControll.Contains("EntryCardTemp"))
                                    {
                                        <li>
                                            <a id="EntryCardTemp" href="@Url.Action("Index", "EntryCardTemp", new {area="Partner"})">
                                                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                                                Ra vào thẻ tạm
                                            </a>
                                        </li>
                                    }
                                    @if (listControll.Contains("Terminal"))
                                    {
                                        <li>
                                            <a id="EntryCardTemp" href="@Url.Action("Index", "Terminal", new {area="TagSign"})">
                                                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                                                Terminal
                                            </a>
                                        </li>
                                    }
                                    @if (listControll.Contains("Register_gate"))
                                    {

                                        <li>
                                            <a id="EntryCardTemp" href="@Url.Action("Index", "Register_gate", new {area="TagSign"})">
                                                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                                                Đăng ký ra vào cổng
                                            </a>
                                        </li>
                                    }

                                    @if (listControll.Contains("DetailEntrance"))
                                    {
                                        <li>
                                            <a id="DetailEntrance" href="@Url.Action("Index", "DetailEntrance", new {area="Partner"})">
                                                <i class="fa-solid fa-right-to-bracket"></i>
                                                Ra vào thẻ Nhà thầu
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>

                            <li id="SoDoToChuc" style="display: none" class="app-sidebar__heading">SƠ ĐỒ TỔ CHỨC</li>
                            <li>
                                <a href="#" id="sdtc" style="display: none">
                                    <i class="metismenu-icon  fa fa-cog"></i>
                                    Cấu hình
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul id="ListSDTC">
                                    @if (listControll.Contains("Employees_API"))
                                    {
                                        <li>
                                            <a id="Employees_API" href="@Url.Action("Index", "Employees_API", new {area="Organizational"})">
                                                <i class="fa fa-users p-lg-1 "></i>
                                                Nhân Viên
                                            </a>
                                        </li>
                                        showSoDoToChuc = 1;
                                        showsdtc = 1;
                                    }

                                    @if (listControll.Contains("AdminPB"))
                                    {
                                        <li>
                                            <a id="AdminPB" href="@Url.Action("Index", "AdminPB", new {area="Organizational"})">
                                                <i class="fa fa-building p-lg-1"></i>
                                                Bộ phận
                                            </a>
                                        </li>
                                        showSoDoToChuc = 1;
                                        showsdtc = 1;
                                    }

                                    @if (listControll.Contains("AdminNhom"))
                                    {
                                        <li>
                                            <a id="AdminNhom" href="@Url.Action("Index", "AdminNhom", new {area="Organizational"})">
                                                <i class="fas fa-project-diagram p-lg-1"></i>
                                                Mảng công việc
                                            </a>
                                        </li>
                                        showSoDoToChuc = 1;
                                        showsdtc = 1;
                                    }

                                    @if (listControll.Contains("AdminPhanXuong"))
                                    {
                                        <li>
                                            <a id="AdminPhanXuong" href="@Url.Action("Index", "AdminPhanXuong", new {area="Organizational"})">
                                                <i class="fa fa-industry p-lg-1"></i>
                                                Phân xưởng
                                            </a>
                                        </li>
                                        showSoDoToChuc = 1;
                                        showsdtc = 1;
                                    }

                                    @if (listControll.Contains("AdminTo"))
                                    {
                                        <li>
                                            <a id="AdminTo" href="@Url.Action("Index", "AdminTo", new {area="Organizational"})">
                                                <i class="fas fa-house-user p-lg-1"></i>
                                                Tổ
                                            </a>
                                        </li>
                                        showSoDoToChuc = 1;
                                        showsdtc = 1;
                                    }

                                </ul>
                            </li>
                            @if (listControll.Contains("HomeSDTC"))
                            {
                                <li>
                                    <a href="@Url.Action("Index", "HomeSDTC", new {area="Organizational"})">
                                        <i class="metismenu-icon  fa fa-sitemap"></i>
                                        Sơ đồ tổ chức
                                    </a>
                                </li>
                                showSoDoToChuc = 1;
                            }

                            <li id="QuanLyTB" style="display: none" class="app-sidebar__heading">Hỗ trợ người dùng</li>
                            @if (listControll.Contains("EquipmentManagement"))
                            {
                                <li>
                                    <a id="EquipmentManagement" class="" href="@Url.Action("Index","EquipmentManagement",new {area="Equipment"})">

                                        <i class="fa fa-cogs metismenu-icon"></i>
                                        Sự cố thiết bị
                                    </a>
                                </li>
                                showQuanLyTB = 1;
                            }

                            <li id="QuanLyPT" style="display: block" class="app-sidebar__heading">Quản lý phương tiện</li>
                            <li>
                                <a id="VehicleManagement" class="" href="@Url.Action("Index","VehicleManagement",new {area="Management"})">

                                    <i class="fa fa-bus metismenu-icon"></i>
                                    Quản lý phương tiện
                                </a>
                            </li>

                            <li class="app-sidebar__heading">Liên kết nội bộ</li>
                            <li>
                                <a href="https://elearning.hoaphatdungquat.vn" target="_blank">
                                    <i class="metismenu-icon fa-solid fa-angle-right"></i>
                                    Đào tạo trực tuyến E-Learning
                                </a>
                            </li>
                            <li>
                                <a href="https://tos.hoaphatdungquat.vn:8080/User/Login" target="_blank">
                                    <i class="metismenu-icon fa-solid fa-angle-right"></i>
                                    Quản lý điều hành Cảng
                                </a>
                            </li>
                            <li>
                                <a href="http://hr.hoaphatdungquat.vn" target="_blank">
                                    <i class="metismenu-icon fa-solid fa-angle-right"></i>
                                    Quản lý nhân sự
                                </a>
                            </li>
                            <li>
                                <a href="https://motcua.hoaphatdungquat.vn/Home/Login?ReturnUrl=%2F" target="_blank">
                                    <i class="metismenu-icon fa-solid fa-angle-right"></i>
                                    Quản lý VTTS Nhà thầu
                                </a>
                            </li>
                            <li>
                                <a href="http://qtmt.hoaphatdungquat.vn:8082/login" target="_blank">
                                    <i class="metismenu-icon fa-solid fa-angle-right"></i>
                                    Quan trắc môi trường
                                </a>
                            </li>
                            <li>
                                <a href="https://bhld.hoaphatdungquat.vn/" target="_blank">
                                    <i class="metismenu-icon fa-solid fa-angle-right"></i>
                                    Quản lý BHLĐ
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            @RenderBody()

        </div>
    </div>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/scripts/main.js"></script>

    <script>
        $(document).ready(function () {
            if (@showquanTri == 1) {
                $("#quanTri").css("display", "block");
            };
            if (@showKH_REPORT == 1) {
                $("#KH_REPORT").css("display", "block");
            };
            if (@showSoDoToChuc == 1) {
                $("#SoDoToChuc").css("display", "block");
            };
            if (@showsdtc == 1) {
                $("#sdtc").css("display", "block");
            };
            if (@showQuanLyTB == 1) {
                $("#QuanLyTB").css("display", "block");
            };

            var currentController = '@ViewContext.RouteData.Values["controller"].ToString()';
            var pathArray = window.location.pathname.split('/');
            if (pathArray[1] == "Organizational") {
                $("#ListSDTC").addClass("mm-collapse mm-show");
                $("#sdtc").addClass("mm-active");
                if (pathArray[2] == "Employees_API") {
                    $("a").removeClass("mm-active");
                    $("#Employees_API").addClass("mm-active");
                }
                else if (pathArray[2] == "AdminPB") {
                    $("a").removeClass("mm-active");
                    $("#AdminPB").addClass("mm-active");
                }
                else if (pathArray[2] == "AdminPhanXuong") {
                    $("a").removeClass("mm-active");
                    $("#AdminPhanXuong").addClass("mm-active");
                }
                else if (pathArray[2] == "AdminTo") {
                    $("a").removeClass("mm-active");
                    $("#AdminTo").addClass("mm-active");
                }
                else if (pathArray[2] == "AdminNhom") {
                    $("a").removeClass("mm-active");
                    $("#AdminNhom").addClass("mm-active");
                }
            } else if (pathArray[1] == "Partner" || pathArray[1] == "TagSign") {
                if (pathArray[2] == "DelegationPowers") {
                    $("a").removeClass("mm-active");
                    $("#listqtnt").addClass("mm-collapse mm-show");
                    $("#QTNT").addClass("mm-active");
                    $("#DelegationPowers").addClass("mm-active");

                }
                else if (pathArray[2] == "Position") {
                    $("a").removeClass("mm-active");
                    $("#listttvp1c").addClass("mm-collapse mm-show");
                    $("#TTVP1C").addClass("mm-active");
                    $("#Position").addClass("mm-active");

                }
                else if (pathArray[2] == "WorkPlace") {
                    $("a").removeClass("mm-active");
                    $("#listttvp1c").addClass("mm-collapse mm-show");
                    $("#TTVP1C").addClass("mm-active");
                    $("#WorkPlace").addClass("mm-active");

                } else if (pathArray[2] == "ContractorGroup") {
                    $("a").removeClass("mm-active");
                    $("#listttvp1c").addClass("mm-collapse mm-show");
                    $("#TTVP1C").addClass("mm-active");
                    $("#ContractorGroup").addClass("mm-active");

                } else if (pathArray[2] == "Gate") {
                    $("a").removeClass("mm-active");
                    $("#listttvp1c").addClass("mm-collapse mm-show");
                    $("#TTVP1C").addClass("mm-active");
                    $("#Gate").addClass("mm-active");

                } else if (pathArray[2] == "ListPartner") {
                    $("a").removeClass("mm-active");
                    $("#listttnt").addClass("mm-collapse mm-show");
                    $("#TTNT").addClass("mm-active");
                    $("#ListPartner").addClass("mm-active");

                } else if (pathArray[2] == "Contract") {
                    $("a").removeClass("mm-active");
                    $("#listttnt").addClass("mm-collapse mm-show");
                    $("#TTNT").addClass("mm-active");
                    $("#Contract").addClass("mm-active");

                } else if (pathArray[2] == "ListAuthority") {
                    $("a").removeClass("mm-active");
                    $("#listttnt").addClass("mm-collapse mm-show");
                    $("#TTNT").addClass("mm-active");
                    $("#ListAuthority").addClass("mm-active");

                } else if (pathArray[2] == "DetailEntrance") {
                    $("a").removeClass("mm-active");
                    $("#listCTRV").addClass("mm-collapse mm-show");
                    $("#CTRV").addClass("mm-active");
                    $("#DetailEntrance").addClass("mm-active");

                } else if (pathArray[2] == "EntryCardTemp") {
                    $("a").removeClass("mm-active");
                    $("#listCTRV").addClass("mm-collapse mm-show");
                    $("#CTRV").addClass("mm-active");
                    $("#EntryCardTemp").addClass("mm-active");

                }

                else if (pathArray[2] == "ContractorStaff") {
                    $("#listttnt").addClass("mm-collapse mm-show");
                    $("#TTNT").addClass("mm-active");
                    if (pathArray[3] == "ViewNVNT") {
                        $("#ContractorStaff_ViewNVNT").addClass("mm-active");
                    } else {
                        $("#ContractorStaff").addClass("mm-active");
                    }
                } else if (pathArray[2] == "ListCardRegisInfor") {
                    $("a").removeClass("mm-active");
                    $("#ATLD").addClass("mm-active");
                    $("#listatld").addClass("mm-collapse mm-show");
                    $("#ListCardRegisInfor").addClass("mm-active");

                } else if (pathArray[2] == "Approve") {
                    $("a").removeClass("mm-active");
                    $("#ATLD").addClass("mm-active");
                    $("#listatld").addClass("mm-collapse mm-show");
                    $("#Approve").addClass("mm-active");

                } else if (pathArray[2] == "FollowTheSiger") {
                    $("a").removeClass("mm-active");
                    $("#ATLD").addClass("mm-active");
                    $("#listatld").addClass("mm-collapse mm-show");
                    $("#FollowTheSiger").addClass("mm-active");

                } else if (pathArray[2] == "Result") {
                    $("a").removeClass("mm-active");
                    $("#ATLD").addClass("mm-active");
                    $("#listatld").addClass("mm-collapse mm-show");
                    $("#Result").addClass("mm-active");

                } else if (pathArray[2] == "Calendar") {
                    $("a").removeClass("mm-active");
                    $("#list360-V-D").addClass("mm-collapse mm-show");
                    $("#Calendar").addClass("mm-active");

                } else if (pathArray[2] == "Report") {
                    $("a").removeClass("mm-active");
                    $("#list360-V-D").addClass("mm-collapse mm-show");
                    $("#Report").addClass("mm-active");

                }
                else if (pathArray[2] == "InOutAndResult") {
                  /*  alert("");*/
                    $("#listatld").addClass("mm-collapse mm-show");
                    $("#ATLD").addClass("mm-active");
                    if (pathArray[3] == "Result") {
                        $("#InOutAndResult_Result").addClass("mm-active");
                    } else {
                        $("#InOutAndResult").addClass("mm-active");
                    }
                }
            }

            if (pathArray[1] == "Equipment") {

                if (pathArray[2] == "EquipmentManagement") {
                    $("a").removeClass("mm-active");
                    $("#EquipmentManagement").addClass("mm-active");
                }
                else if (pathArray[2] == "ITEquipment") {
                    $("a").removeClass("mm-active");
                    $("#ITEquipment").addClass("mm-active");
                    $("#listSupport").addClass("mm-collapse mm-show");
                }
                else if (pathArray[2] == "TypeOfIncident") {
                    $("a").removeClass("mm-active");
                    $("#TypeOfIncident").addClass("mm-active");
                    $("#listSupport").addClass("mm-collapse mm-show");
                }
            }
            if (currentController == "STpermissions") {
                $("a").removeClass("mm-active");
                $('#STpermissions').addClass('mm-active');
                $("#listQLTK").addClass("mm-collapse mm-show");
            }
            if (currentController == "DocumentLibrary") {
                $("a").removeClass("mm-active");
                $('#DocumentLibrary').addClass('mm-active');
                $("#list360-V-D").addClass("mm-collapse mm-show");
            }
            if (currentController == "MyDocument") {
                $("a").removeClass("mm-active");
                $('#MyDocument').addClass('mm-active');
            }

            if (currentController == "Projects") {
                $("a").removeClass("mm-active");
                $("#list360-V-D").addClass("mm-collapse mm-show");
                $('#Projects').addClass('mm-active');

            }
            else if (currentController == "ListAuthority") {
                $("a").removeClass("mm-active");
                $('#ListAuthority').addClass('mm-active');

            }

            else if (currentController == "Account") {
                $("a").removeClass("mm-active");
                $("#listQLTK").addClass("mm-collapse mm-show");
                $('#Account').addClass('mm-active');
            }
            else if (currentController == "ListProject") {
                $("a").removeClass("mm-active");
                $('#ListProject').addClass('mm-active');
            }
            else if (currentController == "Home") {
                $("a").removeClass("mm-active");
                $('#Home').addClass('mm-active');
            } else if (currentController == "Album" || currentController == "ListVideo") {
                $("a").removeClass("mm-active");
                $('#ListVideo').addClass('mm-active');;
            } else if (currentController == "Video") {
                $("a").removeClass("mm-active");
                $("#list360-V-D").addClass("mm-collapse mm-show");
                $('#Video').addClass('mm-active');
            }

        });
        //window.onload = function () {
        //    document.addEventListener("contextmenu", function (e) {
        //        e.preventDefault();
        //    }, false);
        //    document.addEventListener("keydown", function (e) {
        //        //document.onkeydown = function(e) {
        //        // "I" key
        //        if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
        //            disabledEvent(e);
        //        }
        //        // "J" key
        //        if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
        //            disabledEvent(e);
        //        }
        //        // "S" key + macOS
        //        if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
        //            disabledEvent(e);
        //        }
        //        // "U" key
        //        if (e.ctrlKey && e.keyCode == 85) {
        //            disabledEvent(e);
        //        }
        //        // "F12" key
        //        if (event.keyCode == 123) {
        //            disabledEvent(e);
        //        }
        //    }, false);

        //    function disabledEvent(e) {
        //        if (e.stopPropagation) {
        //            e.stopPropagation();
        //        } else if (window.event) {
        //            window.event.cancelBubble = true;
        //        }
        //        e.preventDefault();
        //        return false;
        //    }
        //};
    </script>

</body>
</html>
