
@{
    ViewBag.Title = "ViewNVNT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EPORTAL.ModelsPartner
@model PagedList.IPagedList<NhanvienNT>
@using PagedList.Mvc
@using EPORTAL.ModelsView360;
@using EPORTAL.ModelsTagSign;
@{ 
    EPORTALEntities db = new EPORTALEntities();
    EPORTAL_NTEntities db_nt = new EPORTAL_NTEntities();
}
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />
<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-portfolio icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        Danh sách quyẹt thẻ
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="tab-content">
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <div class="row" style="width:100%">
                            <div class="col-md-12 col-lg-12">
                                <div class="row">

                                    <span class="text-center" style="margin-top: 8px">Từ ngày :</span>
                                    <div class="col-md-2">
                                        @Html.TextBox("begind", null, new { @id = "begind", @type = "date", @class = "form-control" })
                                    </div>
                                    <span class="text-center" style="margin-top: 8px">Đến ngày :</span>
                                    <div class="col-md-2">
                                        @Html.TextBox("endd", null, new { @id = "endd", @type = "date", @class = "form-control" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.DropDownList("NTList", null, "Chọn nhà thầu", new { id = "MaNhaThau", @class = "form-control", })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.DropDownList("NVList", null, "Chọn nhân viên", new { id = "MaNhanVien", @class = "form-control", })
                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-primary" id="btn-search"><i class="fa fa-search"></i> Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th width="30px" class="text-center">STT</th>
                                            <th class="text-center" width="150px">Họ và tên</th>
                                            <th class="text-center" width="100px">CNND/CCCD</th>
                                            <th class="text-center" width="100px">Mã thẻ</th>
                                            <th class="text-center" width="200px">Nhà thầu</th>
                                            <th class="text-center" width="100px">Thời gian quyẹt thẻ</th>
                                            <th class="text-center" width="100px">Máy quyẹt thẻ</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int pageno = (int)Model.PageNumber;
                                            int itemperpage = (int)Model.PageSize;
                                            int RowNo = ((pageno - 1) * itemperpage) + 1;
                                        }
                                        @{

                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="text-center"> @RowNo@{RowNo++;}</td>
                                                    @{ 
                                                        var IDNVNT = db_nt.NT_NhanVienNT.Where(x => x.SoThe == item.Mathe).FirstOrDefault();
                                                        if(IDNVNT != null)
                                                        { 
                                                            <td>
                                                                @IDNVNT.HoTen
                                                            </td>
                                                            <td>
                                                                @IDNVNT.CCCD
                                                            </td>
                                                        }

                                                    }
                                                    <td>
                                                        @item.Mathe
                                                    </td>
                                                    <td>
                                                        @item.MaNT -
                                                        @{
                                                            
                                                            var IDNT = db.NT_Partner.Where(x => x.CodeUnis == item.MaNT).FirstOrDefault();
                                                            if (IDNT != null)
                                                            {
                                                                @IDNT.ShortName
                                                            }

                                                        }
                                                    </td>
                                                    <td class="text-right">
                                                        @DateTime.ParseExact(item.Thoigianquyet, "yyyyMMddHHmmss", null)
                                                    </td>
                                                    <td>
                                                        @item.Tenmayquyet
                                                    </td>

                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                                <div class="pager">
                                    @Html.PagedListPager(Model, page => Url.Action("ViewNVNT", "ContractorStaff", new { area = "Partner", page, begind = Request.QueryString["begind"], endd = Request.QueryString["endd"], MaNhaThau = Request.QueryString["MaNhaThau"] }))
                                    <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">

            </div>
        </div>
    </div>


</div>

<script>
    $("#MaNhaThau").chosen({
        width: "100%"
    });
    $("#MaNhanVien").chosen({
        width: "100%"
    });
    $("#btn-search").on('click', function () {
         var begind = Date.parse($('#begind').val());
        var endd = Date.parse($('#endd').val());
        var MaNhaThau = $('#MaNhaThau').val();
        var MaNhanVien = $('#MaNhanVien').val();
        window.location.href = '@Url.Action("ViewNVNT", "ContractorStaff")?MaNhaThau=' + MaNhaThau + '&begind=' + $('#begind').val() + '&endd=' + $('#endd').val() + '&MaNhanVien=' + MaNhanVien;
    });
    $(document).ready(function () {
        var dateNewFormat, onlyDate, today = new Date();

        dateNewFormat = today.getFullYear() + '-';
        if (today.getMonth() >= 9) {

            dateNewFormat += (today.getMonth() + 1);
        }
        else {
            dateNewFormat += '0' + (today.getMonth() + 1);
        }

        onlyDate = today.getDate();
        if (onlyDate.toString().length == 2) {

            dateNewFormat += "-" + onlyDate;
        }
        else {
            dateNewFormat += '-0' + onlyDate;
        }
        if ($('#begind').val() == '') {
            $('#begind').val(dateNewFormat);
        }
        if ($('#endd').val() == '') {
            $('#endd').val(dateNewFormat);
        }
    });
</script>