
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SoDoToChuc.Models
@using PagedList.Mvc
@model PagedList.IPagedList<AdminTo>
@using EPORTAL.ModelsOrganizational

<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                    <div>
                        Quản lý thông tin tổ
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="tab-content">
            <div class="row">
                <div class="card col-lg-12">
                    <div class="card-header">
                        <label class="">Thông Tin</label>
                        <button type="button" id="btn-add" class="btn btn-primary m-l-auto"><i class="fa fa-plus">&nbsp;</i>&nbsp;Thêm mới </button>
                        <div class="modal fade" id="myModal" role="dialog" data-url='@Url.Action("Create","AdminTo")'></div>
                    </div>
                    <div class="card-header">
                        <span>
                            <div class="row">

                                <div class="col-md-5">
                                    @Html.DropDownList("PBList", null, "---- Bộ Phận ----", new { id = "IDPhongBan", @class = "form-control", })
                                </div>
                                <script>
                                    $(document).ready(function () {
                                        var IDPB = $('#IDPhongBan').val();
                                        $("#IDPhongBan").change(function () {
                                            $.get("/AdminTo/GetPXList", { id: $("#IDPhongBan").val() }, function (data) {

                                                $("#IDPhanXuong").empty();
                                                $("#IDPhanXuong").append("<option value ='" + null + "'>" + "--Chọn Phân Xưởng--" + "</option>")
                                                $.each(data, function (index, row) {
                                                    $("#IDPhanXuong").append("<option value ='" + row.IDPX + "'>" + row.TenPX + "</option>")
                                                });
                                            });
                                        })
                                        //if (IDPB != null) {
                                        //    $("#IDPhanXuong").click(function () {
                                        //        $.get("/AdminTo/GetPXList", { id: IDPB }, function (data) {

                                        //            $("#IDPhanXuong").empty();
                                        //            $("#IDPhanXuong").append("<option value ='" + null + "'>" + "--Chọn Phân Xưởng--" + "</option>")
                                        //            $.each(data, function (index, row) {
                                        //                $("#IDPhanXuong").append("<option value ='" + row.IDPX + "'>" + row.TenPX + "</option>")
                                        //            });
                                        //        });
                                        //    });
                                        //}

                                    });
                                </script>
                                <span class="col-md-5">
                                    @Html.DropDownList("PXList", null, "----- Phân Xưởng ---", new { id = "IDPhanXuong", @class = "form-control", })
                                </span>

                                <div class="col-md-1">
                                    <button type="button" style="width: 100px;" id="btsearch" class="btn btn-primary pull-left"><i class="fa fa-search">&nbsp;</i>&nbsp;Tìm kiếm </button>
                                </div>
                            </div>
                        </span>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                <thead class="thead-light">
                                    <tr>
                                        <th width="30px" class="text-center">STT</th>
                                        <th width="" class="text-center">Tên tổ</th>
                                        <th width="" class="text-center">Phân Xưởng </th>
                                        <th width="" class="text-center">Phòng Ban</th>
                                        <th width="" class="text-center">Số lượng ĐB</th>

                                        <th width="" class="text-center">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int pageno = (int)Model.PageNumber;
                                        int itemperpage = (int)Model.PageSize;
                                        int RowNo = ((pageno - 1) * itemperpage) + 1;
                                        int index = 0;

                                    }


                                    @foreach (var item in Model)
                                    {
                                        index++;

                                        <tr>
                                            <td class="text-center">@RowNo@{RowNo++;}</td>
                                            <td class="text">@item.TenTo</td>
                                            <td class="text">@item.TenPhanXuong</td>
                                            <td class="text">@item.TenPhongBan</td>
                                            <td class="text-center">@item.SLDB</td>


                                            <td class="text-center">
                                                <a id="btn-edit_@item.IDTo" title="Sửa" style="cursor:pointer;"><i class='fa fa-edit'></i></a>
                                                <div class="modal fade" id="myModale_@item.IDTo" role="dialog" data-url='@Url.Action("Edit","AdminTo", new { id = item.IDTo })'></div>
                                                <script type="text/javascript">
                                                $('#btn-edit_@item.IDTo').click(function () {
                                                    var url = $('#myModale_@item.IDTo').data('url');
                                                    $.get(url, function (data) {
                                                        $("#myModale_@item.IDTo").html(data);
                                                        $("#ModalTitle").html("Cập nhật Nội dung");
                                                        $("#myModale_@item.IDTo").modal('show');
                                                        $("#myModale_@item.IDTo").addClass('show');
                                                    });
                                                });
                                                </script>
                                                <a title="Xóa" href="@Url.Action("Delete", "AdminTo", new { id = item.IDTo })"
                                                   onclick="return confirm('Bạn muốn xóa Thông tin tổ : @item.TenTo')">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="pager">
                                @Html.PagedListPager(Model, page => Url.Action("Index", "AdminTo", new { page, IDPhongBan = Request.QueryString["IDPhongBan"], IDPhanXuong = Request.QueryString["IDPhanXuong"] }))
                                <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">

            </div>
        </div>
    </div>


</div>


<script type="text/javascript">
    $("#btsearch").on('click', function () {
     var IDPhongBan = $('#IDPhongBan').val();
     var IDPhanXuong = $('#IDPhanXuong').val();

     window.location.href = '@Url.Action("Index", "AdminTo")?IDPhongBan=' + IDPhongBan + '&IDPhanXuong=' + IDPhanXuong;
    });

    $('#btn-add').click(function () {
        var url = $('#myModal').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Thêm mới Thông Tin");
            $("#myModal").modal('show');
            $("#myModal").addClass('show');
        });
    });
</script>

<script type="text/javascript">
    $("#IDPhongBan").chosen({
        width: "100%"
    });
    //$("#IDPhanXuong").chosen({
    //    width: "100%"
    //});
</script>