
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EPORTAL.ModelsTagSign
@model EPORTAL.ModelsTagSign.NT_Detail_ListExtendcardValidation
@using PagedList.Mvc
@using EPORTAL.ModelsView360;
@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
@{
    EPORTALEntities db = new EPORTALEntities();
    var GHID = (NT_ExtendcardValidation)ViewData["id"];

}

<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />

<link href="~/Content/PagedList.css" rel="stylesheet" />
@using (Html.BeginForm("Form", "Detail_ListExtendcard", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IDGH)
    <div class="app-main__outer">
        <div class="app-main__inner">

            <div class="app-page-title">
                <div class="page-title-wrapper">
                    <div class="page-title-heading">
                        <div class="page-title-icon">
                            <i class="pe-7s-portfolio icon-gradient bg-grow-early">
                            </i>
                        </div>
                        <div>
                              ĐƠN ĐỀ NGHỊ ĐỔI/ GIA HẠN THẺ
                            <div class="page-title-subheading">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="tab-content">
                <div class="row">
                    <div class="card">
                        <div class="card-header" style="padding-bottom:1%;">
                            @{
                                if (GHID != null)
                                {
                                    var idgh = Convert.ToInt32(GHID.IDGH);
                                    var idct = db.NT_Extendcard.Where(x => x.IDGH == idgh).SingleOrDefault();
                                    if (idct.IDTTTK == 0)
                                    {
                                        <div class="row" style="width:100%; margin-top:1%;">
                                            <div class="col-md-12 col-lg-12">
                                                <div class="row">
                                                    <span class="text-center" style="margin-top: 8px">Nhà thầu :</span>
                                                    <div class="col-md-3">
                                                        @Html.DropDownList("NTList", null, new { id = "IDNT", name = "IDDS", @class = "form-control" })
                                                    </div>
                                                    <span class="text-center" style="margin-top: 8px">Hợp đồng :</span>
                                                    <div class="col-md-3">
                                                        @Html.DropDownList("HDList", null, new { id = "IDHD", name = "IDHD", @class = "form-control", })
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    }
                                }


                            }

                        </div>
                        <div class="card-header" style="margin-top: 1.5%; border-bottom-width: 0px;">
                            <div class="row" style="width:100%">
                                <div class="col-md-12 col-lg-12">
                                    <div class="row">
                                        <span class="text-center" style="margin-top: 8px">Chọn Excel : &nbsp;</span>
                                        <div class="col-md-2">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <fieldset id="SubmitForm">
                                                <div class="form-group">
                                                    <input type="file" id="FileExcel" name="FileExcel" class="form-control" onchange="checkfile(this);" />
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-1.5">
                                            <button type="submit" id="Imoprt" class="btn btn-primary " name="Imoprt"><i class="fa fa-upload">&nbsp;</i>&nbsp;Import Excel </button>
                                        </div>
                                        <div class="col-md-2">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <fieldset id="SubmitForm">
                                                <div class="form-group">
                                                    <a style="font-size:70%;" href="@Url.Action("DownloadExcel", "ListCardRegisInfor")"> <i class="fa fa-download" aria-hidden="true"></i> Tải biểu mẫu Excel </a>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <div class="table-responsive" style="width:80vw;overflow-x:auto">
                                    <table class="table table-bordered table-hover" id="table" style="width:100vw" cellpadding="0">
                                        <thead>
                                            <tr>

                                                <th width="30px" rowspan="2" style="vertical-align:middle">TT</th>
                                                <th class="text-center" rowspan="2" width="200px" style="vertical-align:middle">Họ tên</th>
                                                <th class="text-center" rowspan="2" width="150px" style="vertical-align:middle">CMND/CCCD</th>
                                                <th class="text-center" rowspan="2" width="150px" style="vertical-align:middle">Ngày tháng năm sinh</th>
                                                <th class="text-center" rowspan="2" width="250px" style="vertical-align:middle">Hộ khẩu thường trú</th>
                                                <th class="text-center" rowspan="2" width="200px" style="vertical-align:middle">Chức vụ (đối với người sử dụng ĐTTM)</th>

                                                <th class="text-center" colspan="3" width="150px" style="vertical-align:middle">Chọn X</th>
                                                <th class="text-center" rowspan="2" width="150px" style="vertical-align:middle">Thời hạn thẻ</th>
                                                <th class="text-center" rowspan="2" width="150px" style="vertical-align:middle">Thời gia làm việc hàng ngày</th>
                                                <th class="text-center" rowspan="2" width="150px" style="vertical-align:middle">Khu vực làm việc</th>
                                                <th class="text-center" rowspan="2" width="250px" style="vertical-align:middle">Cổng đăng ký ra/vào</th>
                                                <th class="text-center" rowspan="2" width="100px" style="vertical-align:middle">Ghi chú</th>
                                                @if (GHID != null)
                                                {
                                                    var idgh = Convert.ToInt32(GHID.IDGH);
                                                    var idct = db.NT_Extendcard.Where(x => x.IDGH == idgh).SingleOrDefault();
                                                    if (idct.IDTTTK == 0)
                                                    {
                                                        <th class="text-center" rowspan="2" style="padding-bottom: 50px;" width="50px">Thao tác</th>
                                                    }
                                                }


                                            </tr>
                                            <tr>
                                                <th class="text-center">Đổi thẻ lưu trú</th>
                                                <th class="text-center">Gia hạn thẻ</th>
                                                <th class="text-center">Bổ sung điện thoại</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int b = 0;
                                            }
                                            @{
                                                var IDGH = Convert.ToInt32(GHID.IDGH);
                                                var Models = db.NT_DetailExtendcard.Where(x => x.IDGH == IDGH).ToList();
                                                foreach (var item in Models)
                                                {
                                                    b++;
                                                    <tr>
                                                        <td class="text-center"> @b </td>
                                                        <td swidth="300px">@item.HoTen</td>
                                                        <td>@item.CCDC</td>
                                                        <td>
                                                            @{
                                                                string date = item.NgaySinh.ToString();
                                                                DateTime BirthDayCover = DateTime.Parse(date);
                                                                @BirthDayCover.ToString("dd-MM-yyyy")
                                                            }
                                                        </td>
                                                        <td>@item.DiaChi</td>
                                                        <td>
                                                            @{
                                                                var IDCV = db.NT_Position.Where(x => x.IDCV == item.ChucVu).FirstOrDefault();
                                                                @IDCV.TenCV.ToString();
                                                            }
                                                        </td>
                                                        @if (item.DoiThe == "1" || item.DoiThe == "X")
                                                        {
                                                            <td class="text-center">X</td>
                                                        }
                                                        else
                                                        {
                                                            <td></td>
                                                        }

                                                        @if (item.GiaHanThe == "2" || item.GiaHanThe == "X")
                                                        {
                                                            <td class="text-center">X</td>
                                                        }
                                                        else
                                                        {
                                                            <td></td>
                                                        }
                                                        @if (item.BoSungDt == "3" || item.BoSungDt == "X")
                                                        {
                                                            <td class="text-center">X</td>
                                                        }
                                                        else
                                                        {
                                                            <td></td>
                                                        }
                                                        <td width="180px">
                                                            @{
                                                                string date1 = item.ThoiHanThe.ToString();
                                                                DateTime CreateDateCover = DateTime.Parse(date);
                                                                @CreateDateCover.ToString("dd-MM-yyyy")
                                                            }
                                                        </td>
                                                        <td>
                                                            @{
                                                                var IDCa = db.NT_Workingtime.Where(x => x.IDCA == item.IDCA).FirstOrDefault();
                                                                @IDCa.TenCA.ToString()
                                                            }
                                                        </td>

                                                        @{
                                                            string ListKhuVuc = "";
                                                            string[] arrList = item.IDKV.Split(',');
                                                            foreach (var ar in arrList)
                                                            {
                                                                if (ar != "")
                                                                {
                                                                    int IDKV = Convert.ToInt32(ar);
                                                                    var NameKhuVuc = db.NT_Workplace.Where(x => x.IDKV == IDKV).FirstOrDefault();
                                                                    ListKhuVuc = String.Concat(NameKhuVuc.TenKV + " " + ListKhuVuc);
                                                                }

                                                            }
                                                        }
                                                        <td>@ListKhuVuc</td>
                                                        @{
                                                            string List = "";
                                                            string[] arrListStr = item.CongID.Split(',');
                                                            foreach (var ar in arrListStr)
                                                            {
                                                                if (ar != "")
                                                                {
                                                                    int IDGate = Convert.ToInt32(ar);
                                                                    var Cong = db.NT_Gate.Where(x => x.IDGate == IDGate).FirstOrDefault();
                                                                    List = String.Concat(Cong.Gate + " " + List);
                                                                }

                                                            }
                                                        }
                                                        <td>@List</td>
                                                        <td>@item.GhiChu</td>
                                                        @if (GHID != null)
                                                        {
                                                            var idgh = Convert.ToInt32(GHID.IDGH);
                                                            var idct = db.NT_Extendcard.Where(x => x.IDGH == idgh).SingleOrDefault();
                                                            if (idct.IDTTTK == 0)
                                                            {
                                                                <td>
                                                                    <a title="Xóa" class="btn-action" href="@Url.Action("Delete", "Detail_ListExtendcard", new { id = item.IDCTGH })"
                                                                       onclick="return confirm('Bạn muốn xóa Thông tin  : @item.HoTen')">
                                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                                    </a>

                                                                    <a id="btn-editdsct_@item.IDCTGH" href="#" title="Chỉnh sửa" class="btn-action"><i class="fa fa-edit"></i> </a>
                                                                    <div class="modal" id="myModaleEditDS_@item.IDCTGH" role="dialog" data-url='@Url.Action("Edit","Detail_ListExtendcard", new { id = item.IDCTGH })'></div>
                                                                    <script type="text/javascript">
                                                                        $('#btn-editdsct_@item.IDCTGH').click(function () {
                                                                            var url = $('#myModaleEditDS_@item.IDCTGH').data('url');
                                                                            $.get(url, function (data) {
                                                                                $("#myModaleEditDS_@item.IDCTGH").html(data);
                                                                                $("#ModalTitle").html("Cập nhật Thông Tin");
                                                                                $("#myModaleEditDS_@item.IDCTGH").modal('show');
                                                                            });
                                                                        });
                                                                    </script>
                                                                </td>
                                                            }
                                                        }

                                                    </tr>

                                                }

                                            }

                                        </tbody>
                                        @{
                                            if (GHID != null)
                                            {
                                                var idgh = Convert.ToInt32(GHID.IDGH);
                                                var idct = db.NT_Extendcard.Where(x => x.IDGH == idgh).SingleOrDefault();

                                                if (idct.IDTTTK == 0)
                                                {
                                                    <tr id="vt">
                                                        <th colspan="15" class="font-weight-bold font-size-lg">
                                                            <button id="add-vt" type="button" class="btn btn-light border border-white"><i class="fas fa-plus"></i></button>
                                                        </th>
                                                    </tr>
                                                }
                                            }


                                        }
                                    </table>
                                </div>
                                @{
                                    if (GHID != null)
                                    {
                                        var idgh = Convert.ToInt32(GHID.IDGH);
                                        var idct = db.NT_Extendcard.Where(x => x.IDGH == idgh).SingleOrDefault();

                                        if (idct.IDTTTK == 0)
                                        {
                                            <input style="margin-top: 1%;" type="submit" value="Xác nhận" class="btn btn-primary pull-right " />
                                        }
                                    }


                                }

                            </div>
                        </div>

                        <div id="list_vt" style="width:100%">
                            @if (GHID != null)
                            {
                                var idgh = Convert.ToInt32(GHID.IDGH);
                                var idct = db.NT_Extendcard.Where(x => x.IDGH == idgh).SingleOrDefault();
                                var idtk = db.KD_TrinhKyGH.Where(x => x.IDGH == idgh).FirstOrDefault();
                                if (idct.IDTTTK != 0)
                                {
                                    <div class="card-header" style="height:150px;">
                                        <div class="row" style="width:100%; margin-bottom: 5%;margin-top:5%;">
                                            <div class="col-md-3" style="padding-left:5%;">
                                                <h6 style="color:red;margin-left:6%;">
                                                    <b>VP1 cửa</b>
                                                </h6>
                                                @{
                                                    if (idtk.IDVP1C != 0 && idtk.TKVP1C == 1)
                                                    {
                                                        var CK = db.NhanViens.Where(x => x.ID == idtk.IDVP1C).FirstOrDefault();
                                                        <img style="width: 45%; padding-bottom: 5%;" src="@Url.Content("~/UploadedFiles/Signature/" + System.IO.Path.GetFileName(CK.Chukychinh))" />
                                                    }

                                                }

                                            </div>

                                            <div class="col-md-3" style="text-align:right;">
                                                <div>
                                                    <h6 style="margin-left:10%;">
                                                        <b>BP Quản lý</b>

                                                    </h6>
                                                    <div>
                                                        @{
                                                            if (idtk.IDBPQL != 0 && idtk.TKBPQL == 1)
                                                            {
                                                                var CK = db.NhanViens.Where(x => x.ID == idtk.IDBPQL).FirstOrDefault();

                                                                <img style="width: 45%; padding-bottom: 5%;" src="@Url.Content("~/UploadedFiles/Signature/" + System.IO.Path.GetFileName(CK.Chukychinh))" />
                                                            }

                                                        }
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="col-md-2" style="text-align: left; margin-top: -3%; margin-left: -3%;">
                                                @{
                                                    if (idtk.IDKTV != 0 && idtk.TKKTV == 1)
                                                    {
                                                        var CK = db.NhanViens.Where(x => x.ID == idtk.IDKTV).FirstOrDefault();
                                                        <img style="width: 45%; padding-bottom: 5%;" src="@Url.Content("~/UploadedFiles/Signature/" + System.IO.Path.GetFileName(CK.Chukynhay))" />
                                                    }

                                                }
                                            </div>
                                            <div class="col-md-3" style="text-align:center;margin-top: -0.5%;padding-left:5%;">
                                                @{
                                                    if (GHID != null)
                                                    {
                                                        var bmid = Convert.ToInt32(GHID.IDGH);
                                                        var ctid = db.NT_Extendcard.Where(x => x.IDGH == bmid).SingleOrDefault();
                                                        var DateTime = (DateTime)ctid.NgayTrinhKy;
                                                        <h6>
                                                            Ngày @DateTime.ToString("dd") tháng @DateTime.ToString("MM") Năm @DateTime.ToString("yyyy")
                                                        </h6>
                                                    }

                                                }

                                            </div>
                                        </div>
                                    </div>
                                }

                            }

                            <div style="margin-left:2%;">
                                <p>
                                    <b>
                                        Lưu ý:
                                    </b><br />
                                    <b>1 : </b>Thời hạn thẻ, NT đăng ký theo hợp đồng đã ký kết với HP, BP quản lý xác nhận lại, điều chỉnh với TH thời hạn chưa phù hợp,
                                    khi hết hạn nhưng do tiến độ chậm trễ, công việc phát sinh,.. thì tiến hành gia hạn theo HD gia hạn thẻ.<br />
                                    <b>2 : </b>Nhóm NT: Theo PL.01-HD.19.25. Phân nhóm nhà thầu, khách mà xác định<br />
                                    <b>3 : </b>Đối với CNBV NT thuộc nhóm chỉ đào tạo an toàn 15 phút muốn chuyển đổi qua làm việc công việc thuộc nhóm khác yêu cầu đào
                                    tạo an toàn cơ bản thì vẫn đăng ký học lại an toàn lao động, sau học an toàn thì thẻ mới được gian hạn theo công việc mới.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="app-wrapper-footer">
                <div class="app-footer">
                    <div class="app-footer__inner">

                    </div>
                </div>
            </div>


        </div>
    </div>
}

<script>
        $(document).ready(function () {
            var i = 1;
            $("#add-vt").click(function () {
                var renderList = $(`<tr>
                                                                        <td class='text-center delItem' > <i class="fa fa-trash" aria-hidden="true"></i> </td>
                                                                        <td >
                                                                            <textarea class='form-control' cols='20' id='fullname_${i}' name='fullname_${i}' placeholder='Họ và tên' rows='1'></textarea>
                                                                            <span class='field-validation-valid text-danger' data-valmsg-for='FullName' data-valmsg-replace='true'></span>
                                                                        </td>
                                                                        <td style=''>
                                                                          <textarea class='form-control' cols='20' id='cccd_${i}' name='cccd_${i}' placeholder='CCCD' rows='1'></textarea>
                                                                            <span class='field-validation-valid text-danger' data-valmsg-for='CCCD' data-valmsg-replace='true'></span>
                                                                        </td>
                                                                        <td style=''>
                                                                            <input class='form-control' data-val='true' data-val-number='The field BirthDay must be a number.' id='ngaysinh_${i}'  name='ngaysinh_${i}' placeholder='' type='date' value=''>
                                                                            <span class='field-validation-valid text-danger' data-valmsg-for='BirthDay' data-valmsg-replace='true'></span>
                                                                        </td>
                                                                        <td style=''>
                                                                            <input class='form-control' data-val='true' data-val-number='The field PermanentResidence must be a number.' id='hokhau_${i}'  name='hokhau_${i}' placeholder='' type='text' value=''>
                                                                            <span class='field-validation-valid text-danger' data-valmsg-for='PermanentResidence' data-valmsg-replace='true'></span>
                                                                        </td>
                                                                         <td style=''>
                                                                            <select class="form-control marginTB5 SelectCV" name="chucvu_${i}" id="chucvu_${i}">
                                                                              <option value ='null'>-Chức Vụ-</option>
                                                                              @foreach (var item in ViewBag.IDCV)
                                                                                {
                                                                                  <option value='@item.Value'>@item.Text</option>
                                                                                }
                                                                            </select>
                                                                        </td>

                                                                        <td style=''>
                                                                            <input class='form-control' data-val='true' data-val-number='The field StorageCard must be a number.' id='luutru_${i}'  name='luutru_${i}' placeholder='' type='radio' value='1'>
                                                                            <span class='field-validation-valid text-danger' data-valmsg-for='StorageCard' data-valmsg-replace='true'></span>
                                                                        </td>
                                                                        <td style=''>
                                                                            <input class='form-control' data-val='true' data-val-number='The field AccessCard must be a number.' id='ravao_${i}'  name='luutru_${i}' placeholder='' type='radio' value='2'>
                                                                            <span class='field-validation-valid text-danger' data-valmsg-for='AccessCard' data-valmsg-replace='true'></span>
                                                                        </td>
                                                                        <td style=''>
                                                                            <input class='form-control' data-val='true' data-val-number='The field AccessCard must be a number.' id='bosung_${i}'  name='luutru_${i}' placeholder='' type='radio' value='3'>
                                                                            <span class='field-validation-valid text-danger' data-valmsg-for='Bosung' data-valmsg-replace='true'></span>
                                                                        </td>
                                                                        <td style=''>
                                                                            <input class='form-control' data-val='true' data-val-number='The field CreateDate must be a number.' id='thoihan_${i}'  name='thoihan_${i}' placeholder='' type='date' value=''>
                                                                            <span class='field-validation-valid text-danger' data-valmsg-for='CreateDate' data-valmsg-replace='true'></span>
                                                                        </td>
                                                                         <td style=''>
                                                                            <select class="form-control marginTB5 SelectThoiGian" name="IDCA_${i}" id="IDCA_${i}">
                                                                              <option value ='null'>-Ca làm việc-</option>
                                                                              @foreach (var item in ViewBag.IDCA)
                                                                                {
                                                                                  <option value='@item.Value'>@item.Text</option>
                                                                                }
                                                                            </select>
                                                                        </td>
                                                                         <td style=''>
                                                                            <select class="form-control marginTB5 SelectKV" name="IDKV_${i}" id="IDKV_${i}" multiple="multiple">
                                                                              <option value ='null'>-Khu vực-</option>
                                                                              @foreach (var item in ViewBag.IDKV)
                                                                                {
                                                                                  <option value='@item.Value'>@item.Text</option>
                                                                                }
                                                                            </select>
                                                                        </td>
                                                                        <td style=''>
                                                                            <select class="form-control marginTB5 SelectCong" name="IDGate_${i}" id="IDGate_${i}" multiple="multiple"  placeholder='Chọn cổng'>
                                                                              <option value ='null'>-Cổng-</option>
                                                                              @foreach (var item in ViewBag.IDGate)
                                                                                {
                                                                                  <option value='@item.Value'>@item.Text</option>
                                                                                }
                                                                            </select>
                                                                        </td>
                                                                        <td style=''>
                                                                            <input class='form-control' data-val='true' data-val-number='The field Note must be a number.' id='ghichu_${i}'  name='ghichu_${i}' placeholder='' type='text' value=''>
                                                                            <span class='field-validation-valid text-danger' data-valmsg-for='Note' data-valmsg-replace='true'></span>
                                                                        </td>


                                                                    </tr>`);
                i++;
                $("#vt").before(renderList);
                $(".SelectCong").chosen({
                    width: "100%",
                });
                $("#table .chosen-search-input").val("Chọn cổng");
                $(".SelectKV").chosen({
                    width: "100%",
                });
                $("#table .chosen-search-input").val("Chọn khu vực");
            });
        });

    $("#table").on("click", ".delItem", function () {
        $(this).closest("tr").remove();
    });
</script>
<script type="text/javascript">
    $("#IDNT").chosen({
        width: "100%"
    });
    $("#IDHD").chosen({
        width: "100%"
    });
    $('#btn-add').click(function () {
        var url = $('#myModal_add').data('url');
        $.get(url, function (data) {
            $("#myModal_add").html(data);
            $("#ModalTitle").html("Phê duyệt");
            $("#myModal_add").modal('show');
        });
    });
    $('#btn-edit').click(function () {
        var url = $('#myModal_edit').data('url');
        $.get(url, function (data) {
            $("#myModal_edit").html(data);
            $("#ModalTitle").html("Phê duyệt");
            $("#myModal_edit").modal('show');
        });
    });
</script>




