@using EPORTAL.ModelsView360;
@using EPORTAL.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
@{
    EPORTALEntities db = new EPORTALEntities();

    var ID = (VideoValidation)ViewData["id"];
    var IDAlbum = (AlbumValidation)ViewData["idal"];
}
<style>
    .youtube-container {
        overflow: hidden;
        width: 100%;
        /* Keep it the right aspect-ratio */
       /* aspect-ratio: 16/9;*/
        /* No clicking/hover effects */
    /*    pointer-events: none;*/
    }

        /*.youtube-container iframe {*/
            /* Extend it beyond the viewport... */
            /*width: 300%;
            height: 100%;*/
            /* ...and bring it back again */
            /*margin-left: -100%;
        }*/
    youtube-container iframe .ytp-title-text{visibility:hidden !important}
</style>
<div class="app-main__outer">
    <div class="app-main__inner" style="padding:0 0 0 15px;">
        <div class="tab-content">
            <div class="row">
                <div class="card">
                    <div class="card-header" style="padding:3% 0 3% 0;">
                        <div class="row" style="width:100%;">

                            <div class="col-md-3 pull-left">
                                @*<a href="@Url.Action("Index", "Album")"><img style="width: 45%;" src="/Images/logo.png"></a>*@
                            </div>
                            <div class="col-md-5">
                                <input type="text" id="txtsearch" name="" placeholder="Tìm kiếm" class="form-control" value="@ViewBag.search">
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary" id="btn-search"><i class="fa fa-search"></i> Tìm kiếm</button>
                            </div>
                        </div>
                    </div>
       
                    <div class="bg-text" style="display:flex;padding:1.5%;height:90%;">
                        <div style="width:85%;height:auto;">
                            @{
                                if (ID != null)
                                {
                                    int id = Convert.ToInt32(ID.IDVideo);
                                    int idab = Convert.ToInt32(IDAlbum.IDAlbum);
                                    var IDVideo = db.Videos.Where(x => x.IDVideo == id && x.AlbumID == idab).ToList();
                                    foreach (var video in IDVideo)
                                    {
                                        <div class="youtube-container">
                                            <iframe id="player" width="100%" height="700" src="@video.URL?autoplay=1&modestbranding=1&showinfo=0&autohide=1&rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </div>

                                        <div>
                                            <div style="width:45%;">
                                                <h5 style="margin-top: 2%;">
                                                    <b>
                                                        @video.Title
                                                    </b>
                                                </h5>
                                            </div>
                                            <div style="margin-top: 1%">
                                                <span>
                                                    <b>
                                                        Ngày Upload : @video.Date
                                                    </b>
                                                </span>
                                            </div>
                                        </div>
                                    }
                                }
                                else if (IDAlbum != null)
                                {
                                    int idal = Convert.ToInt32(IDAlbum.IDAlbum);
                                    foreach (var video in Model)
                                    {

                                        if (video.AlbumID == idal)
                                        {
                                            <div class="youtube-container">
                                                <iframe id="player" width="100%" height="700" src="@video.URL?autoplay=1&modestbranding=1&showinfo=0&autohide=1&rel=0" title="@video.Title" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>
                                            <div>
                                                <div style="width:45%;">
                                                    <h5 style="margin-top: 2%;">
                                                        <b>
                                                            @video.Title
                                                        </b>
                                                    </h5>
                                                </div>
                                                <div style="margin-top: 1%">
                                                    <span>
                                                        <b>
                                                            Ngày Upload : @video.Date
                                                        </b>
                                                    </span>
                                                </div>
                                            </div>

                                            break;
                                        }

                                    }
                                }
                            }
                        </div>

                        <div style="width: 25%; height:750px;">
                            <div style=" margin-left: 6%;">
                                @{
                                    if (IDAlbum != null)
                                    {
                                        int idalbum = Convert.ToInt32(IDAlbum.IDAlbum);
                                        var Title = db.Albums.Where(x => x.IDAlbum == idalbum).FirstOrDefault();
                                        <h6>
                                            <b>
                                                 @Title.TenAlbum
                                            </b>
                                        </h6>

                                    }

                                }

                            </div>
                              <div class="container" id="container" style="width: 100%; height:750px; overflow-y: scroll; margin:0px;">

                            @{
                                if (IDAlbum != null)
                                {
                                    int idalbum = Convert.ToInt32(IDAlbum.IDAlbum);
                                    foreach (var vd in Model)
                                    {
                                        if (vd.AlbumID == idalbum)
                                        {
                                            <div style="margin-left: 3%;">

                                                <div style="display:flex;height: 80px;">
                                                    <div style="width:40%;margin-bottom:5%;">
                                                        <a class="preview">
                                                            <img style="width: 100%; height: 100%;" src="@Url.Content("~/Images/" + System.IO.Path.GetFileName(vd.Images))" />
                                                        </a>
                                                    </div>
                                                    <div style="width:80%;margin-left:5%;">
                                                        <ul style="padding:0px;">
                                                            <li style="list-style-type: none ">
                                                                <a id="video_@vd.IDVideo" style="padding-left: 0px;" href="@Url.Action("Index", "ListVideo",new {id = vd.IDVideo, idalbum = vd.AlbumID})">

                                                                    <i id="Modale_@vd.IDVideo"></i>
                                                                    <b>@vd.Title<br /></b>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <script type="text/javascript">
                                                           $("#Modale_@vd.IDVideo").click(function () {
                                                           var url = $('#video_@vd.IDVideo').data('url');
                                                               $.get(url, function (data) {
                                                               $("#video_@vd.IDVideo").html(data);
                                                               });
                                                           });
                                                        </script>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    }
                                }

                            }

                        </div>

                        </div>
                      

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<script type="text/javascript">
     $("#btn-search").on('click', function () {
        var search = $('#txtsearch').val();
        window.location.href = '@Url.Action("Index", "ListVideo")?search=' + search;
    });
</script>


