
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Publish/Views/Shared/_Layout.cshtml";
}
@using EPORTAL.ModelsDanhBaDoiTac
@model PagedList.IPagedList<NotifyValidation>
@using PagedList.Mvc
<link href="~/Areas/Publish/Content/assets/css/PagedList.css" rel="stylesheet" />

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}



<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-portfolio icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        Quản Lý Thông Báo
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="tab-content">
            <div class="row">
                <div class="card col-lg-12">
                    <div class="card-header">

                        <div class="m-l-auto">

                            @*<button type="button" id="btn-Import" class="btn btn-success m-l-auto"><i class="fa fa-file-excel-o">&nbsp;</i>&nbsp;Nhập Danh sách </button>
                                <div class="modal fade" id="myModalimport" role="dialog" data-url='@Url.Action("ImportExcel", "Notify_Partner")'></div>*@


                            <button type="button" id="btn-add" class="btn btn-primary m-l-auto"><i class="fa fa-plus">&nbsp;</i>&nbsp;Thêm mới </button>
                            <div class="modal fade" id="myModal" role="dialog" data-url='@Url.Action("Create","ManageNotify")'></div>

                        </div>

                    </div>
                    <div class="card-body">

                        <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                            <thead class="thead-light">
                                <tr>
                                    <th width="30px" class="text-center">STT</th>
                                    <th width="" class="text-center">Mã Thông Báo</th>
                                    <th width="" class="text-center">Nội Dung</th>
                                    <th width="" class="text-center">File</th>
                                    <th width="" class="text-center">Ngày thông báo</th>
                                    <th width="" class="text-center">Tình trạng</th>
                                    <th width="100px" class="text-center">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int pageno = (int)Model.PageNumber;
                                    int itemperpage = (int)Model.PageSize;
                                    int RowNo = ((pageno - 1) * itemperpage) + 1;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-center">@RowNo@{RowNo++;}</td>
                                        <td class="text-center">@item.MaTBao</td>
                                        <td class="text-center">@item.NoiDungTBao</td>
                                        @*<td class="text-center">@item.FileDinhKem</td>*@
                                        <td class="text-center">
                                            <a style="color:#0097D0" href="@item.FileDinhKem" target="_blank"><i style="color:#0097D0" class="fa fa-download mr-3"></i>Tải về</a>
                                        </td>
                                        <td class="text-center">@item.Ngay.ToString("dd/MM/yyyy")</td>
                                        <td class="text-center">@item.TinhTrangThongBao</td>
                                        @*<td class="text-center">@item.ImageLogo</td>*@
                                        @*<td class="text-center">
                                                <img src="@Url.Content("~/UploadedFiles/Logo/" + System.IO.Path.GetFileName(item.ImageLogo))" alt="" width="100%"/>
                                            </td>*@


                                        <td class="text-center">

                                            @*<a id="btn-update_@item.IDTBao" title="Sửa" class="fa fa-refresh" style="color:blue"></a>
                                                <div class="modal fade" id="myModale1_@item.IDTBao" role="dialog" data-url='@Url.Action("StatusSwitch", "ManageNotify", new { id = item.IDTBao })'></div>
                                                <script type="text/javascript">
                                                            $("#btn-update_@item.IDTBao").click(function () {
                                                                var url = $('#myModale1_@item.IDTBao').data('url');
                                                                $.get(url, function (data) {
                                                                    $("#myModal").html(data);
                                                                    $("#ModalTitle1").html("Cập nhật Trạng Thái");
                                                                    $("#myModal").modal('show');
                                                                });
                                                            });
                                                </script>*@
                                            @if (item.TinhTrangTB == 1)
                                            {
                                                <a href="" class="btn-action disabled" title="Thêm đối tác"><i style="color:black" class="fa fa-user-plus" aria-hidden="true"></i></a>
                                            }
                                            else if (item.TinhTrangTB == 2)
                                            {
                                                <a href="@Url.Action("NotifyTo", "ManageNotify", new { id = item.IDTBao })" class="btn-action" title="Thêm đối tác"><i style="color:#0097D0" class="fa fa-user-plus" aria-hidden="true"></i></a>
                                            }
                                            <a id="btn-edit_@item.IDTBao" title="Sửa" class="fa fa-edit icon_action"></a>
                                            <div class="modal fade" id="myModale_@item.IDTBao" role="dialog" data-url='@Url.Action("Edit","ManageNotify", new { id = item.IDTBao })'></div>
                                            <script type="text/javascript">
                                                    $("#btn-edit_@item.IDTBao").click(function () {
                                                        var url = $('#myModale_@item.IDTBao').data('url');
                                                        $.get(url, function (data) {
                                                            $("#myModal").html(data);
                                                            $("#ModalTitle").html("Cập nhật Thông báo");
                                                            $("#myModal").modal('show');
                                                        });
                                                    });
                                            </script>
                                            <a class="fa fa-trash icon_action" title="Xóa" href="@Url.Action("Delete", "ManageNotify", new { id = item.IDTBao })"
                                               onclick="return confirm('Bạn muốn xóa Thông báo: @item.NoiDungTBao')">
                                            </a>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="pager">
                            @Html.PagedListPager(Model, page => Url.Action("Index", "Notify_Partner", new { area = "Publish", page }))
                            <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                        </div>

                    </div>

                </div>
            </div>
        </div>


    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
            </div>
        </div>
    </div>


</div>


<script type="text/javascript">


    $('#btn-add').click(function () {
        var url = $('#myModal').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Thêm mới Thông báo");
            $("#myModal").modal('show');
        });
    });
    $('#btn-add2').click(function () {
        var url = $('#myModal').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle2").html("Chuyển đổi tình trạng");
            $("#myModal").modal('show');
        });
    });

    $('#btn-Import').click(function () {
        var url = $('#myModalimport').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Thêm mới danh sách Thông báo");
            $("#myModal").modal('show');
        });
    });


</script>



