
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PagedList.IPagedList<HistoryCardMobilityValidation>
@using PagedList.Mvc
@using EPORTAL.ModelsView360;
@using EPORTAL.ModelsPartner;
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />
@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
@{
    EPORTALEntities db = new EPORTALEntities();
    EPORTAL_NTEntities db_nt = new EPORTAL_NTEntities();
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-portfolio icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        Quá trình thẻ cơ động nhà thầu
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="tab-content">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th width="30px" class="text-center">STT</th>
                                            <th class="text-center" width="120px">Họ và tên</th>
                                            <th class="text-center" width="100px">CMND/CCCD</th>
                                            <th class="text-center" width="200px">Nhà Thầu</th>
                                            <th class="text-center" width="150px">Từ ngày</th>
                                            <th class="text-center" width="150px">Đến ngày</th>
                                            <th class="text-center" width="100px">Số thẻ</th>
                                            <th class="text-center" width="200px">Ghi Chú</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int pageno = (int)Model.PageNumber;
                                            int itemperpage = (int)Model.PageSize;
                                            int RowNo = ((pageno - 1) * itemperpage) + 1;
                                        }
                                        @{

                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="text-center"> @RowNo@{RowNo++;}</td>
                                                    <td>
                                                        @item.HoTen
                                                    </td>
                                                    <td>
                                                        @item.CCCD
                                                    </td>
                                                    <td>
                                                        @{
                                                            var NhaThau = db.NT_Partner.Where(x => x.ID == item.IDNT).FirstOrDefault();
                                                            @NhaThau.ShortName
                                                        }
                                                    </td>
                                                    <td class="text-center">
                                                        @item.Tungay.ToString("dd-MM-yyyy")
                                                    </td>
                                                    <td class="text-center">
                                                        @if (item.Denngay == DateTime.Parse("0001/01/01"))
                                                        {

                                                        }
                                                        else
                                                        {
                                                            @item.Denngay.ToString("dd-MM-yyyy")
                                                        }
                                                    </td>
                                                    <td class="text-center">
                                                        @item.SoThe
                                                    </td>
                                                    <td class="text-center">
                                                        @item.GhiChu
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                                <div class="pager">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", "HistoryCardMobility", new { area = "Partner", page }))
                                    <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">

            </div>
        </div>
    </div>


</div>






