@model EPORTAL.ModelsDanhBaDoiTac.AddressValidation

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IDDiaChi)
    <div class="modal-dialog" id="form">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ModalTitle"></h5>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">


                <fieldset id="SubmitForm">
                    <div class="row">


                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1">Lĩnh Vực Hoạt Động</label>
                                @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control", placeholder = "Địa Chỉ", @id = "DiaChi" } })
                                @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1">Lĩnh Vực Hoạt Động</label>
                                @Html.EditorFor(model => model.KhuVuc, new { htmlAttributes = new { @class = "form-control", placeholder = "Khu Vực", @id = "Mien" } })
                                @Html.ValidationMessageFor(model => model.KhuVuc, "", new { @class = "text-danger" })

                            </div>
                        </div>


                    </div>

                    <div class="btn-margin-top text-center">
                        <input type="submit" value="Xác nhận" class="btn btn-success button_submit" />
                    </div>

                </fieldset>


            </div>
        </div>
    </div>
}


<script>

</script>


