@model EPORTAL.ModelsView360.VideoValidation

@using (Html.BeginForm("Edit", "Video", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IDVideo)
    <div class="modal-dialog" id="form">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ModalTitle"></h5>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <fieldset id="SubmitForm">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Tên dự án</label>
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "Title", @text = "", @required = true } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1">Bộ Phận Yêu cầu</label>

                                @Html.DropDownListFor(model => model.IDPhongBan, ViewBag.PBList as SelectList, "--Chọn Phòng Ban--", new { @id = "IDPhongBan", @class = "form-control" })
                                @*@Html.ValidationMessageFor(model => model.V_TT, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1">Ngày thực hiện</label>
                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "Date", @type = "date", @Value = ViewBag.Date, @required = true } })
                                @*@Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Link truy cập</label>

                                @Html.EditorFor(model => model.URL, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "URL", @required = true } })
                                @*@Html.ValidationMessageFor(model => model.V_BKS, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Ghi chú</label>

                                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "Note" } })
                                @*@Html.ValidationMessageFor(model => model.V_BKS, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Hình Ảnh (Kích thước yêu cầu 20x20)</label>
                                @Html.EditorFor(model => model.Images, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "Images", @readonly = "true" } })
                                <div class="col-md-10">
                                    <input type="file" name="ImageFile" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Album Video</label>

                                @Html.DropDownListFor(model => model.AlbumID, ViewBag.ALList as SelectList, "--Chọn Album--", new { @id = "AlbumID", @class = "form-control", @required = true })
                                @*@Html.ValidationMessageFor(model => model.V_TT, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                    </div>
                    <div class="btn-margin-top text-center">

                        <input type="submit" value="Xác nhận" class="btn btn-success button_submit" />

                    </div>

                </fieldset>

            </div>
        </div>
    </div>

}
<script type="text/javascript">
    function checkfile(sender) {
        var validExts = new Array(".pdf");
        var fileExt = sender.value;
        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
        if (validExts.indexOf(fileExt) < 0) {
            alert("Vui lòng chọn file Excel: " +
                validExts.toString() + "");
            $('#FileUpload').val() = '';
            return false;
        }
        else { return true; }
    };

    $("#IDPhongBan").chosen({
        width: "100%"
    });
    $("#AlbumID").chosen({
        width: "100%"
    });
</script>



