
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EPORTAL.ModelsView360
@model PagedList.IPagedList<AlbumValidation>
@using PagedList.Mvc
@using EPORTAL.Models;
@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}

<link href="~/Content/PagedList.css" rel="stylesheet" />
<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-portfolio icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        Danh sách Album
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="tab-content">
            <div class="row">
                <div class="card">

                    <div class="card-header">
                        <div class="row" style="width:100%">
                            <div class="col-md-8 col-lg-8">
                                <div class="row">
                                    <div class="col-md-7">
                                        <input type="text" id="txtsearch" name="" placeholder="Tìm kiếm" class="form-control" value="@ViewBag.search">
                                    </div>
                                    <div class="col-md-5">
                                        <button class="btn btn-primary" id="btn-search"><i class="fa fa-search"></i> Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>
                            @if (EPORTAL.Models.MyAuthentication.IDQuyen == 1)
                            {
                                <div class="col-md-4">

                                    <button type="button" id="btn-add" class="btn btn-primary " style="margin-left:10px;float:right"><i class="fa fa-plus">&nbsp;</i>&nbsp;Thêm mới </button>
                                    <div class="modal" id="myModal" role="dialog" data-url='@Url.Action("Create","Album")' style="margin-top:50px"></div>

                                    @*<button type="button" id="btn-Import" class="btn btn-primary m-l-auto pull-right"><i class="fa fa-upload">&nbsp;</i>&nbsp;Upload </button>
                                    <div class="modal" id="myModalImport" role="dialog" data-url='@Url.Action("ImportExcel","Album")' style="margin-top:50px"></div>*@
                                </div>
                            }
                                
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th width="30px" class="text-center">STT</th>
                                            @if (EPORTAL.Models.MyAuthentication.IDQuyen == 1)
                                            {
                                                <th class="text-center" width="100px">Thao tác</th>
                                            }
                                            <th class="text-center" width="180px">Hình ảnh</th>
                                            <th class="text-center">Tên Album</th>
                                            <th class="text-center" style="width:150px">Số lượng</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int pageno = (int)Model.PageNumber;
                                            int itemperpage = (int)Model.PageSize;
                                            int RowNo = ((pageno - 1) * itemperpage) + 1;
                                        }
                                        @{

                                            foreach (var item in Model)
                                            {
                                                
                                                    var search = "";
                                                    EPORTALEntities db = new EPORTALEntities();
                                                    //var video = db.Videos.Where(x => x.AlbumID == item.IDAlbum).Count();
                                                    var video = from a in db.Video_select(search, MyAuthentication.ID).Where(x => x.AlbumID == item.IDAlbum)
                                                                select new VideoValidation
                                                                {
                                                                    IDVideo = a.IDVideo,
                                                                    Title = a.Title,
                                                                    Images = a.Images,
                                                                    URL = a.URL,
                                                                    Date = (DateTime)a.Date,
                                                                    Note = a.Note,
                                                                    IDPhongBan = (int)a.IDPhongBan,
                                                                    AlbumID = (int)a.AlbumID
                                                                };
                                                    var soluong = video.Count();
                                                
                                                if (soluong > 0)
                                                {
                                                                                <tr>
                                                                                    <td class="text-center"> @RowNo@{RowNo++;}</td>
                                                                                    @if (EPORTAL.Models.MyAuthentication.IDQuyen == 1)
                                                                                    {
                                                                                        <td class="text-center">
                                                                                            <a title="Xóa" class="btn-action" href="@Url.Action("Delete", "Album", new { id = item.IDAlbum })"
                                                                                               onclick="return confirm('Bạn muốn xóa Thông tin  : @item.TenAlbum')">
                                                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                                                            </a>

                                                                                            <a id="btn-edit_@item.IDAlbum" href="#" title="Chỉnh sửa" class="btn-action"><i class="fa fa-edit"></i> </a>
                                                                                            <div class="modal " id="myModaleEdit_@item.IDAlbum" role="dialog" data-url='@Url.Action("Edit", "Album", new { id = item.IDAlbum })'></div>
                                                                                            <script type="text/javascript">
                                                                    $('#btn-edit_@item.IDAlbum').click(function () {
                                                                        var url = $('#myModaleEdit_@item.IDAlbum').data('url');
                                                                        $.get(url, function (data) {
                                                                            $("#myModaleEdit_@item.IDAlbum").html(data);
                                                                            $("#ModalTitle").html("Cập nhật Thông Tin Album");
                                                                            $("#myModaleEdit_@item.IDAlbum").modal('show');
                                                                        });
                                                                    });
                                                                                            </script>
                                                                                        </td>
                                                                                    }

                                                                                    <td>
                                                                                        <a href="@Url.Action("Index", "ListVideo", new { idalbum = item.IDAlbum })"><img src="@Url.Content("~/Images/" + System.IO.Path.GetFileName(item.Images))" class="d-block m-auto" width="150px" alt="no Image" /></a>
                                                                                    </td>
                                                                                    <td>@item.TenAlbum</td>

                                                                                    <td class="text-center">@soluong</td>

                                                                                </tr>
                                                }

                                            }
                                        }
                                    </tbody>
                                </table>
                                <div class="pager">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", "Album", new { area = "View360", page }))
                                    <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">

            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
    $('#btn-add').click(function () {
        var url = $('#myModal').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Thêm Album");
            $("#myModal").modal('show');
        });
    });
    $('#btn-Import').click(function () {
        var url = $('#myModalImport').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Add Permission");
            $("#myModal").modal('show');
        });
    });
     $("#btn-search").on('click', function () {
        var search = $('#txtsearch').val();
        window.location.href = '@Url.Action("Index", "Album")?search=' + search;
    });
</script>





