
@model EPORTAL.ModelsTagSign.TerminalModel

@using (Html.BeginForm("Create", "Terminal", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog" id="form">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ModalTitle"></h5>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <fieldset id="SubmitForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Nhập IP</label>
                                @Html.TextBoxFor(model => model.IPAdress, new { @class = "form-control", placeholder = "", @id = "IPAdress", @text = "" })
                                @Html.ValidationMessageFor(model => model.IPAdress, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Nhập Vị trí</label>
                                @Html.TextBoxFor(model => model.Vitri, new { @class = "form-control", placeholder = "", @id = "Vitri", @text = "" })
                                @Html.ValidationMessageFor(model => model.Vitri, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Nhập tên cổng</label>

                                @Html.DropDownListFor(model => model.IDCong, ViewBag.ListCong as SelectList, "----- Chọn Cổng -----", new { @id = "IDCong", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IDCong, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>
                    <div class="btn-margin-top text-center">

                        <input type="submit" value="Xác nhận" class="btn btn-success button_submit" />

                    </div>

                </fieldset>

            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $("#IDCong").chosen({
        width: "100%"
    });

    $("#IDNV").chosen({
        width: "100%"
    });
   /* $("#a").click(function () {
         console.log("a");
     })*/
</script>
<script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>


