@model EPORTAL.ModelsTagSign.TerminalModel

@using (Html.BeginForm("Edit", "Terminal", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog" id="form">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ModalTitle"></h5>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <fieldset id="SubmitForm">
                    @Html.HiddenFor(model => model.Id)
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Nhập IP</label>
                                @Html.EditorFor(m => m.IPAdress, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "IPAdress", @text = "" } })
                                @Html.ValidationMessageFor(model => model.IPAdress, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Nhập Vị trí</label>
                                @Html.EditorFor(model => model.Vitri, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "Vitri", @text = "" } })
                                @Html.ValidationMessageFor(model => model.Vitri, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Nhập tên cổng</label>

                                @Html.DropDownListFor(model => model.IDCong, ViewBag.ListCong as SelectList, "----- Chọn Cổng -----", new { @id = "IDCong", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IDCong, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label style="margin-left:13px" class="small mb-1">Chọn trạng thái</label>

                                <select id="TT" name="IDTinhTrang" class="form-control">
                                    <option value="">--Chọn Trạng Thái--</option>
                                    @if (Model.IDTinhTrang == 0)
                                    {
                                        <option value="0" selected>Khóa</option>
                                    }
                                    else
                                    {
                                        <option value="0">Khóa</option>
                                    }
                                    @if (Model.IDTinhTrang == 1)
                                    {
                                        <option value="1" selected>Mở</option>
                                    }
                                    else
                                    {
                                        <option value="1">Mở</option>
                                    }
                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="btn-margin-top text-center">

                        <input type="submit" value="Xác nhận" class="btn btn-success button_submit" />

                    </div>

                </fieldset>

            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $("#IDCong").chosen({
        width: "100%"
    });
</script>
<script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>

