
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EPORTAL.ModelsView360
@using EPORTAL.Models
@model IEnumerable<EPORTAL.Models.EmployeesInfo>
<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-portfolio icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        Thông Tin Nhân Viên
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="tab-content">
            <div class="row">
                <div class="card col-lg-12">
                    <div class="card-header">

                        <div class="m-l-auto">

                            @if (Model.Count() == 0)
                            {
                                <button type="button" id="btn-add" class="btn btn-primary m-l-auto"><i class="fa fa-plus">&nbsp;</i>&nbsp;Thêm mới </button>

                            }

                            <div class="modal" id="myModal" role="dialog" data-url='@Url.Action("Create","DeclarationInfo")' style="margin-top:50px"></div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                <thead class="thead-light">
                                    <tr>

                                        <th class="text-center" width="115px">Mã Nhân Viên</th>
                                        <th width="200px">Họ Tên</th>
                                        <th width="280px">Phòng Ban</th>

                                        <th  width="180px">CMND/ Hộ Chiếu</th>
                                        <th  width="220px">CCCD/ Mã Định Danh</th>
                                        <th class="text-center" width="120px">Hình Ảnh</th>
                                        <th class="text-center">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td class="text-center">@item.MaNV</td>
                                            <td>@item.HoTen</td>
                                            <td>@item.PhongBan</td>

                                            <td>@item.CMND</td>
                                            <td>@item.CCCD</td>

                                            <td class="text-center">
                                                @if(item.FileHinh!=null && item.FileHinh!="")
                                                {<a href="@item.FileHinh" target="_blank"><i class="fa fa-download mr-3"></i>Tải về</a> }
                                                
                                            </td>



                                            <td class="text-center">


                                                @{ EPORTALEntities db_context = new EPORTALEntities();
                                                    var res = from t in db_context.ThongTinCaNhans
                                                              where t.IDNhanVien == MyAuthentication.ID
                                                              select new EmployeesInfo()
                                                              {
                                                                  IDThongTin = t.IDThongTin,
                                                                  XacNhan = (bool)t.XacNhan,
                                                                  IDNhanVien = (int)t.IDNhanVien,
                                                              };
                                                    foreach (var it in res)
                                                    {
                                                        if (it.XacNhan == true)
                                                        {
                                                            <span>Đã Xác Nhận Thông Tin</span>
                                                        }
                                                        else
                                                        {
                                                            <a class="fa fa-check icon_action" title="Xác nhận thông tin" href="@Url.Action("Confirm", "DeclarationInfo", new { id = item.IDThongTin })"
                                                               onclick="return confirm('Bạn Xác nhận Thông tin Nhân viên: @item.MaNV')">
                                                            </a>

                                                            <a id="btn-edit_@item.IDThongTin" title="Sửa" class="fa fa-edit icon_action"></a>
                                                            <div class="modal fade" id="myModale_@item.IDThongTin" role="dialog" data-url='@Url.Action("Edit","DeclarationInfo", new { id = item.IDThongTin })'></div>
                                                            <script type="text/javascript">
                                                            $("#btn-edit_@item.IDThongTin").click(function () {
                                                                var url = $('#myModale_@item.IDThongTin').data('url');
                                                                $.get(url, function (data) {
                                                                    $("#myModal").html(data);
                                                                    $("#ModalTitle").html("Cập nhật Thông tin");
                                                                    $("#myModal").modal('show');
                                                                });
                                                            });
                                                            </script>

                                                            <a class="fa fa-trash icon_action" title="Xóa" href="@Url.Action("Delete", "DeclarationInfo", new { id = item.IDThongTin })"
                                                               onclick="return confirm('Bạn muốn xóa Thông tin Nhân viên: @item.MaNV')">
                                                            </a>
                                                        }
                                                    }
                                                }


                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
            </div>
        </div>
    </div>


</div>


<script type="text/javascript">


    $('#btn-add').click(function () {
        var url = $('#myModal').data('url');
        console.log(url);
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Thêm mới Thông tin");
            $("#myModal").modal('show');
        });
    });



</script>



