
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutNhaThau.cshtml";
}

@model PagedList.IPagedList<DK_ListExtendcardNTValidation>
@using PagedList.Mvc
@using EPORTAL.ModelsView360;
@using EPORTAL.ModelsTagSign;

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
@{
    EPORTALEntities db = new EPORTALEntities();
    EPORTAL_REGISTEREntities db_dk = new EPORTAL_REGISTEREntities();
    var nd = db.AuthorizationContractors.Where(x => x.IDNhanVien == MyAuthentication.ID).SingleOrDefault();
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-portfolio icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        ĐƠN ĐỀ NGHỊ CẤP LẠI/ GIA HẠN/ ĐIỀU CHỈNH THÔNG TIN THẺ NGƯỜI
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="tab-content">
            <div class="row">
                <div class="card">

                    <div class="card-header">
                        <div class="row" style="width:100%">
                            <div class="col-md-10 col-lg-10">
                                <div class="row">
                                    <span class="text-center" style="margin-top: 8px">Từ ngày :</span>
                                    <div class="col-md-2">
                                        @Html.TextBox("begind", null, new { @id = "begind", @type = "date", @class = "form-control" })
                                    </div>
                                    <span class="text-center" style="margin-top: 8px">Đến ngày :</span>
                                    <div class="col-md-2">
                                        @Html.TextBox("endd", null, new { @id = "endd", @type = "date", @class = "form-control" })
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-primary" id="btn-search"><i class="fa fa-search"></i> Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">

                                <button type="button" id="btn-add" class="btn btn-primary " style="margin-left:10px;float:right"><i class="fa fa-plus">&nbsp;</i>&nbsp;Thêm mới </button>
                                <div class="modal" id="myModal" role="dialog" data-url='@Url.Action("Create","ListExtendcardNT",new {area="TagSign"})' style="margin-top:50px"></div>

                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th width="30px" class="text-center">STT</th>
                                            <th class="text-center" width="100px">Thao tác</th>
                                            <th class="text-center" width="200px">Trích yếu nội dung văn bản</th>
                                            <th class="text-center" width="200px">Nhân viên NT</th>
                                            <th class="text-center" width="200px">Nhà thầu</th>
                                            <th class="text-center" width="200px">Hợp đồng</th>
                                            <th class="text-center" width="100px">Tình trạng</th>
                                            <th class="text-center" width="100px">Ngày trình ký</th>
                                            <th class="text-center" width="200px">Ghi chú</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int pageno = (int)Model.PageNumber;
                                            int itemperpage = (int)Model.PageSize;
                                            int RowNo = ((pageno - 1) * itemperpage) + 1;
                                        }
                                        @{

                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="text-center"> @RowNo@{RowNo++;}</td>
                                                    <td class="text-center">
                                                        @if (item.TinhTrangID == 0)
                                                        {
                                                            <a title="Xóa" class="btn-action" href="@Url.Action("Delete", "ListExtendcardNT", new { id = item.IDGHT })"
                                                               onclick="return confirm('Bạn muốn xóa Thông tin  : @item.NoiDung')">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                            </a>

                                                            <a id="btn-Info_@item.IDGHT" href="#" title="trình ký" class="btn-action"><i class="fa fa-paper-plane"></i> </a>
                                                            <div class="modal " id="myModaleInfo_@item.IDGHT" role="dialog" data-url='@Url.Action("CheckInformation", "ListExtendcardNT", new { id = item.IDGHT, idtt = 1 })'></div>
                                                            <script type="text/javascript">
                                                                            $('#btn-Info_@item.IDGHT').click(function () {
                                                                                var url = $('#myModaleInfo_@item.IDGHT').data('url');
                                                                                $.get(url, function (data) {
                                                                                    $("#myModaleInfo_@item.IDGHT").html(data);
                                                                                    $("#ModalTitle").html("Trình ký danh sách");
                                                                                    $("#myModaleInfo_@item.IDGHT").modal('show');
                                                                                });
                                                                            });
                                                            </script>

                                                        }
                                                        else if (item.TinhTrangID != 2)
                                                        {
                                                            <a title="Hủy trình ký" class="btn-action" href="@Url.Action("Cancel", "ListExtendcardNT", new { id = item.IDGHT})"
                                                               onclick="return confirm('Bạn muốn hủy trình ký  : @item.NoiDung')">
                                                                <i class="fa fa-ban" aria-hidden="true"></i>
                                                            </a>
                                                        }
                                                        @if (item.TinhTrangID == 0)
                                                        {
                                                            <a href="@Url.Action("Form", "Detail_ListExtendcardNT", new { id = item.IDGHT })" class="btn-action" title="Chi tiết danh sách">
                                                                <i class="fa-solid fa-bars"></i>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="@Url.Action("Index", "Detail_ListExtendcardNT", new { id = item.IDGHT })" class="btn-action" title="Chi tiết danh sách">
                                                                <i class="fa-solid fa-bars"></i>
                                                            </a>
                                                        }

                                                        @if (item.TinhTrangID == 2)
                                                        {

                                                            <a title="Luồng cũ" class="btn-action" href="@Url.Action("TestView", "ListExtendcardNT", new { id =item.IDGHT})">
                                                                <i class="fa fa-eye-slash"></i>
                                                            </a>
                                                            <a title="Luồng mới" class="btn-action" href="@Url.Action("Test_View", "ListExtendcardNT", new { id =item.IDGHT})">
                                                                <i class="fa fa-eye"></i>
                                                            </a>
                                                        }
                                                    </td>
                                                    <td>@item.NoiDung</td>
                                                    <td>
                                                        @if (item.LoaiNT == 1)
                                                        {
                                                            <span>Người Việt Nam</span>
                                                        }
                                                        else
                                                        {
                                                            <span>Người Nước ngoài</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @{
                                                            var IDNT = db.NT_Partner.Where(x => x.ID == item.NTID).FirstOrDefault();
                                                        }
                                                        @if (IDNT!= null)
                                                        {
                                                            @IDNT.FullName
                                                        }

                                                    </td>

                                                    <td>
                                                        @if (item.HDID != 0 && item.HDID != 1)
                                                        {
                                                            var Check_ = db.NT_Contract.Where(x => x.IDContract == item.HDID).FirstOrDefault();
                                                            <span>@Check_.Somecontracts</span>
                                                        }
                                                        else
                                                        {
                                                            <span>Chưa có hợp đồng</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.TinhTrangID == 0)
                                                        {
                                                            <a href="@Url.Action("Show", "FollowRenew", new { IDGHT = item.IDGHT})">Chưa trình ký</a>

                                                        }
                                                        else if (item.TinhTrangID == 1)
                                                        {
                                                            <a href="@Url.Action("Show", "FollowRenew", new { IDGHT = item.IDGHT})">Đã trình ký</a>
                                                            @*<td>Đang xử lý</td>*@
                                                        }
                                                        else if (item.TinhTrangID == 2)
                                                        {
                                                            <a href="@Url.Action("Show", "FollowRenew", new { IDGHT = item.IDGHT})">Đã xử lý</a>
                                                            @*<td>Đã xử lý</td>*@
                                                        }
                                                        else if (item.TinhTrangID == 3)
                                                        {
                                                            <a href="@Url.Action("Show", "FollowRenew", new { IDGHT = item.IDGHT})">Hủy trình ký</a>
                                                            @*<td>Hủy trình ký</td>*@
                                                        }
                                                    </td>

                                                    <td class="text-center">@item.NgayDangKy.ToString("dd-MM-yyyy")</td>
                                                    <td>@item.GhiChu</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                                <div class="pager">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", "ListExtendcardNT", new { area = "TagSign", page }))
                                    <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">

            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
    $('#btn-add').click(function () {
        var url = $('#myModal').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Thêm tiêu đề");
            $("#myModal").modal('show');
        });
    });
    $('#btn-Import').click(function () {
        var url = $('#myModalImport').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Add Permission");
            $("#myModal").modal('show');
        });
    });
     $("#btn-search").on('click', function () {
         var search = $('#txtsearch').val();
         var begind = Date.parse($('#begind').val());
         var endd = Date.parse($('#endd').val());
         window.location.href = '@Url.Action("Index", "ListExtendcardNT")?search=' + search + '&begind=' + $('#begind').val() + '&endd=' + $('#endd').val();
     });
    $(document).ready(function () {
        var dateNewFormat, onlyDate, today = new Date();

        var prevMonthLastDate = new Date(today.getFullYear(), today.getMonth(), 1);

        dateLastDate = prevMonthLastDate.getFullYear() + '-';
        if (prevMonthLastDate.getMonth() >= 9) {

            dateLastDate += (prevMonthLastDate.getMonth() + 1);
        }
        else {
            dateLastDate += '0' + (prevMonthLastDate.getMonth() + 1);
        }

        onlyLastDate = prevMonthLastDate.getDate();

        if (onlyLastDate.toString().length == 2) {

            dateLastDate += "-" + onlyLastDate;
        }
        else {
            dateLastDate += '-0' + onlyLastDate;
        }



        dateNewFormat = today.getFullYear() + '-';
        if (today.getMonth() >= 9) {

            dateNewFormat += (today.getMonth() + 1);
        }
        else {
            dateNewFormat += '0' + (today.getMonth() + 1);
        }

        onlyDate = today.getDate();
        if (onlyDate.toString().length == 2) {

            dateNewFormat += "-" + onlyDate;
        }
        else {
            dateNewFormat += '-0' + onlyDate;
        }
        if ($('#begind').val() == '') {
            $('#begind').val(dateLastDate);
        }
        if ($('#endd').val() == '') {
            $('#endd').val(dateNewFormat);
        }
    });
</script>








