
@{
    ViewBag.Title = "CheckInformation";
    Layout = "~/Views/Shared/LayoutNhaThau.cshtml";
}

<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />
@model EPORTAL.ModelsTagSign.List_RegisterPeopleValidation
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="app-main__outer">
    <div class="app-main__inner" style="display:block;">
        <div class="tab-content">
            <div class="row">
                <div class="card">
                    @using (Html.BeginForm("CheckInformation", "List_RegisterPeople_NT", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "submitForm(event)" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="card-headers" style="margin-top: 1.5%; border-bottom-width: 0px;">
                            <div class="col-md-12 col-lg-12" style=" text-align: center;">
                                <h5 style="color: red;"><b> THÔNG TIN PHÊ DUYỆT</b></h5>
                            </div>
                            <div class="row" style="width: 100%; padding-left: 5%;">
                                <div class="col-md-12 col-lg-12" style=" text-align: left;">
                                    <h6><b>Bộ phận Quản lý <span style="color:red;">(*) :</span></b></h6>
                                </div>


                                <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                    <thead>
                                        <tr style="background-color: #f8f9fa;">
                                            <th class="text-center" width="120px"> Chức vụ </th>
                                            <th class="text-center" width="120px"> Họ và tên </th>
                                            <th class="text-center" width="120px"> Ghi chú</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                Kỹ thuật viên<span style="color:red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> :
                                            </td>
                                            <td class="text-center">
                                                @Html.DropDownListFor(model => model.CBNV1, ViewBag.KTV_QL_List as SelectList, "----- Chọn CBNV trình ký -----", new { @id = "C1", @class = "form-control" })
                                            </td>
                                            <td class="text-center">
                                                <span style="margin-top: 8px"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ghi chú: Kỹ thuật viên, Nhân viên ký nháy Bộ phận quản lý<span style="color:red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Tr/P Bộ phận<span style="color:red;">(*)</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :
                                            </td>
                                            <td class="text-center">
                                                @Html.DropDownListFor(model => model.CBNV2, ViewBag.TP_QL_List as SelectList, "----- Chọn CBNV trình ký -----", new { @id = "C2", @class = "form-control" })
                                            <td class="text-center">
                                                <span class="text-center" style="margin-top: 8px"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ghi chú: Trưởng phó ký chính Bộ phận quản lý <span style="color:red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>



                                <div class="col-md-12 col-lg-12" style=" text-align: left;">
                                    <h6><b>Phòng Đối ngoại <span style="color:red;"></span></b></h6>
                                </div>
                                <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                    <thead>
                                        <tr style="background-color: #f8f9fa;">
                                            <th class="text-center" width="120px"> Chức vụ </th>
                                            <th class="text-center" width="120px"> Họ và tên </th>
                                            <th class="text-center" width="120px"> Ghi chú</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                T/P BP hoặc NĐUQ<span style="color:red;">(*)</span> &nbsp;&nbsp;&nbsp;:
                                            </td>
                                            <td class="text-center">
                                                @Html.DropDownListFor(model => model.CBNV3, ViewBag.TP_HCDN as SelectList, "----- Chọn CBNV trình ký -----", new { @id = "C3", @class = "form-control" })
                                            </td>
                                            <td class="text-center">
                                                <span class="text-center" style="margin-top: 8px"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ghi chú: Trưởng phó ký chính P. Đối ngoại (Liên quan đến Người nước ngoài) <span style="color:red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>




                                <div class="col-md-12 col-lg-12" style=" text-align: left;">
                                    <h6><b>Bộ phận Liên quan<span style="color:red;">(*)</span></b></h6>
                                </div>
                                <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                    <thead>
                                        <tr style="background-color: #f8f9fa;">
                                            <th class="text-center" width="120px"> Chức vụ </th>
                                            <th class="text-center" width="120px"> Họ và tên </th>
                                            <th class="text-center" width="120px"> Ghi chú</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                Kỹ thuật viên<span style="color:red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> :
                                            </td>
                                            <td class="text-center">
                                                @Html.DropDownListFor(model => model.CBNV4, ViewBag.KTV_LQ_CD_List as SelectList, "----- Chọn CBNV trình ký -----", new { @id = "C4", @class = "form-control" })
                                            </td>
                                            <td class="text-center">
                                                <span class="text-center" style="margin-top: 8px"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ghi chú: Kỹ thuật viên ký nháy BP. Cảng - Bộ phận liên quam <span style="color:red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <span class="text-center" style="margin-top: 8px"> Tr/P Bộ phận<span style="color:red;">(*)</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </span>
                                            </td>
                                            <td class="text-center">
                                                @Html.DropDownListFor(model => model.CBNV5, ViewBag.TP_QL_CD_List as SelectList, "----- Chọn CBNV trình ký -----", new { @id = "C5", @class = "form-control" })
                                            </td>
                                            <td class="text-center">
                                                <span class="text-center" style="margin-top: 8px"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ghi chú: Trưởng phó ký chính BP. Cảng - Bộ phận liên quan <span style="color:red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Kỹ thuật viên<span style="color:red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> :
                                            </td>
                                            <td class="text-center">
                                                @Html.DropDownListFor(model => model.CBNV6, ViewBag.KTV_LQ_CTH_List as SelectList, "----- Chọn CBNV trình ký -----", new { @id = "C6", @class = "form-control" })
                                            </td>
                                            <td class="text-center">
                                                <span class="text-center" style="margin-top: 8px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ghi chú: Kỹ thuật viên ký nháy Cảng tổng hợp - Bộ phận liên quan <span style="color:red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <span class="text-center" style="margin-top: 8px"> Tr/P Bộ phận<span style="color:red;">(*)</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </span>
                                            </td>
                                            <td class="text-center">
                                                @Html.DropDownListFor(model => model.CBNV7, ViewBag.TP_QL_CTH_List as SelectList, "----- Chọn CBNV trình ký -----", new { @id = "C7", @class = "form-control" })
                                            </td>
                                            <td class="text-center">
                                                <span class="text-center" style="margin-top: 8px"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ghi chú: Trưởng phó ký chính Cảng tổng hợp - Bộ phận liên quan <span style="color:red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>



                                <div class="col-md-12 col-lg-12" style=" text-align: left;">
                                    <h6><b>Tổ CPT (P.ATMT)<span style="color:red;">(*)</span></b></h6>
                                </div>
                                <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                    <thead>
                                        <tr style="background-color: #f8f9fa;">
                                            <th class="text-center" width="120px"> Chức vụ </th>
                                            <th class="text-center" width="120px"> Họ và tên </th>
                                            <th class="text-center" width="120px"> Ghi chú</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="text-center" style="margin-top: 8px"> Tổ CPT<span style="color:red;">(*)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> : </span>
                                            </td>
                                            <td class="text-center">
                                                @Html.DropDownListFor(model => model.CBNV8, ViewBag.VP1C_List as SelectList, "----- Chọn CBNV trình ký -----", new { @id = "C8", @class = "form-control" })
                                            </td>
                                            <td class="text-center">
                                                <span class="text-center" style="margin-top: 8px"> Ghi chú: Tổ cấp phát thẻ P. An toàn môi trường - VP1C <span style="color:red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="btn-margin-top" style="padding: 2%;">

                            <input type="submit" value="Trình ký" class="btn btn-success button_submit" />
                            <a class="" title="Trở về" href="@Url.Action("Index", "List_RegisterPeople_NT")">
                                <span class="btn-transition btn btn-warning" style="width:120px;">Hủy trình ký</span>
                            </a>
                        </div>
                    }
                </div>

            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $("#C1").chosen({
        width: "100%"
    });
    $("#C2").chosen({
        width: "100%"
    });
    $("#C3").chosen({
        width: "100%"
    });
    $("#C4").chosen({
        width: "100%"
    });
    $("#C5").chosen({
        width: "100%"
    });
    $("#C6").chosen({
        width: "100%"
    });
    $("#C7").chosen({
        width: "100%"
    });
    $("#C8").chosen({
        width: "100%"
    });
</script>









