
@{
    ViewBag.Title = "Index_HPDQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PagedList.IPagedList<List_RegisterPeopleValidation>
@using PagedList.Mvc
@using EPORTAL.ModelsView360;
@using EPORTAL.ModelsTagSign;
@using EPORTAL.ModelsPartner;
@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
@{
    EPORTALEntities db = new EPORTALEntities();
    EPORTAL_REGISTEREntities db_dk = new EPORTAL_REGISTEREntities();
    EPORTAL_NTEntities db_nt = new EPORTAL_NTEntities();
    var nd = db.AuthorizationContractors.Where(x => x.IDNhanVien == MyAuthentication.ID).SingleOrDefault();
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-portfolio icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        ĐƠN ĐỀ NGHỊ CẤP THẺ DÀI NGÀY - DÀNH CHO NGƯỜI
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="tab-content">
            <div class="row">
                <div class="card">

                    <div class="card-header">
                        <div class="row" style="width:100%">
                            <div class="col-md-10 col-lg-10">
                                <div class="row">
                                       <div class="col-md-3">
                                        <input type="text" id="txtsearch" name="" placeholder="Tìm kiếm" class="form-control" value="@ViewBag.search">
                                    </div>
                                    <span class="text-center" style="margin-top: 8px">Từ ngày :</span>
                                    <div class="col-md-2">
                                        @Html.TextBox("begind", null, new { @id = "begind", @type = "date", @class = "form-control" })
                                    </div>
                                    <span class="text-center" style="margin-top: 8px">Đến ngày :</span>
                                    <div class="col-md-2">
                                        @Html.TextBox("endd", null, new { @id = "endd", @type = "date", @class = "form-control" })
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-primary" id="btn-search"><i class="fa fa-search"></i> Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th width="30px" class="text-center">STT</th>
                                            <th class="text-center" width="100px" style="vertical-align:middle">Thao tác</th>
                                            <th class="text-center" width="200px" style="vertical-align:middle">Nội dung</th>
                                            <th class="text-center" width="150px" style="vertical-align:middle">Loại nhân viên Nhà thầu</th>
                                            <th class="text-center" width="150px" style="vertical-align:middle">Nhân viên NT</th>
                                            <th class="text-center" width="200px" style="vertical-align:middle">BP Quản lý</th>
                                            <th class="text-center" width="200px" style="vertical-align:middle">Nhà thầu</th>
                                            <th class="text-center" width="150px" style="vertical-align:middle">Hợp đồng</th>
                                            <th class="text-center" width="150px" style="vertical-align:middle">Ngày trình ký</th>
                                            <th class="text-center" width="150px" style="vertical-align:middle">File đính kèm</th>
                                            <th class="text-center" width="100px" style="vertical-align:middle">Tình trạng</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int pageno = (int)Model.PageNumber;
                                            int itemperpage = (int)Model.PageSize;
                                            int RowNo = ((pageno - 1) * itemperpage) + 1;
                                        }
                                        @{

                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="text-center"> @RowNo@{RowNo++;}</td>
                                                    <td class="text-center">
                                                        @if (item.TinhTrang_ID == 0)
                                                        {
                                                            <a title="Xóa" class="btn-action" href="@Url.Action("Delete", "List_RegisterPeople_NT", new { id = item.ID_DKTN })"
                                                               onclick="return confirm('Bạn muốn xóa Thông tin  : @item.NoiDung')">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                            </a>

                                                            <a id="btn-Info_@item.ID_DKTN" href="#" title="trình ký" class="btn-action"><i class="fa fa-paper-plane"></i> </a>
                                                            <div class="modal " id="myModaleInfo_@item.ID_DKTN" role="dialog" data-url='@Url.Action("CheckInformation", "List_RegisterPeople_NT", new { id = item.ID_DKTN, idtt = 1 })'></div>
                                                            <script type="text/javascript">
                                                                            $('#btn-Info_@item.ID_DKTN').click(function () {
                                                                                var url = $('#myModaleInfo_@item.ID_DKTN').data('url');
                                                                                $.get(url, function (data) {
                                                                                    $("#myModaleInfo_@item.ID_DKTN").html(data);
                                                                                    $("#ModalTitle").html("Trình ký danh sách");
                                                                                    $("#myModaleInfo_@item.ID_DKTN").modal('show');
                                                                                });
                                                                            });
                                                            </script>
                                                            <a id="btn-editdsct_@item.ID_DKTN" href="#" title="Chỉnh sửa" class="btn-action"><i class="fa fa-edit"></i> </a>
                                                            <div class="modal" id="myModaleEditDS_@item.ID_DKTN" role="dialog" data-url='@Url.Action("Update_Test","List_RegisterPeople_NT", new { id = item.ID_DKTN })'></div>
                                                            <script type="text/javascript">
                                                                        $('#btn-editdsct_@item.ID_DKTN').click(function () {
                                                                            var url = $('#myModaleEditDS_@item.ID_DKTN').data('url');
                                                                            $.get(url, function (data) {
                                                                                $("#myModaleEditDS_@item.ID_DKTN").html(data);
                                                                                $("#ModalTitle").html("Cập nhật Thông Tin");
                                                                                $("#myModaleEditDS_@item.ID_DKTN").modal('show');
                                                                            });
                                                                        });
                                                            </script>
                                                            <a href="@Url.Action("Edit", "List_RegisterPeople_NT", new { id = item.ID_DKTN })" class="btn-action" title="Chi tiết danh sách">
                                                                <i class="fa-solid fa-bars"></i>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            if (item.TinhTrang_ID != 3)
                                                            {
                                                                <a title="Hủy" class="btn-action" href="@Url.Action("Cancel", "List_RegisterPeople_NT", new { id = item.ID_DKTN })"
                                                                   onclick="return confirm('Bạn muốn hủy trình ký  : @item.NoiDung')">
                                                                    <i class="fa-solid fa-ban primary"></i>
                                                                </a>
                                                            }
                                                            if (item.TinhTrang_ID == 3)
                                                            {
                                                                <a href="@Url.Action("ExportTo_Pdfsss", "List_RegisterPeople_NT", new { id = item.ID_DKTN })" class="btn-action" title="Tải danh sách">
                                                                    <i class="fa fa-download" aria-hidden="true"></i>
                                                                </a>
                                                                <a title="Chi tiết danh sách" class="btn-action" href="@Url.Action("PrintTest_View", "List_RegisterPeople_NT", new { id =item.ID_DKTN})">
                                                                    <i class="fa-solid fa-bars"></i>
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <a href="@Url.Action("Index_HPDQ", "Detail_List_RegisterPeople_NT", new { id = item.ID_DKTN })" class="btn-action" title="Chi tiết danh sách">
                                                                    <i class="fa-solid fa-bars"></i>
                                                                </a>
                                                            }




                                                        }


                                                    </td>
                                                    <td>@item.NoiDung</td>
                                                    @{
                                                        var ID_LTK = db_dk.SignerTypes.Where(x => x.ID_LTK == item.LoaiNT_ID).FirstOrDefault();
                                                        if (ID_LTK != null)
                                                        {
                                                            if (item.LoaiNT_ID == 1)
                                                            {
                                                                <td class="text-center">NT Việt Nam</td>
                                                            }
                                                            else if (item.LoaiNT_ID == 2)
                                                            {
                                                                <td class="text-center">NNN Việt-Anh</td>
                                                            }
                                                            else if (item.LoaiNT_ID == 3)
                                                            {
                                                                <td class="text-center">NNN Việt -Trung</td>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <td></td>
                                                        }
                                                    }


                                                    @{
                                                        var ID_User = db_nt.NT_UserTemp.Where(x => x.ID == item.NhanVienNT_ID).FirstOrDefault();
                                                        if (ID_User != null)
                                                        {
                                                            <td class="text-center">@ID_User.UserName</td>
                                                        }
                                                        else
                                                        {
                                                            <td></td>
                                                        }
                                                    }
                                                    @{
                                                        var ID_PhongBan = db.PhongBans.Where(x => x.IDPhongBan == item.BPQL_ID).FirstOrDefault();
                                                        if (ID_PhongBan != null)
                                                        {
                                                            <td> @ID_PhongBan.TenPhongBan</td>
                                                        }
                                                        else
                                                        {
                                                            <td></td>
                                                        }

                                                    }
                                                    @{
                                                        var ID_NT = db.NT_Partner.Where(x => x.ID == item.NhaThau_ID).FirstOrDefault();
                                                        if (ID_NT != null && ID_NT.FullName != null)
                                                        {
                                                            <td class="text-center">@ID_NT.FullName</td>
                                                        }
                                                        else
                                                        {
                                                            <td></td>
                                                        }
                                                    }

                                                    <td class="text-center">@item.HopDong</td>
                                                    <td class="text-center">@item.NgayTrinhKy.ToString("dd-MM-yyyy")</td>
                                                    <td class="text-center">
                                                        @if (item.File_CCAT != null && item.File_CCAT.Length > 0)
                                                        {

                                                            <i class="fa-solid fa-eye mr-2"></i><a class="text-download" target="_blank" href="@Url.Content("~/PDFHocAT/" + System.IO.Path.GetFileName(item.File_CCAT))">Xem File</a>
                                                        }
                                                    </td>
                                                    <td class="text-center">
                                                        @if (item.TinhTrang_ID == 0)
                                                        {
                                                            <a class="" title="Chưa trình ký">
                                                                <span class="btn-transition btn btn-light" style="width:120px;">Chưa trình ký</span>
                                                            </a>
                                                        }
                                                        else if (item.TinhTrang_ID == 1)
                                                        {
                                                            <a class="" title="Đang thực hiện" href="@Url.Action("Show_HPDQ", "List_RegisterPeople_NT", new {  DKTN_ID = item.ID_DKTN})">
                                                                <span class="btn-transition btn btn-warning" style="width:120px;">Đang thực hiện</span>
                                                            </a>

                                                        }
                                                        else if (item.TinhTrang_ID == 2)
                                                        {
                                                            <a class="" title="Đã hủy" href="@Url.Action("Show_HPDQ", "List_RegisterPeople_NT", new {  DKTN_ID = item.ID_DKTN})">
                                                                <span class="btn-transition btn btn-danger" style="width:120px;">Đã hủy</span>
                                                            </a>
                                                        }
                                                        else if (item.TinhTrang_ID == 3)
                                                        {
                                                            <a class="" title="Hoàn tất" href="@Url.Action("Show_HPDQ", "List_RegisterPeople_NT", new {  DKTN_ID = item.ID_DKTN})">
                                                                <span class="btn-transition btn btn-success" style="width:120px;">Hoàn tất</span>
                                                            </a>
                                                        }
                                                    </td>

                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                                <div class="pager">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", "List_RegisterPeople_NT", new { area = "TagSign", page }))
                                    <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">

            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
    $('#btn-add').click(function () {
        var url = $('#myModal').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Thêm tiêu đề");
            $("#myModal").modal('show');
        });
    });
    $('#btn-Import').click(function () {
        var url = $('#myModalImport').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Add Permission");
            $("#myModal").modal('show');
        });
    });
     $("#btn-search").on('click', function () {
         var search = $('#txtsearch').val();
         var begind = Date.parse($('#begind').val());
         var endd = Date.parse($('#endd').val());
         window.location.href = '@Url.Action("Index_HPDQ", "List_RegisterPeople_NT")?search=' + search + '&begind=' + $('#begind').val() + '&endd=' + $('#endd').val();
     });
    $(document).ready(function () {
        var dateNewFormat, onlyDate, today = new Date();

        var prevMonthLastDate = new Date(today.getFullYear(), today.getMonth(), 1);

        dateLastDate = prevMonthLastDate.getFullYear() + '-';
        if (prevMonthLastDate.getMonth() >= 9) {

            dateLastDate += (prevMonthLastDate.getMonth() + 1);
        }
        else {
            dateLastDate += '0' + (prevMonthLastDate.getMonth() + 1);
        }

        onlyLastDate = prevMonthLastDate.getDate();

        if (onlyLastDate.toString().length == 2) {

            dateLastDate += "-" + onlyLastDate;
        }
        else {
            dateLastDate += '-0' + onlyLastDate;
        }



        dateNewFormat = today.getFullYear() + '-';
        if (today.getMonth() >= 9) {

            dateNewFormat += (today.getMonth() + 1);
        }
        else {
            dateNewFormat += '0' + (today.getMonth() + 1);
        }

        onlyDate = today.getDate();
        if (onlyDate.toString().length == 2) {

            dateNewFormat += "-" + onlyDate;
        }
        else {
            dateNewFormat += '-0' + onlyDate;
        }
        if ($('#begind').val() == '') {
            $('#begind').val(dateLastDate);
        }
        if ($('#endd').val() == '') {
            $('#endd').val(dateNewFormat);
        }
    });
</script>









