
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
@using EPORTAL.ModelsTagSign
@model PagedList.IPagedList<Follow_RegisterPeopleValidation>
@using PagedList.Mvc
@using EPORTAL.ModelsView360;
@using EPORTAL.ModelsTagSign;
@{
    EPORTALEntities db = new EPORTALEntities();
    EPORTAL_REGISTEREntities db_dk = new EPORTAL_REGISTEREntities();
    var nd = db.AuthorizationContractors.Where(x => x.IDNhanVien == MyAuthentication.ID).SingleOrDefault();
}
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />
<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-portfolio icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        Phân luồng xử lý
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="tab-content">
            <div class="row">
                <div class="card col-lg-12">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="text-center" width="60px">STT</th>
                                        <th class="text-center" width="150px">Người xử lý</th>
                                        <th class="text-center" width="300px">Chức danh</th>
                                        <th class="text-center" width="200px">Bộ phận</th>
                                        <th class="text-center" width="200px">Ngày xử lý</th>
                                        <th class="text-center" width="200px">Tình trạng</th>
                                        <th class="text-center" width="200px">Ghi chú</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int pageno = (int)Model.PageNumber;
                                        int itemperpage = (int)Model.PageSize;
                                        int RowNo = ((pageno - 1) * itemperpage) + 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td class="text-center">@RowNo@{RowNo++;}</td>
                                            @{
                                                var IDNhanVien = db.NhanViens.Where(x => x.ID == item.NhanVienID).FirstOrDefault();
                                                <td class="">@IDNhanVien.HoTen</td>

                                                int ViTriID = Convert.ToInt32(IDNhanVien.IDViTri);
                                                var IDViTri = db.Vitris.Where(x => x.IDViTri == ViTriID).FirstOrDefault();
                                                if (IDViTri != null)
                                                {
                                                    <td class="">@IDViTri.TenViTri</td>
                                                }
                                                else
                                                {
                                                    <td class=""></td>
                                                }

                                                int PhongBanID = Convert.ToInt32(IDNhanVien.IDPhongBan);
                                                var IDPhongBan = db.PhongBans.Where(x => x.IDPhongBan == PhongBanID).FirstOrDefault();
                                                <td class="">@IDPhongBan.TenPhongBan</td>
                                                if (item.NgayDuyet != DateTime.Parse("0001/01/01"))
                                                {
                                                    <td class="">@item.NgayDuyet</td>
                                                }
                                                else
                                                {
                                                    <td class=""></td>
                                                }

                                            }
                                        <td class="text-center">
                                            @if (item.TinhTrangID == 1)
                                            {
                                                <a class="" href="@Url.Action("Edit_HPDQ", "List_RegisterPeople_NT", new {  id = item.ID_TK_TN})" title="Hoàn tất" onclick="return confirm('Bạn muốn hủy phê duyệt')">
                                                    <span class="btn-transition btn btn-success" style="width:120px;">Hoàn tất</span>
                                                </a>
                                            }
                                            else if (item.TinhTrangID == 2)
                                            {
                                                <a class="" href="@Url.Action("Edit_HPDQ", "List_RegisterPeople_NT", new {  id = item.ID_TK_TN})" title="Hoàn tất" onclick="return confirm('Bạn muốn hủy phê duyệt')">
                                                    <span class="btn-transition btn btn-danger" style="width:120px;">Hoàn tất</span>
                                                </a>
                                            }
                                            else if (item.TinhTrangID == 0)
                                            {
                                                <a id="btn-edit_@item.ID_TK_TN" href="#" title="Hiệu chỉnh" class="btn-action">  <span class="btn-transition btn btn-outline-warning">Chưa thực hiện</span> </a>
                                                <div class="modal " id="myModaleEdit_@item.ID_TK_TN" role="dialog" data-url='@Url.Action("CancelApprove", "List_RegisterPeople_NT", new { id = item.ID_TK_TN, idl = 1})'></div>
                                                <script type="text/javascript">
                                                                    $('#btn-edit_@item.ID_TK_TN').click(function () {
                                                                        var url = $('#myModaleEdit_@item.ID_TK_TN').data('url');
                                                                        $.get(url, function (data) {
                                                                            $("#myModaleEdit_@item.ID_TK_TN").html(data);
                                                                            $("#ModalTitle").html("Chỉnh sửa");
                                                                            $("#myModaleEdit_@item.ID_TK_TN").modal('show');
                                                                        });
                                                                    });
                                                </script>

                                            }
                                        </td>
                                            <td class="text-center">
                                                @item.GhiChu
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="pager d-flex">
                                @Html.PagedListPager(Model, page => Url.Action("Index", "List_RegisterPeople_NT", new { page }))

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
            </div>
        </div>
    </div>


</div>


<script type="text/javascript">


    $('#btn-add').click(function () {
        var url = $('#myModal').data('url');
        console.log(url);
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Thêm mới loại ký duyệt");
            $("#myModal").modal('show');
        });
    });

    $("#btsearch").on('click', function () {
     var IDPhongBan = $('#IDPhongBan').val();

     window.location.href = '@Url.Action("Index", "FollowTheSiger")?IDPhongBan=' + IDPhongBan;

    });
    $("#IDPhongBan").chosen({
        width: "100%"
    });
</script>
<style>
    .d-flex {
        display: flex !important;
        flex-direction: row-reverse;
    }
</style>









