<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />

    <title>
        CỔNG THÔNG TIN DOANH NGHIỆP - Công Ty CP Thép Hòa Phát Dung Quất.
    </title>



    <link rel="stylesheet" href="~/Areas/Publish/Layout/css/style_home.css" />
    <link rel="stylesheet" href="~/Areas/Publish/Content/assets/css/style_dashboard1.css" />
    <link rel="stylesheet" href="~/Areas/Publish/Content/assets/css/responsive.css" />

    <script src="~/Areas/Publish/Content/jquery-3.0.0.min.js"></script>
    <script src="~/Areas/Publish/Content/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Areas/Publish/Content/assets/css/reset.css" />
    <script src="~/Areas/Publish/Layout/js/plugins/bootstrap.bundle.min.js"></script>
    <link href="~/Areas/Publish/Content/main.css" rel="stylesheet" />
    <link href="~/Content/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />


</head>
<body>
    @{
        if (!User.Identity.IsAuthenticated)
        {
            Response.Redirect("~/Login");
        }
    }
    <div class="main_wrap">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index","HomePage")">
                    <img src="~/Areas/Publish/Content/assets/images/Logo1.png" alt="" height="35">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-end">
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (EPORTAL.ModelsDanhBaDoiTac.MyAuthentication.IDQuyen == 1)
                            {
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="@Url.Action("Index","HomePage")">Trang Chủ</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="@Url.Action("IntroduceHPDQ","HomePage")">Giới Thiệu</a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="@Url.Action("News","HomePage")">Tin Tức</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="@Url.Action("Index","ListPartner")">Đối Tác</a>
                                </li>
                                @*<li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="@Url.Action("Index","Complain")">Khiếu Nại</a>
                                </li>*@
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="@Url.Action("Index","ResponToComplain")">Phản Hồi</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="@Url.Action("Index","Notify")">Thông Báo</a>
                                </li>

                                @*<li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="@Url.Action("Index","StatisticPage")">Quản Lý Danh Bạ Đối Tác</a>
                                </li>*@

                            }
                            else if (EPORTAL.ModelsDanhBaDoiTac.MyAuthentication.IDQuyen == 2)
                            {
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="@Url.Action("Index","HomePage")">Trang Chủ</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="@Url.Action("IntroduceHPDQ","HomePage")">Giới Thiệu</a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="@Url.Action("News","HomePage")">Tin Tức</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="@Url.Action("Index","ListPartner")">Đối Tác</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="@Url.Action("Index","ResponToComplain")">Phản Hồi</a>
                                </li>
                                

                            }
                            else if (EPORTAL.ModelsDanhBaDoiTac.MyAuthentication2.IDQuyen == 3)
                            {
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="@Url.Action("Index","HomePage")">Trang Chủ</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="@Url.Action("IntroduceHPDQ","HomePage")">Giới Thiệu</a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="@Url.Action("News","HomePage")">Tin Tức</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="@Url.Action("Index","Complain")">Khiếu Nại</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="@Url.Action("Index","Notify")">Thông Báo</a>
                                </li>
                            }
                        }
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if(EPORTAL.ModelsDanhBaDoiTac.MyAuthentication.IDQuyen == 1 || EPORTAL.ModelsDanhBaDoiTac.MyAuthentication.IDQuyen == 2)
                        {
                            <div class="app-header-right">
                                <div class="header-btn-lg pr-0">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="btn-group">
                                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                                        <img width="42" class="rounded-circle" src="~/Content/assets/images/avatars/adminlogo.jpg" alt="">
                                                        <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                                    </a>
                                                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="@Url.Action("Index","Picture")">Quản lý Danh Bạ Đối Tác</a>
                                                        <a class="dropdown-item" href="@Url.Action("ChangePassword","LoginDBDT")">Đổi mật khẩu</a>
                                                        <a class="dropdown-item" href="@Url.Action("Logout","LoginDBDT")">Đăng xuất</a>
                                                        @*<button type="button" tabindex="0" class="dropdown-item">Đăng xuất</button>*@
                                                        @*<button type="button" tabindex="0" class="dropdown-item">Settings</button>*@

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-left  ml-3 header-user-info">
                                                <div class="widget-heading">
                                                    @EPORTAL.ModelsDanhBaDoiTac.MyAuthentication.TenNV
                                                </div>
                                                <div class="widget-subheading">
                                                    @*PNS*@
                                                </div>
                                            </div>
                                            <div class="widget-content-right header-user-info ml-3">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }else if (EPORTAL.ModelsDanhBaDoiTac.MyAuthentication2.IDQuyen == 3)
                            {
                                <div class="app-header-right">
                                    <div class="header-btn-lg pr-0">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="btn-group">
                                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                                            <img width="42" class="rounded-circle" src="~/Content/assets/images/avatars/adminlogo.jpg" alt="">
                                                            <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                                        </a>
                                                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="@Url.Action("ChangePassword","LoginDBDT")">Đổi mật khẩu</a>
                                                            <a class="dropdown-item" href="@Url.Action("Logout","LoginDBDT")">Đăng xuất</a>
                                                            @*<button type="button" tabindex="0" class="dropdown-item">Đăng xuất</button>*@
                                                            @*<button type="button" tabindex="0" class="dropdown-item">Settings</button>*@

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="widget-content-left  ml-3 header-user-info">
                                                    <div class="widget-heading">
                                                        @EPORTAL.ModelsDanhBaDoiTac.MyAuthentication2.ShortName
                                                    </div>
                                                    <div class="widget-subheading">
                                                        @*PNS*@
                                                    </div>
                                                </div>
                                                <div class="widget-content-right header-user-info ml-3">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        }
                    }
                </div>
            </div>
        </nav>


        <div class="body_content">
            @RenderBody()
        </div>

        <footer>
            <div class="footer_content d-flex justify-content-between">
                <div class="footer_item web_name">
                    <span>Công ty Cổ phần thép Hòa Phát Dung Quất</span>
                </div>
                <div class="footer_list_item flex-fill web_menu">
                    <ul class="d-flex justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link active" style="color:white" aria-current="page" href="@Url.Action("Index","HomePage")">Trang Chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" style="color:white" aria-current="page" href="@Url.Action("IntroduceHPDQ","HomePage")">Giới Thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" style="color:white" aria-current="page" href="@Url.Action("News","HomePage")">Tin Tức</a>
                        </li>

                    </ul>
                </div>
                <div class="footer_item_copy d-flex">
                    <span class="copyright">Copyright</span>
                    <ul class="copyright_ul">
                        <li>Ban công nghệ thông tin</li>
                        <li>Hóa Phát Dung Quất</li>
                    </ul>
                </div>
            </div>
        </footer>


    </div>

    <script>

    </script>
</body>

</html>
