<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Danh Bạ Đối Tác HPDQ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">
    <link href="~/Areas/Publish/Content/main.css" rel="stylesheet" />
    <script src="~/Areas/Publish/Content/assets/plotly-latest.min.js"></script>
    <script src="~/Areas/Publish/Content/jquery-3.0.0.min.js"></script>
    <script src="~/Areas/Publish/Content/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.19.0/full/ckeditor.js"></script>
    <link href="~/Content/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://cdn.jwplayer.com/libraries/HV0iiS3W.js"></script>



</head>
<body onselectstart="return false" oncontextmenu="return false">
    @{
        if (!User.Identity.IsAuthenticated)
        {
            Response.Redirect("~/Publish/LoginDBDT");
        }
    }
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <div class="app-header header-shadow">
            <div class="app-header__logo">

                <a class="navbar-brand" href="@Url.Action("Index","HomePage", new { area = "Publish" })">
                    <img src="~/Areas/Publish/Content/assets/images/Logo1.png" alt="" height="35">
                </a>

                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="app-header__content">
                <div class="header-slogan">
                    <div class="widget-content">
                        <div class="slogan">
                            Quản Lý Nội Dung Danh Bạ Đối Tác
                        </div>
                    </div>
                </div>
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                            <img width="42" class="rounded-circle" src="~/Areas/Publish/Content/assets/images/avatars/adminlogo.jpg" alt="">
                                            <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                        </a>
                                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="@Url.Action("Logout","LoginDBDT")">Đăng xuất</a>
                                            <a class="dropdown-item" href="@Url.Action("ChangePassword","LoginDBDT")">Đổi mật khẩu</a>
                                            @*<button type="button" tabindex="0" class="dropdown-item">Đăng xuất</button>*@
                                            @*<button type="button" tabindex="0" class="dropdown-item">Settings</button>*@

                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">
                                        @EPORTAL.ModelsDanhBaDoiTac.MyAuthentication.TenNV
                                    </div>
                                    <div class="widget-subheading">
                                        @*PNS*@
                                    </div>
                                </div>
                                <div class="widget-content-right header-user-info ml-3">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="app-main">
            <div class="app-sidebar sidebar-shadow">
                <div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>
                <div class="scrollbar-sidebar">
                    <div class="app-sidebar__inner">
                        <ul class="vertical-nav-menu">
                            <li class="app-sidebar__heading">Tổng quan</li>

                            <li>
                                <a class="a" href="@Url.Action("Index","HomePage")" class="mm-active">
                                    <i class="metismenu-icon pe-7s-home"></i>
                                    Trang chủ
                                </a>
                            </li>


                            <li class="app-sidebar__heading">Quản trị</li>
                            <li>
                                <a class="a" href="@Url.Action("Index","Picture")">
                                    <i class="metismenu-icon pe-7s-display1"></i>
                                    Hình Ảnh
                                </a>
                            </li>
                            <li>
                                <a class="a" href="@Url.Action("Index","ManageOverViewTD")">
                                    <i class="metismenu-icon pe-7s-display1"></i>
                                    Tổng quan Tập Đoàn
                                </a>
                            </li>
                            <li>
                                <a class="a" href="@Url.Action("Index","Mission")">
                                    <i class="metismenu-icon pe-7s-display1"></i>
                                    Sứ mệnh tầm nhìn
                                </a>
                            </li>
                            <li>
                                <a class="a" href="@Url.Action("Index","ManageOverViewHPDQ")">
                                    <i class="metismenu-icon pe-7s-display1"></i>
                                    Tổng quan Hoà Phát Dung Quất
                                </a>
                            </li>
                            <li>
                                <a class="a" href="@Url.Action("Index","ManageBenefit")">
                                    <i class="metismenu-icon pe-7s-display1"></i>
                                    Chính Sách Phúc Lợi
                                </a>
                            </li>
                            @if (EPORTAL.ModelsDanhBaDoiTac.MyAuthentication.IDQuyen == 1)
                            {
                                <li>
                                    <a class="a" href="@Url.Action("Index","AccountNV")">
                                        <i class="metismenu-icon pe-7s-display1"></i>
                                        Quản Lý Tài Khoản Nhân Viên
                                    </a>
                                </li>
                                <li>
                                    <a class="a" href="@Url.Action("Index","AccountDT")">
                                        <i class="metismenu-icon pe-7s-display1"></i>
                                        Quản Lý Tài Khoản Đối Tác
                                    </a>
                                </li>
                            }
                            @if (User.Identity.IsAuthenticated)
                            {

                                if (EPORTAL.ModelsDanhBaDoiTac.MyAuthentication.IDQuyen == 2)
                                {
                                    <li>
                                        <a class="a" href="@Url.Action("Index","AccountDT")">
                                            <i class="metismenu-icon pe-7s-display1"></i>
                                            Quản Lý Tài Khoản Đối Tác
                                        </a>
                                    </li>
                                }


                                <li>
                                    <a class="a" href="@Url.Action("Index","ManageTypePartner")">
                                        <i class="metismenu-icon pe-7s-display1"></i>
                                        Danh Mục Đối Tác
                                    </a>
                                </li>
                                <li>
                                    <a class="a" href="@Url.Action("Index","ManagePartner")">
                                        <i class="metismenu-icon pe-7s-display1"></i>
                                        Thông Tin Đối Tác
                                    </a>
                                </li>
                                <li>
                                    <a class="a" href="@Url.Action("Index","FeildOfWork")">
                                        <i class="metismenu-icon pe-7s-display1"></i>
                                        Lĩnh Vực
                                    </a>
                                </li>
                                <li>
                                    <a class="a" href="@Url.Action("Index","Address")">
                                        <i class="metismenu-icon pe-7s-display1"></i>
                                        Địa Chỉ
                                    </a>
                                </li>
                                <li>
                                    <a class="a" href="@Url.Action("Index","WorkItem")">
                                        <i class="metismenu-icon pe-7s-display1"></i>
                                        Hạng Mục
                                    </a>
                                </li>

                                <li>
                                    <a class="a" href="@Url.Action("Index","ManageNotify")">
                                        <i class="metismenu-icon pe-7s-display1"></i>
                                        Thông Báo
                                    </a>
                                </li>
                                <li>
                                    <a class="a" href="@Url.Action("Index","ManageComplain")">
                                        <i class="metismenu-icon pe-7s-display1"></i>
                                        Khiếu Nại
                                    </a>
                                </li>
                                <li>
                                    <a class="a" href="@Url.Action("Index","ManageNews")">
                                        <i class="metismenu-icon pe-7s-display1"></i>
                                        Quản Lý Tin Tức
                                    </a>
                                </li>
                            }

                            @*<li class="app-sidebar__heading">Thư viện</li>
        <li>
            <a href="#">
                <i class="metismenu-icon pe-7s-notebook">
                </i>Tài liệu
            </a>
        </li>*@


                        </ul>
                    </div>
                </div>
            </div>

            @RenderBody()

        </div>
    </div>

    <script type="text/javascript" src="~/Areas/Publish/Content/assets/scripts/main.js"></script>


    <style>
        .a {
            text-decoration: none
        }
    </style>
</body>
</html>
