
@{
    ViewBag.Title = "ListUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using EPORTAL.Models
@model PagedList.IPagedList<EmployeeValidation>
@using PagedList.Mvc
@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/assets/DataTables/datatables.min.css" />
<script type="text/javascript" src="~/Content/assets/DataTables/datatables.min.js" defer></script>
<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-id icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        Phân quyền EPORTAL
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>



        <div class="card mb-4">
            <div class="card-header d-none">

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="font-weight-bold mb-1">Tên Quyền</label>
                        @Html.DropDownList("SelectQuyen", null, "--Nhóm Quyền--", new { id = "SelectQuyen", @class = "form-control marginTB5", @style = "width:100%", @onchange = "SelectGQuyen();" })
                    </div>
                    <div class="clo-md-3 m-l-auto">



                        <button type="button" id="btn-add" style="margin-right:10px;" class="btn btn-primary m-l-auto "><i class="fa fa-plus">&nbsp;</i>&nbsp;Thêm mới </button>
                        <div class="modal" id="myModal" role="dialog" style="margin-top:70px" data-url='@Url.Action("AddUserQuyen","STpermissions",new { id =ViewBag.SelectQuyen.SelectedValue })'></div>

                        <button type="button" id="btn-Import" class="btn btn-primary m-l-auto"><i class="fa fa-upload">&nbsp;</i>&nbsp;Import Excel </button>
                        <div class="modal" id="myModalImport" role="dialog" data-url='@Url.Action("ImportExcel","STpermissions",new { id = ViewBag.SelectQuyen.SelectedValue })' style="margin-top:50px"></div>

                        <a class="btn btn-secondary pull-right" style=" margin-left: 10px; float: right" title="Back" href="@Url.Action("Index", "STpermissions" )">
                            Quay lại
                        </a>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                        <thead class="thead-light">
                            <tr>
                                <th class="text-center" width="30px">STT</th>
                                <th class="text-center">Họ Tên</th>
                                <th class="text-center">Phòng ban</th>
                                <th class="text-center">Vị trí làm việc</th>

                                <th class="text-center">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int pageno = (int)Model.PageNumber;
                                int itemperpage = (int)Model.PageSize;
                                int RowNo = ((pageno - 1) * itemperpage) + 1;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center"> @RowNo@{RowNo++;}</td>
                                    <td class="">@item.HoTen</td>
                                    <td class="">@item.PhongBan</td>
                                    <td class="">@item.TenViTri</td>

                                    <td class="text-center">
                                        <a class="fa fa-sign-out icon_action" title="Xóa user khỏi nhóm" href="@Url.Action("DeleteQuyen", "STpermissions", new { id = item.ID,IDQuyen =item.IDPhongBan })"
                                           onclick="return confirm('Bạn muốn xóa : @item.HoTen')">
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
            </div>
        </div>
    </div>


</div>

@*<script src="~/Content/Chonse/chosen.jquery.js"></script>*@
<script type="text/javascript">
    $('#btn-add').click(function () {
        var url = $('#myModal').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Thêm mới Nhóm quyền");
            $("#myModal").modal('show');
        });
    });
    $('#btn-Import').click(function () {
        var url = $('#myModalImport').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Thêm User nhóm quyền");
            $("#myModal").modal('show');
        });
    });
    $('#btn-add-vt').click(function () {
        var url = $('#myModalVT').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Danh sách mã vị trí");
            $("#myModal").modal('show');
        });
    });

    $("#btn-search").on('click', function () {
        window.location.href = '@Url.Action("Index", "STpermissions")?IDPB=' + $('#IDPB').val();
    });
    function SelectGQuyen() {
        var idq = $('#SelectQuyen').val();
        window.location.href = `${idq}`;
    };
    $("#SelectQuyen").chosen({
        width: "50%"
    });
    $(document).ready(function () {
        $('#table').DataTable({
            "pageLength": 50
        });
    });
</script>

