
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Publish/Views/Shared/_InternalLayout.cshtml";
}

@using EPORTAL.ModelsDanhBaDoiTac
@model PagedList.IPagedList<Notify_PartnerValidation>
@using PagedList.Mvc

<link href="~/Content/assets/css/PagedList.css" rel="stylesheet" />

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}




<div class="d_content block-breakcrum d-flex align-items-center justify-content-between">
    <div class="block-left-breakcrum d-flex align-items-center">
        <div class="img-breakcrum d-flex justify-content-center align-items-center">
            <img src="~/Areas/Publish/Content/assets/images/SiteQLKH2.svg" class="" alt="" />
        </div>
        <nav aria-label="breadcrumb" class="list-breakcrum">
            <ol class="breadcrumb">

                <li class="breadcrumb-item"><a href="#">Văn Bản</a></li>
                @*<li class="breadcrumb-item"><a href="#">Đối tác</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Tên Đối Tác</li>*@

            </ol>
        </nav>
    </div>

    <div class="block-right-breakcrum">
        @*<div class="s_notify_searchbox d-flex justify-content-end align-items-center">
                <input type="text" placeholder="Từ khóa..." />
                <input type="button" value="Search" />
            </div>*@
    </div>
</div>



<div class="d_content s_main-content">

    <div class="card-header">
        <div class="row">

            <div class="col-md-10 col-md-offset-1">
                <h3>Tìm Kiếm Văn Bản</h3>
            </div>

            <div class="col-md-6 col-md-offset-1">
                <span class="form-group">
                    <input id="txtsearch" class="form-control" type="text" placeholder="Từ khóa ..." value="@ViewBag.search">
                </span>
            </div>
            <div class="col-md-2">
                @*@Html.DropDownList("PBList", null, "--Phòng ban--", new
                    {
                         id = "IDPhongBan",
                         @class = "form-control",
                         @style = "width:100%"
                    })*@
            </div>
            <div class="col-md-2" style="text-align:right">
                <button type="button" id="btn-search" class="btn btn-primary m-l-auto">&nbsp;Tìm kiếm</button>
            </div>
            <div class="col-md-1">

            </div>

        </div>

    </div>
    <div class="card-body">

        <div class="" id="profile" role="">
            <div class="row justify-content-center" style="padding: 2rem 0; color: black;">
                <div class="col-lg-11 col-xl-11">

                    @*<div class="row">
                              <div class="col-md-1">
                                  STT
                              </div>
                              <div class="col-md-7">
                                  Nội dung
                              </div>
                              <div class="col-md-2">
                                  File
                              </div>
                              <div class="col-md-2">
                                  Ngày thông báo
                              </div>
                        </div>*@

                    @{
                        int pageno = (int)Model.PageNumber;
                        int itemperpage = (int)Model.PageSize;
                        int RowNo = ((pageno - 1) * itemperpage) + 1;
                    }
                    @foreach (var it in Model)

                    {
                        <div class="row" style="">

                            <div class="col-md-1 col-1">
                                @RowNo@{RowNo++;}
                            </div>
                            <div class="col-md-6 col-11 trim-notify">
                                <p>@it.NoiDungTBao</p>
                            </div>
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-2 col-6">
                                <a href="@it.FileDinhKem" target="_blank" style="text-decoration: none;"><i class="fa fa-download mr-3"></i> Tải về</a>
                            </div>
                            <div class="col-md-2 col-6" style="text-align:right">
                                @it.Ngay.ToString("dd/MM/yyyy")
                            </div>

                        </div>
                        <hr />
                    }


                </div>
            </div>
        </div>

    </div>


</div>



<script type="text/javascript">

    $("#btn-search").on('click', function () {
        var search = $('#txtsearch').val();
        window.location.href = '@Url.Action("Index", "PNotify")?&search=' + search;
    });
    $("#txtsearch").keyup(function (event) {
         if (event.keycode == 13) {
             $("#btn-search").click();
         }
    });

</script>

<style>
    .trim-notify p {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
</style>

