
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutNhaThau.cshtml";
}

@using EPORTAL.ModelsTagSign
@model PagedList.IPagedList<List_Detail_RegisterPeopleValidation>
@using EPORTAL.ModelsPartner;
@using EPORTAL.ModelsView360;
@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
@{
    EPORTALEntities db = new EPORTALEntities();
    EPORTAL_REGISTEREntities db_dk = new EPORTAL_REGISTEREntities();
    EPORTAL_NTEntities dbNT = new EPORTAL_NTEntities();

    var DKTN_ID = ViewData["id"];
    var bmid = Convert.ToInt32(DKTN_ID);
    var ctid = db_dk.RegisterPeoples.Where(x => x.ID_DKTN == bmid).FirstOrDefault();
    var nt = db.NT_Partner.Where(x => x.ID == ctid.NhaThau_ID).FirstOrDefault();
    var pb = db.PhongBans.Where(x => x.IDPhongBan == ctid.BPQL_ID).FirstOrDefault();

}

<link href="~/Content/PagedList.css" rel="stylesheet" />
<div class="app-main__outer">
    <div class="app-main__inner" style="display:block;padding:0px;">
        <div class="tab-content">
            <div class="row" style="padding-left: 25px;">
                <div class="card">
                    <div style="margin-top: 1%; text-align:center;">
                        <h3>
                            <b>
                                ĐƠN ĐỀ NGHỊ CẤP THẺ DÀI NGÀY - DÀNH CHO NGƯỜI

                            </b>
                        </h3>
                    </div>
                    <div style=" margin: 1% 0% 1% 3%;">
                        @{
                            if (DKTN_ID != null)
                            {
                                <h6 style="margin-bottom: 1%;">
                                    Kính gửi: -Công ty Cổ phần Thép Hòa Phát Dung Quất.
                                </h6>
                                <h6 style="margin-bottom: 1%;">
                                    Căn cứ theo hợp đồng số: @ctid.HopDong giữa Nhà thầu: @nt.FullName và Hòa Phát Dung Quất. (Thời hạn hợp đồng: đến ngày....../....../.......)
                                </h6>
                                <h6 style="margin-bottom: 1%;">
                                    Nhà thầu đang thực hiện gói thầu...................................... thời hạn gói thầu từ ngày................. đến ngày.....................do BP: @pb.TenPhongBan quản lý.
                                </h6>
                                <h6 style="margin-bottom: 1%;">
                                    Vì lý do..............................................Để đáp ứng yêu cầu công việc của Nhà thầu,  kính đề nghị đổi/gia hạn/điều chỉnh thông tin thẻ cho những CBNV có tên sau:
                                </h6>
                            }

                            <div class="form-group pull-right">
                                <a style="font-size:100%;" href="@Url.Content("~/PDFHocAT/" + System.IO.Path.GetFileName(ctid.File_IMG))"> <i class="fa fa-download" aria-hidden="true"></i> Tải Folder ảnh </a>
                            </div>

                        }

                    </div>
                    <div class="card-body" style="width:80vw;overflow-x:auto">
                        <div class="table-responsive">
                            <div style="width: 80vw; overflow-x: auto; height: 30vw;">
                                <table class="table table-bordered table-hover" id="table" style="width:150vw" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th width="30px" rowspan="2" style="vertical-align:middle">TT</th>
                                            <th class="text-center" rowspan="2" width="300px" style="vertical-align:middle">Họ và tên</th>
                                            <th class="text-center" rowspan="2" width="150px" style="vertical-align:middle">Ngày sinh</th>
                                            @if (ctid.LoaiNT_ID == 1)
                                            {
                                                <th class="text-center" rowspan="2" width="150px" style="vertical-align:middle">CCCD</th>
                                            }
                                            else
                                            {
                                                <th class="text-center" rowspan="2" width="150px" style="vertical-align:middle">Hộ chiếu</th>
                                            }

                                            @if (ctid.LoaiNT_ID == 1)
                                            {
                                                <th class="text-center" rowspan="2" width="250px" style="vertical-align:middle">Hộ khẩu thường trú</th>
                                            }
                                            else
                                            {
                                                <th class="text-center" rowspan="2" width="250px" style="vertical-align:middle">Quốc tịch</th>
                                            }

                                            <th class="text-center" rowspan="2" width="200px" style="vertical-align:middle">Chức vụ</th>
                                            <th class="text-center" rowspan="2" width="200px" style="vertical-align:middle">Số điện thoại</th>
                                            <th class="text-center" colspan="3" width="200px" style="vertical-align:middle">Thông tin nhà thầu phụ <br /> ( Nếu thuộc NTP )</th>
                                            <th class="text-center" colspan="5" width="200px" style="vertical-align:middle">
                                                Đánh dấu "X" vào
                                                những ô cần chọn
                                            </th>
                                            <th class="text-center" rowspan="2" width="150px" style="vertical-align:middle">Thời hạn thẻ</th>
                                            <th class="text-center" rowspan="2" width="200px" style="vertical-align:middle">Khu vực làm việc</th>
                                            <th class="text-center" rowspan="2" width="200px" style="vertical-align:middle">Cổng đăng ký ra/vào</th>
                                            <th class="text-center" rowspan="2" width="200px" style="vertical-align:middle">Nhóm NT</th>
                                            <th class="text-center" rowspan="2" width="200px" style="vertical-align:middle">Ghi chú</th>
                                        </tr>
                                        <tr>
                                            <th width="250px" class="text-center">Tên NTP</th>
                                            <th width="250px" class="text-center">Họ tên quản lý</th>
                                            <th width="100px" class="text-center">SĐT quản lý</th>


                                            <th width="70px" class="text-center">Cấp mới</th>
                                            <th width="70px" class="text-center">Gia hạn</th>
                                            <th width="70px" class="text-center">Bổ sung cổng</th>
                                            <th width="70px" class="text-center">Cấp lại</th>
                                            <th width="70px" class="text-center">Chuyển đổi NT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int pageno = (int)Model.PageNumber;
                                            int itemperpage = (int)Model.PageSize;
                                            int RowNo = ((pageno - 1) * itemperpage) + 1;
                                        }
                                        @{

                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="text-center"> @RowNo@{RowNo++;}</td>
                                                    <td swidth="300px">@item.HoVaTen</td>
                                                    <td>@item.NgaySinh.ToString("dd-MM-yyyy")</td>
                                                    <td>@item.CCCD</td>
                                                    <td>@item.HoKhau</td>
                                                    <td>
                                                        @{
                                                            var IDCV = db.NT_Position.Where(x => x.IDCV == item.CV_ID).FirstOrDefault();
                                                        }
                                                        @IDCV.TenCV.ToString()
                                                    </td>
                                                    <td>
                                                        @item.SoDienThoai
                                                    </td>
                                                    <td>
                                                        @item.Ten_NTP
                                                    </td>
                                                    <td>
                                                        @item.HoTen_QuanLy
                                                    </td>
                                                    <td>
                                                        @item.SoDienThoai_QuanLy
                                                    </td>
                                                    @if (item.CapMoi == "1" || item.CapMoi == "X" || item.CapMoi == "x")
                                                    {
                                                        <td>X</td>
                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                    }

                                                    @if (item.GiaHan == "2" || item.GiaHan == "X" || item.GiaHan == "x")
                                                    {
                                                        <td>X</td>
                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                    }
                                                    @if (item.BoSungCong == "3" || item.BoSungCong == "X" || item.BoSungCong == "x")
                                                    {
                                                        <td>X</td>
                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                    }
                                                    @if (item.CapLai == "4" || item.CapLai == "X" || item.CapLai == "x")
                                                    {
                                                        <td>X</td>
                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                    }
                                                    @if (item.ChuyenNT == "5" || item.ChuyenNT == "X" || item.ChuyenNT == "x")
                                                    {
                                                        <td>X</td>
                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                    }
                                                    <td width="180px">@item.ThoiHanThe.ToString("dd-MM-yyyy")</td>
                                                    @{
                                                        string ListKhuVuc = "";
                                                        string[] arrList = item.KhuVucLamViec.Split(',');
                                                        foreach (var ar in arrList)
                                                        {
                                                            if (ar != "")
                                                            {
                                                                int IDKV = Convert.ToInt32(ar);
                                                                var NameKhuVuc = db.NT_Workplace.Where(x => x.IDKV == IDKV).FirstOrDefault();
                                                                ListKhuVuc = String.Concat(NameKhuVuc.TenKV + " , " + ListKhuVuc);
                                                            }

                                                        }
                                                    }
                                                    <td>
                                                        @ListKhuVuc
                                                    </td>

                                                    @{
                                                        string List = "";
                                                        string[] arrListStr = item.CongLamViec.Split(',');
                                                        foreach (var ar in arrListStr)
                                                        {
                                                            int IDGate = Convert.ToInt32(ar);
                                                            var Cong = db.NT_Gate.Where(x => x.IDGate == IDGate).FirstOrDefault();
                                                            List = String.Concat(Cong.Gate + " , " + List);
                                                        }
                                                    }
                                                    <td>
                                                        @List
                                                    </td>
                                                    <td>
                                                        @{
                                                            var IDCong = db.NT_ContractorGroup.Where(x => x.IDGroup == item.NhomNT).FirstOrDefault();
                                                        }
                                                        @IDCong.NameContractorGroup
                                                    </td>
                                                    <td>@item.GhiChu</td>
                                                </tr>
                                            }

                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>












