
@{
    ViewBag.Title = "Index_";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EPORTAL.ModelsTagSign
@model PagedList.IPagedList<Follow_RegisterPeopleValidation>
@using PagedList.Mvc
@using EPORTAL.ModelsView360;
@using EPORTAL.ModelsTagSign;

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
@{
    EPORTAL_REGISTEREntities db_dk = new EPORTAL_REGISTEREntities();
    EPORTALEntities db = new EPORTALEntities();
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-portfolio icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        Danh sách đã phê duyệt đăng ký cấp phát thẻ
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="tab-content">
            <div class="row">
                <div class="card">

                    <div class="card-header">
                        <div class="row" style="width:100%">
                            <div class="col-md-12 col-lg-12">
                                <div class="row">
                                    <span class="text-center" style="margin-top: 8px">Từ ngày :</span>
                                    <div class="col-md-2">
                                        @Html.TextBox("begind", null, new { @id = "begind", @type = "date", @class = "form-control" })
                                    </div>
                                    <span class="text-center" style="margin-top: 8px">Đến ngày :</span>
                                    <div class="col-md-2">
                                        @Html.TextBox("endd", null, new { @id = "endd", @type = "date", @class = "form-control" })
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-primary" id="btn-search"><i class="fa fa-search"></i> Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th width="30px" class="text-center">STT</th>
                                            <th class="text-center" width="100px">Thao tác</th>
                                            <th class="text-center" width="300px">Trích yếu nội dung văn bản</th>
                                            <th class="text-center" width="150px" style="vertical-align:middle">Loại Nhà thầu</th>
                                            <th class="text-center" width="300px">Nhà thầu</th>
                                            <th class="text-center" width="200px">Hợp đồng</th>
                                            <th class="text-center" width="100px">Ngày trình ký</th>
                                            <th class="text-center" width="100px">Luồng xử lý</th>
                                            <th class="text-center" width="100px">File đính kèm</th>
                                            @*<th class="text-center" width="100px">Tình trạng</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int pageno = (int)Model.PageNumber;
                                            int itemperpage = (int)Model.PageSize;
                                            int RowNo = ((pageno - 1) * itemperpage) + 1;
                                        }
                                        @{
                                            foreach (var item in Model)
                                            {
                                                <tr>

                                                    <td class="text-center"> @RowNo@{RowNo++;}</td>
                                                    <td class="text-center">
                                                        <a href="@Url.Action("Index_HPDQ", "Detail_List_RegisterPeople_NT", new { id = item.DKTN_ID })" class="btn-action" title="Chi tiết danh sách">
                                                            <i class="fa-solid fa-bars"></i>
                                                        </a>

                                                    </td>
                                                    <td>
                                                            @item.NoiDung.ToString()
                                                    </td>                          
                                                    @{ 
                                                        var ID_LTK = db_dk.SignerTypes.Where(x => x.ID_LTK == item.TrinhKy_ID).FirstOrDefault();
                                                        if (ID_LTK != null)
                                                        {
                                                            if (item.LoaiNT_ID == 1)
                                                            {
                                                                if (ID_LTK.ID_LTK == 1)
                                                                {
                                                                    <td class="text-center">Cấp mới - NT Việt Nam</td>
                                                                }
                                                                else if (ID_LTK.ID_LTK == 2)
                                                                {
                                                                    <td class="text-center"> Gia hạn - NT Việt Nam</td>
                                                                }
                                                                else if (ID_LTK.ID_LTK == 3)
                                                                {
                                                                    <td class="text-center"> Bổ sung cổng - NT Việt Nam</td>
                                                                }
                                                                else if (ID_LTK.ID_LTK == 4)
                                                                {
                                                                    <td class="text-center">Cấp lại - NT Việt Nam</td>
                                                                }
                                                                else if (ID_LTK.ID_LTK == 5)
                                                                {
                                                                    <td class="text-center"> Chuyển đổi NT - NT Việt Nam</td>
                                                                }

                                                            }
                                                            else if (item.LoaiNT_ID == 2)
                                                            {
                                                                if (ID_LTK.ID_LTK == 1)
                                                                {
                                                                    <td class="text-center">Cấp mới - NNN Việt-Anh</td>
                                                                }
                                                                else if (ID_LTK.ID_LTK == 2)
                                                                {
                                                                    <td class="text-center"> Gia hạn - NNN Việt-Anh</td>
                                                                }
                                                                else if (ID_LTK.ID_LTK == 3)
                                                                {
                                                                    <td class="text-center"> Bổ sung cổng - NNN Việt-Anh</td>
                                                                }
                                                                else if (ID_LTK.ID_LTK == 4)
                                                                {
                                                                    <td class="text-center">Cấp lại - NNN Việt-Anh</td>
                                                                }
                                                                else if (ID_LTK.ID_LTK == 5)
                                                                {
                                                                    <td class="text-center"> Chuyển đổi NT - NNN Việt-Anh</td>
                                                                }
                                                            }
                                                            else if (item.LoaiNT_ID == 3)
                                                            {
                                                                 if (ID_LTK.ID_LTK == 1)
                                                                {
                                                                    <td class="text-center">Cấp mới - NNN Việt -Trung</td>
                                                                }
                                                                else if (ID_LTK.ID_LTK == 2)
                                                                {
                                                                    <td class="text-center"> Gia hạn - NNN Việt -Trung</td>
                                                                }
                                                                else if (ID_LTK.ID_LTK == 3)
                                                                {
                                                                    <td class="text-center"> Bổ sung cổng - NNN Việt -Trung</td>
                                                                }
                                                                else if (ID_LTK.ID_LTK == 4)
                                                                {
                                                                    <td class="text-center">Cấp lại - NNN Việt -Trung</td>
                                                                }
                                                                else if (ID_LTK.ID_LTK == 5)
                                                                {
                                                                    <td class="text-center"> Chuyển đổi NT - NNN Việt -Trung</td>
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <td></td>
                                                        }
                                                    }
                                                    @{

                                                        var NhaThau = db.NT_Partner.Where(x => x.ID == item.NT_ID).FirstOrDefault();
                                                        <td>
                                                            @NhaThau.FullName.ToString()
                                                        </td>
                                                        <td>
                                                            @item.HopDong
                                                        </td>

                                                        <td class="text-center">
                                                            @{
                                                                string date = item.NgayTrinh.ToString();
                                                                DateTime DayUpload = DateTime.Parse(date);
                                                                @DayUpload.ToString("dd-MM-yyyy")
                                                            }
                                                        </td>
                                                                if(item.TinhTrangID == 1)
                                                                { 
                                                                    <td class="text-center">

                                                                        <a class="" title="Hoàn tất" href="@Url.Action("Show", "Approve_RegisterPeople", new {   DKTN_ID = item.DKTN_ID})">
                                                                            <span class="btn-transition btn btn-success" style="width:120px;">Hoàn tất</span>
                                                                        </a>
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                     <td class="text-center">

                                                                                    <a class="" title="Đã hủy" href="@Url.Action("Show", "Approve_RegisterPeople", new {  DKTN_ID = item.DKTN_ID})">
                                                                                        <span class="btn-transition btn btn-danger" style="width:120px;">Đã hủy</span>
                                                                                    </a>
                                                                    </td>
                                                 
                                                                }

                                                        <td class="text-center">
                                                            <i class="fa-solid fa-eye mr-2"></i><a class="text-download" target="_blank" href="@Url.Content("~/PDFHocAT/" + System.IO.Path.GetFileName(item.File_CCAT))">Xem file</a>
                                                        </td>
                                                    }
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                                <div class="pager">
                                    @Html.PagedListPager(Model, page => Url.Action("Index_", "Approve", new { area = "TagSign", page, begind = Request.QueryString["begind"], endd = Request.QueryString["endd"] }))
                                    <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">

            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
    $('#btn-add').click(function () {
        var url = $('#myModal').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Thêm tiêu đề");
            $("#myModal").modal('show');
        });
    });
    $('#btn-Import').click(function () {
        var url = $('#myModalImport').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Add Permission");
            $("#myModal").modal('show');
        });
    });
     $("#btn-search").on('click', function () {
         var search = $('#txtsearch').val();
         var begind = Date.parse($('#begind').val());
         var endd = Date.parse($('#endd').val());
         window.location.href = '@Url.Action("Index_", "Approve_RegisterPeople")?search=' + search + '&begind=' + $('#begind').val() + '&endd=' + $('#endd').val();
     });
    $(document).ready(function () {
        var dateNewFormat, onlyDate, today = new Date();

        var prevMonthLastDate = new Date(today.getFullYear(), today.getMonth(), 1);

        dateLastDate = prevMonthLastDate.getFullYear() + '-';
        if (prevMonthLastDate.getMonth() >= 9) {

            dateLastDate += (prevMonthLastDate.getMonth() + 1);
        }
        else {
            dateLastDate += '0' + (prevMonthLastDate.getMonth() + 1);
        }

        onlyLastDate = prevMonthLastDate.getDate();

        if (onlyLastDate.toString().length == 2) {

            dateLastDate += "-" + onlyLastDate;
        }
        else {
            dateLastDate += '-0' + onlyLastDate;
        }



        dateNewFormat = today.getFullYear() + '-';
        if (today.getMonth() >= 9) {

            dateNewFormat += (today.getMonth() + 1);
        }
        else {
            dateNewFormat += '0' + (today.getMonth() + 1);
        }

        onlyDate = today.getDate();
        if (onlyDate.toString().length == 2) {

            dateNewFormat += "-" + onlyDate;
        }
        else {
            dateNewFormat += '-0' + onlyDate;
        }
        if ($('#begind').val() == '') {
            $('#begind').val(dateLastDate);
        }
        if ($('#endd').val() == '') {
            $('#endd').val(dateNewFormat);
        }
    });
</script>








