
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Publish/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Publish/Content/assets/css/PagedList.css" rel="stylesheet" />
@model EPORTAL.ModelsDanhBaDoiTac.ManageNewsValidation

@using (Html.BeginForm("Edit", "ManageNews", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IDTinTuc);
    <script src="//cdn.ckeditor.com/4.19.0/full/ckeditor.js"></script>

    <div class="app-main__outer">
        <div class="app-main__inner">
            <div class="app-page-title">
                <div class="page-title-wrapper">
                    <div class="page-title-heading">
                        <div class="page-title-icon">
                            <i class="pe-7s-portfolio icon-gradient bg-grow-early">
                            </i>
                        </div>
                        <div>
                            CẬP NHẬT TIN TỨC
                            <div class="page-title-subheading">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-content">
                <div class="row">
                    <div class="card col-lg-12">
                        <div class="modal-content">
                            <div class="modal-body">



                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <fieldset id="SubmitForm">
                                    <div class="row">





                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="small mb-1">Tên Đề Tài</label>
                                                @Html.EditorFor(model => model.TenDeTai, new { htmlAttributes = new { @class = "form-control", placeholder = "Tên Đề Tài", @id = "TenDeTai" } })
                                                @Html.ValidationMessageFor(model => model.TenDeTai, "", new { @class = "text-danger" })

                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="small mb-1">Tóm Tắt Tin</label>
                                                @Html.EditorFor(model => model.TomTatTinTuc, new { htmlAttributes = new { @class = "form-control", placeholder = "Tóm Tắt Tin Tức", @id = "TomTatTinTuc" } })
                                                @Html.ValidationMessageFor(model => model.TomTatTinTuc, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="small mb-1">Người Viết Tin</label>
                                                @Html.EditorFor(model => model.NguoiDangTin, new { htmlAttributes = new { @class = "form-control", placeholder = "Người Viết Tin", @id = "NguoiDangTin" } })
                                                @Html.ValidationMessageFor(model => model.NguoiDangTin, "", new { @class = "text-danger" })

                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="small mb-1">Nội Dung Tin Tức</label>
                                                @Html.TextArea("NoiDungTinTuc", null, new { @class = "form-control", @id = "NoiDungTinTuc" })
                                                @Html.ValidationMessageFor(model => model.NoiDungTinTuc, "", new { @class = "text-danger" })
                                            </div>
                                            <script>
                                                CKEDITOR.replace("NoiDungTinTuc");
                                            </script>
                                        </div>




                                        <div class="col-md-12">
                                            <div class="form-group">

                                                <label class="small mb-1">Hình Ảnh</label>

                                                @*@Html.EditorFor(model => model.ImagePath, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "ImagePath", @readonly = "true" } })*@
                                                <div class="col-md-12">
                                                    <input type="file" name="NotiFile" style="width:100%;" />
                                                </div>

                                            </div>
                                        </div>







                                    </div>

                                    <div class="btn-margin-top text-center">
                                        <input type="submit" value="Xác nhận" class="btn btn-success button_submit" />
                                        @Html.ActionLink("Quay Lại", "")
                                    </div>
                                </fieldset>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<style>
    .img {
        width: 736px;
        height: 492px;
        vertical-align: middle;
        border-style: none
    }
</style>


