@model EPORTAL.ModelsTagSign.NT_CardRegistrationInforValidation
@using EPORTAL.ModelsView360;

@using (Html.BeginForm("Approve", "Detail_ListCardRegisInfor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IDDS)
    <div class="modal-dialog" id="form">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ModalTitle"></h5>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <fieldset id="SubmitForm">
                    <div class="row">
                        @{
                            EPORTALEntities db = new EPORTALEntities();
                            int IDNV = EPORTAL.ModelsTagSign.MyAuthentication.ID != null ? EPORTAL.ModelsTagSign.MyAuthentication.ID : 0;
                            var ID = db.AuthorizationContractors.Where(x => x.IDNhanVien == IDNV).SingleOrDefault();

                            if (ID.IDQuyen == 1)
                            {
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="small mb-1">Tình trạng phê duyệt</label>

                                        @Html.DropDownList("BPQL", null, new { id = "BPQL", @class = "form-control", })
                                        @Html.ValidationMessageFor(model => model.BPQL, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }
                            else if (ID.IDQuyen == 2)
                            {
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="small mb-1">Tình trạng phê duyệt</label>

                                        @Html.DropDownList("VP1C", null, new { id = "VP1C", @class = "form-control", })
                                        @Html.ValidationMessageFor(model => model.VP1C, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }
                        }

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Ghi chú</label>

                                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "Note" } })
                                @*@Html.ValidationMessageFor(model => model.V_BKS, "", new { @class = "text-danger" })*@
                            </div>
                        </div>

                    </div>
                    <div class="btn-margin-top text-center">

                        <input type="submit" value="Xác nhận" class="btn btn-success button_submit" />

                    </div>

                </fieldset>

            </div>
        </div>
    </div>
}


