
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EPORTAL.ModelsServey
@model List<GroupKhaoSatView>
@using PagedList.Mvc

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />

<style>
    input[type=checkbox] {
        transform: scale(1.5);
    }

    /* Using css var aka custom properies, don't use them if you don't use tools such as postCss */
    :root {
        --color-blue: #5897fc;
        --color-blue-grayed: #e0ecff;
    }
    /* First hide radios */
    .questions input[type="radio"] {
        display: none;
    }

    /* Generate new radio buttons, which we can style via css */
    .questions label:before {
        content: attr(data-question-number);
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid;
        text-align: center;
        line-height: 30px;
        margin-right: 5px;
    }
    /* Applying styles when checking the buttons */
    .questions input[type="radio"]:checked ~ label {
        background-color: #87cefa;
        border-color: var(--color-blue);
    }

        .questions input[type="radio"]:checked ~ label:before {
            background-color: #ffffe0;
            border-color: var(--color-blue);
            /*color: white;*/
        }

    .questions label {
        display: block;
        cursor: pointer;
        padding: 10px;
        margin-bottom: 10px;
        background-color: white;
        border: 2px solid white;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    .questions__servey {
        background-color: white;
        /*min-height: 200px;*/
        border: 2px solid white;
        border-radius: 8px;
        margin: 15px 0;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .questions {
        background-color: #e0f3ff;
        padding: 20px;
    }

    .chosen-container-active .chosen-drop {
        z-index: 9999; /* Số lớn hơn để đảm bảo dropdown hiển thị phía trên */
    }
</style>

<div class="app-main__outer">
    <div class="app-main__inner">

        <!--<div class="app-page-title">
        <div class="page-title-wrapper">
                <div class="page-title-heading col-12">
                    <div class="page-title-icon">
                        <i class="pe-7s-portfolio icon-gradient bg-grow-early">
                        </i>
                    </div>-->
        @*<div class="row col-12">

                <div class="col-3">
                    <a href="../../../../assets/images/bg.png" class="float-right" title="Xem" target="_blank" style="text-decoration: underline; font-style: italic; "><i class="fa fa-file-pdf-o"></i>Thể lệ chương trình</a>
                </div>
                <div class="col-3">
                    <a href="../../../../assets/images/bg.png" class="float-right" title="Xem" target="_blank" style="text-decoration: underline; font-style: italic; "><i class="fa fa-file-pdf-o"></i>Giải thưởng</a>
                </div>
                <div class="col-3">
                    <a href="../../../../assets/images/bg.png" class="float-right" title="Xem" target="_blank" style="text-decoration: underline; font-style: italic; "><i class="fa fa-file-pdf-o"></i>Câu hỏi</a>
                </div>
            </div>*@
        <!--</div>

            </div>
        </div>-->

        <div class="tab-content" style="background-image: url(../../../../assets/images/bg.png); background-repeat: no-repeat; background-size: 100% 100%; ">
            <div class="row">
                <div class="card">

                    <div class="card-header">
                        <div class="row" style="width:100%">
                            <div class="row col-10">

                                <div class="col-3">
                                     <a href="../../../../assets/pdf/thongbaoDL2025.pdf" class="float-right" title="Xem" target="_blank" style="text-decoration: underline; font-style: italic; "><i class="fa fa-file-pdf-o"></i>Thông báo</a> 
                                   @* <a href="../../../../assets/pdf/TaiLieuHDay2024.pdf" class="float-right" title="Xem" target="_blank" style="text-decoration: underline; font-style: italic; "><i class="fa fa-file-pdf-o"></i>Tài liệu H - Day</a>*@
                                </div>
                                <div class="col-3">
                                     <a href="../../../../assets/pdf/chuongtrinhDL2025.pdf" class="float-right" title="Xem" target="_blank" style="text-decoration: underline; font-style: italic; "><i class="fa fa-file-pdf-o"></i>CHƯƠNG TRÌNH DỰ KIẾN</a> 
                                  @*  <a href="../../../../assets/pdf/TotrinhHDay2024.pdf" class="float-right" title="Xem" target="_blank" style="text-decoration: underline; font-style: italic; "><i class="fa fa-file-pdf-o"></i>Tờ trình</a>*@
                                </div>
                                <div class="col-3">
                                     <a href="../../../../assets/pdf/huongdanDL2025.pdf" class="float-right" title="Xem" target="_blank" style="text-decoration: underline; font-style: italic; "><i class="fa fa-file-pdf-o"></i>HƯỚNG DẪN ĐĂNG KÝ</a> 
                                   @* <a href="../../../../assets/pdf/ThongTinHDay2024.pdf" class="float-right" title="Xem" target="_blank" style="text-decoration: underline; font-style: italic; "><i class="fa fa-file-pdf-o"></i>Thông tin chương trình</a>*@
                                </div>
                            </div>
                            <div class="col-md-2">
                                @if (ViewBag.TinhTrangDK == 0)
                                {
                                    <a class=" float-right btn btn-danger font-weight-bold" title="Xóa đăng ký" style="font-size:0.8rem" href="@Url.Action("DeleteDK", "ServeyID", new { IDSV = ViewBag.IDSV })"
                                       onclick="return confirm('Bạn muốn xóa đăng ký? ')">
                                        <i class="fa fa-trash "></i>&nbsp;Xóa đăng ký
                                    </a>
                                }

                                @*<a class=" float-right btn btn-warning font-weight-bold" title="Xác nhận khảo sát" style="font-size:0.8rem" href="@Url.Action("XNServey", "ServeyID", new { IDSV = Model[0].IDSV ,IDNV = Model[0].IDNV })"
                                       onclick="return confirm('Xác nhận khảo sát? ')">
                                        <i class="fa-regular fa-square-check"></i>&nbsp;Xác nhận khảo sát
                                    </a>*@
                                @*<a class=" float-right btn btn-warning font-weight-bold" title="Xác nhận khảo sát" style="font-size:0.8rem" href="#"
                                       onclick="return confirm('Xác nhận khảo sát? ')">
                                        <i class="fa-regular fa-square-check"></i>&nbsp;Xác nhận khảo sát
                                    </a>*@

                                @*@if (Model[0].XNSV == true && Model[0].Status == false)*@
                                @*{
                                        <div class="text-center"> <div class="btn btn-success m-l-auto font-size-lg font-weight-bold disabled">Đã gửi kết quả</div></div>
                                    }
                                    else
                                    {
                                        <div class="text-center"><input class="btn btn-success m-l-auto font-size-lg font-weight-bold" id="submitOT" type="button" value="Gửi kết quả" /></div>
                                    }*@
                            </div>
                        </div>
                    </div>
                    <h4 class="font-weight-bold">Thông tin đăng ký </h4>
                    <div class="card-body" style="padding:15px 10px;">
                        <div class="" style="">
                            <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0" data-show-columns="true">
                                <thead class="thead-light">
                                    <tr>
                                        @*<th class="text-center">Mã Nhân viên</th>
                                            <th class="text-center">Họ và Tên</th>
                                            <th class="text-center">Bộ Phận</th>*@
                                        @*<th class="text-center">Cự ly</th>
                                            <th class="text-center">Màu áo</th>
                                            <th class="text-center">Size áo</th>
                                            <th class="text-center">Địa chỉ nhận đồ</th>*@
                                        @foreach (var hd in ViewBag.ColumHeader)
                                        {
                                            <th class="text-center">@hd</th>
                                        }
                                        <th class="text-center">Lý do không tham gia (ghi chú)</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (ViewBag.ThongTinDK != null)
                                    {
                                        <tr>
                                            @foreach (var hd in ViewBag.columnSelect)
                                            {

                                                <td>@hd</td>
                                            }
                                            @*<td>@ViewBag.ThongTinDK.CuLy</td>

                                                <td>@ViewBag.ThongTinDK.MauAo</td>
                                                <td>@ViewBag.ThongTinDK.Size</td>

                                                <td>@ViewBag.ThongTinDK.DiaChi</td>*@
                                        </tr>

                                    }




                                </tbody>
                            </table>
                        </div>
                    </div>

                    <h4 class="font-weight-bold">I. Form Đăng ký:</h4>
                    @using (Html.BeginForm("Confirm", "ServeyID", FormMethod.Post, new { id = "submit-op" }))
                    {

                        @Html.HiddenFor(model => Model[0].ID)
                        @*@Html.HiddenFor(model => Model[0].IDNV)*@
                        @Html.HiddenFor(model => Model[0].IDSV)

                        <div class="card-body">
                            <div class="table-responsive">
                                <div class="table-responsive">
                                    <div class="questions col-12">

                                        <div class="questions__servey" style="background-image: url(../../../../assets/images/); background-size: 100% 100%; background-repeat: no-repeat; ">
                                            <h3 style="margin: revert;" class="font-weight-bold"> @ViewBag.TenDK</h3>
                                            <div class="font-weight-bold text-danger">
                                                @*(CBNV có đăng ký tham gia các hoạt động thì vui lòng hoàn thành)*@
                                            </div>
                                        </div>

                                        @{ var dem = 0; var n = 0;}
                                        @foreach (var gr in Model)
                                        {
                                            dem++;
                                            <div class="font-weight-bold font-size-xlg LuaChon_@gr.ID" style=@(ViewBag.checkShowDK == "false" && gr.ID==13 ? "display:none" : "")>
                                                @gr.TenNhom
                                            </div>
                                            //thêm lưu ý
                                            @*if (Request.QueryString["IDSV"] == "6")
                                            {
                                                <div class="font-weight-bold text-danger">
                                                    Dành cho CBNV tham gia trên tinh thần tự nguyện không bắt buộc.​ <br>

                                                    Quyên góp vật phẩm (truyện, sách có tính giáo dục) quyên góp tối thiểu 1, tối đa 3 vật phẩm.

                                                </div>
                                            }
                                            else if (Request.QueryString["IDSV"] == "7")
                                            {
                                                <div class="font-weight-bold text-danger">
                                                    Ngày dự thi 16 -17/8/2024 ​ <br>

                                                    Khung giờ dự thi : 5 khung giờ cố định mỗi ngày (CBNV Chỉ lựa chọn duy nhất 1 khung giờ dự thi)
                                                </div>
                                            }*@
                                            for (int i = 0; i < gr.OptionList.OptionLS.Count; i++)
                                            {
                                                var k = i + 1; n++;
                                                var checkShow = @gr.OptionList.OptionLS[i].isShow == 0 ? "d-none" : "";

                                                <div class="questions__question LuaChon_@gr.ID " style=@(ViewBag.checkShowDK == "false" && gr.ID==13 ? "display:none" : "")>
                                                    @*@Html.RadioButtonFor(m => gr.OptionList.Answer, gr.OptionList.OptionLS[i].IDOT, new { id = @n,  })*@
                                                    @if (gr.OptionList.Answer == @gr.OptionList.OptionLS[i].IDOT)
                                                    {
                                                        <input data-val="true" data-val-number="The field Answer must be a number." id="@n" name="gr.OptionList.Answer[@gr.ID]" checked type="radio" value="@gr.OptionList.OptionLS[i].IDOT">
                                                    }
                                                    else if (@gr.OptionList.OptionLS[i].isShow == 0)
                                                    {
                                                        <input data-val="true" data-val-number="The field Answer must be a number." id="@n" name="gr.OptionList.Answer[@gr.ID]" checked type="radio" value="@gr.OptionList.OptionLS[i].IDOT">
                                                    }
                                                    else
                                                    {
                                                        <input data-val="true" data-val-number="The field Answer must be a number." id="@n" name="gr.OptionList.Answer[@gr.ID]" type="radio" value="@gr.OptionList.OptionLS[i].IDOT">
                                                    }
                                                    @*<input data-val="true" data-val-number="The field Answer must be a number." id="@n" name="gr.OptionList.Answer[@gr.ID]" type="radio" value="@gr.OptionList.OptionLS[i].IDOT">*@
                                                    <label for="@n" data-question-number="@k" class="font-weight-bold">
                                                        @gr.OptionList.OptionLS[i].ContentOT
                                                        @if (gr.OptionList.OptionLS[i].FilePath != null && gr.OptionList.OptionLS[i].FilePath.Length > 0)
                                                        {
                                                            <a href="@Url.Content("~/UploadedFiles/FileServey/" + System.IO.Path.GetFileName(gr.OptionList.OptionLS[i].FilePath))" class="float-right" title="Xem" target="_blank" style="text-decoration: underline; font-style: italic; "><i class="fa fa-file-pdf-o"></i>File đính kèm</a>
                                                        }
                                                    </label>
                                                </div>



                                            }
                                        }


                                        @*<div class="questions__question">
            <input type="radio" name="answer" id="answer-2">
            <label for="answer-2" data-question-number="2">Kralj</label>
        </div>*@

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="row col-12">


                        <div class="col-md-12">
                            <div class="form-group">
                                <div class=" font-weight-bold mb-1">Địa điểm gửi áo</div>-->
                        @*@Html.DropDownListFor(model => model[0].IDDC, ViewBag.IDDC as SelectList, new { @class = "form-control", @id = "IDDC", })*@


                        <!--</div>
                            </div>
                        </div>-->
                    <div class="formLyDo" style=@(ViewBag.DKKhong == "false" ? "display:none" : "")>
                        <h4 class="font-weight-bold">Lý do không tham gia:</h4>
                        <select class="form-control marginTB5 SelectLyDo" name="LyDo" id="LyDo">
                            @foreach (var item in ViewBag.LyDo)
                            {
                                if (item.Value == ViewBag.LyDoChon)
                                {
                                    <option value='@item.Value' selected>@item.Text</option>
                                }
                                else
                                {
                                    <option value='@item.Value'>@item.Text</option>
                                }

                            }
                        </select>
                    </div>

                        <div class="formPart" style=@(ViewBag.checkShowDK == "false" ? "display:none" : "")>
                            <div class="m-auto w-100">

                            </div>
                            <h4 class="font-weight-bold">2. Mục dành cho vợ/chồng làm cùng Công ty đăng ký đi chung đoàn (Chỉ vợ đăng ký mục này) </h4>

                            <div class="card-body" style="padding:15px 10px;">
                                <div class="table-responsive" style="">
                                    <table class="table table-bordered table-hover" id="table1" width="100%" cellpadding="0" data-show-columns="true">
                                        <thead class="thead-light">
                                            <tr>
                                                <th class="text-center">Mã Nhân viên</th>
                                                <th class="text-center">Họ và Tên</th>
                                                <th class="text-center">Bộ Phận</th>
                                                @*<th class="text-center">Năm Sinh</th>*@
                                                @*<th class="text-center" style="min-width:150px">Mối quan hệ</th>*@

                                                @foreach (var hd in ViewBag.ColumHeaderRe)
                                                {
                                                    <th class="text-center" style="min-width:150px">@hd</th>
                                                }
                                                <th class="text-center" style="min-width:150px">Đoàn đăng ký tham gia</th>
                                                <th class="text-center">Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int RowNo = 1;
                                            }
                                            @foreach (var item in ViewBag.DSCty)
                                            {

                                                <tr>

                                                    <td>@item.MaNV</td>
                                                    <td>@item.HoTen</td>

                                                    <td>@item.PhongBan</td>
                                                    @*<td>@item.NamSinh</td>*@
                                                    @*<td>@item.QuanHe</td>*@
                                                    @foreach (var sel in item.ListSelect)
                                                    {
                                                        <td>@sel</td>
                                                    }
                                                    <td>@item.Note</td>
                                                    <td class="text-center">
                                                        <a class="fa fa-trash icon_action" title="Xóa" href="@Url.Action("Delete", "ServeyID", new { id = item.ID, IDSV = item.IDSV })"
                                                           onclick="return confirm('Bạn muốn xóa : @item.IDNguoiThan')">
                                                        </a>
                                                        @*<a id="btn-edit_@item.ID" href="#" title="Chỉnh sửa" class="btn-action"><i class="fa fa-edit"></i> </a>
                                                            <div class="modal " id="myModaleEdit_@item.ID" role="dialog" data-url='@Url.Action("Edit", "ServeyID", new { id = item.ID })'></div>
                                                            <script type="text/javascript">
                                                                    $('#btn-edit_@item.ID').click(function () {
                                                                        var url = $('#myModaleEdit_@item.ID').data('url');
                                                                        $.get(url, function (data) {
                                                                            $("#myModaleEdit_@item.ID").html(data);
                                                                            $("#ModalTitle").html("Cập nhật thông tin");
                                                                            $("#myModaleEdit_@item.ID").modal('show');
                                                                        });
                                                                    });
                                                            </script>*@
                                                    </td>
                                                </tr>
                                            }

                                            <tr id="vt">
                                                <th colspan="15" class="font-weight-bold font-size-lg">
                                                    <button id="add-cung" type="button" class="btn btn-light border border-white"><i class="fas fa-plus"></i></button>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                             <h4 class="font-weight-bold ">3. Đăng ký cho người thân (Không làm trong Công ty)</h4> 
                            @*<h4 class="font-weight-bold @(Request.QueryString["IDSV"] == "7"?"d-none":"")">II. ĐĂNG KÝ THÔNG TIN CON CỦA CBNV THAM GIA TẶNG SÁCH</h4>*@
                            <div class="card-body"  style="padding:15px 10px;">
                                <div class="table-responsive" style="">
                                    <table class="table table-bordered table-hover" id="table2" width="100%" cellpadding="0" data-show-columns="true">
                                        <thead class="thead-light">
                                            <tr>
                                                <th class="text-center" style="min-width:150px">Họ và Tên</th>
                                                <th class="text-center">Ngày sinh</th>
                                                <th class="text-center" style="min-width:150px">Mối quan hệ</th>
                                                <th class="text-center" style="min-width:150px">Giới tính</th>
                                                <th class="text-center" style="min-width:150px">Số điện thoại (Nếu có)</th>

                                                @foreach (var hd in ViewBag.ColumHeaderRe)
                                                {
                                                    <th class="text-center" style="min-width:150px">@hd</th>
                                                }
                                                @*<th class="text-center">Ghi chú</th>*@
                                                @*<th class="text-center">Cự ly</th>
                                                    <th class="text-center">Màu áo</th>
                                                    <th class="text-center">Size áo</th>
                                                    <th class="text-center">Địa chỉ nhận đồ</th>*@
                                                <th class="text-center">Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                //int RowNo = 1;
                                            }
                                            @foreach (var item in ViewBag.DSKhac)
                                            {

                                                <tr>



                                                <tr>

                                                    <td>@item.HoTen</td>
                                                    <td>@item.NamSinh</td>
                                                    <td>@item.QuanHe</td>
                                                    <td>@item.GioiTinhStr</td>
                                                    <td>@item.DienThoai</td>

                                                    @*<td>@item.CuLy</td>

                                                        <td>@item.MauAo</td>
                                                        <td>@item.Size</td>

                                                        <td>@item.DiaChi</td>*@
                                                    @foreach (var sel in item.ListSelect)
                                                    {
                                                        <td>@sel</td>
                                                    }
                                                    @*<td>@item.Note</td>*@
                                                    <td class="text-center">
                                                        <a class="fa fa-trash icon_action" title="Xóa" href="@Url.Action("Delete", "ServeyID", new { id = item.ID, IDSV = item.IDSV })"
                                                           onclick="return confirm('Bạn muốn xóa : @item.ID')">
                                                        </a>
                                                        @*<a id="btn-edit_@item.ID" href="#" title="Chỉnh sửa" class="btn-action"><i class="fa fa-edit"></i> </a>
                                                            <div class="modal " id="myModaleEdit_@item.IDNguoiThan" role="dialog" data-url='@Url.Action("Edit", "ServeyID", new { id = item.ID })'></div>
                                                            <script type="text/javascript">
                                                                    $('#btn-edit_@item.ID').click(function () {
                                                                        var url = $('#myModaleEdit_@item.ID').data('url');
                                                                        $.get(url, function (data) {
                                                                            $("#myModaleEdit_@item.ID").html(data);
                                                                            $("#ModalTitle").html("Cập nhật thông tin");
                                                                            $("#myModaleEdit_@item.ID").modal('show');
                                                                        });
                                                                    });
                                                            </script>*@
                                                    </td>
                                                </tr>
                                                </tr>

                                            }
                                            <tr id="vt2">
                                                <th colspan="15" class="font-weight-bold font-size-lg">
                                                    <button id="add-khac" type="button" class="btn btn-light border border-white"><i class="fas fa-plus"></i></button>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="btn-margin-top text-center">
                            <input type="submit" id="submitButton" value="Gửi kết quả" onclick="disableButton()" class="btn btn-success button_submit fa-2x" />

                        </div>
                    }
                </div>
            </div>
            @if (ViewBag.ThongTinDK != null)
            {
                @*<div class="text-center "><input class="btn btn-success m-l-auto font-size-lg font-weight-bold fa-2x" id="addRe" type="button" value="Đăng ký thêm người thân" /></div>*@
            }

        </div>


        <div class="app-wrapper-footer">
            <div class="app-footer">
                <div class="app-footer__inner">

                </div>
            </div>
        </div>


    </div>
</div>

<script type="text/javascript">
    function disableButton() {
        document.getElementById("submitButton").disabled = true;
        document.getElementById("submit-op").submit();
    }

    $('#btn-add').click(function () {
        var url = $('#myModal').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Thêm Khảo sát");
            $("#myModal").modal('show');
        });
    });
    $('#addRe').click(function () {
        var IDSV = $('#IDSV').val();
        const urlParams = new URLSearchParams(window.location.search);
        const param1 = urlParams.get('IDSV');
        window.location.href = '@Url.Action("CreateRelation", "ServeyID")?IDSV=' + param1;
    });

$(document).ready(function () {
        var i = 1;
        var op = 0;
        $("#add-cung").click(function () {
            var renderList = $(`<tr>

                                                            <td style=''>
                                                              <select class="form-control marginTB5 SelectNV selectSV" name="IDNV_${i}" id="IDNV_${i}">
                                                                  <option value ='null'>--Chọn Nhân viên--</option>
                                                                  @foreach (var item in ViewBag.IDNV)
                                                                    {
                                                                      <option value='@item.Value'>@item.Text</option>
                                                                    }
                                                                </select>
                                                            </td>
                                                            <td></td>
                                                            <td></td>

                                                             @*<td >
                                                                <select class="form-control " name="reCung_${i}" id="reCung_${i}">
                                                                  @foreach (var item in ViewBag.LSOP1)
                                                                    {
                                                                      <option value='@item.Value'>@item.Text</option>
                                                                    }
                                                                </select>
                                                            </td>*@
                                                           @foreach(var sl in ViewBag.Magroup)
                                                            {
                                                                <td>
                                                                    <select class="form-control " name="slectCung_${i}_${@sl}" id="slectCung_${i}_${@sl}">
                                                                    <option value='null'>--Lựa chọn--</option>
                                                                    @foreach(var ot in ViewBag.OptionLSCheck)
                                                                    {
                                                                        if (ot.Text == sl.ToString()) {
                                                                            var filteredItems = ViewBag.OptionLSID as List<OptionServey>;
                                                                            var k = filteredItems.Where(x => x.IDOT.ToString() == ot.Value).FirstOrDefault();
                                                                             <option value='@ot.Value'>@k.ContentOT</option>
                                                                        }
                                                                    }
                                                                    </select>
                                                                </td>
                                                            }
                                                             <td >
                                                                 <select class="form-control " id='notecung_${i}' name='notecung_${i}' ">
                                                                      @foreach (var item in ViewBag.GhiChu)
                                                                        {
                                                                          <option value='@item.Value'>@item.Text</option>
                                                                        }
                                                                 </select>
                                                            </td>
                                                             <td class='text-center delItem' > <i class="fa fa-trash icon_action btn" aria-hidden="true"></i> </td>
                                                        </tr>`);
            $("#vt").before(renderList);
            $("#SelectBP").change();
            i++;
            $(".SelectBP").chosen({
                width: "100%",
            });
            $(".SelectNV").chosen({
                width: "100%",
            });

        });
        $("#add-khac").click(function () {
            var renderList = $(`<tr>


                                                            <td >
                                                                <textarea class='form-control selectSV' cols='20' id='nameKhac_${i}' name='nameKhac_${i}' placeholder='Tên Người thân' rows='1'></textarea>
                                                            </td>

                                                            <td style=''>
                                                                <input class='form-control input-date' data-val='true' onkeypress="return false"  data-val-number='The field BirthDay must be a number.' id='nsKhac_${i}'  name='nsKhac_${i}' placeholder='' type='date' value=''>
                                                             </td>
                                                             <td >
                                                                <select class="form-control " name="reKhac_${i}" id="reKhac_${i}">
                                                                   @foreach (var item in ViewBag.LSOP)
                                                                    {
                                                                      <option value='@item.Value'>@item.Text</option>
                                                                    }
                                                                </select>
                                                            </td>
                                                            <td >
                                                                <select class="form-control " name="gioitinhKhac_${i}" id="gioitinhKhac_${i}">
                                                                  @foreach (var item in ViewBag.GioiTinh)
                                                                    {
                                                                      <option value='@item.Value'>@item.Text</option>
                                                                    }
                                                                </select>
                                                            </td>
                                                             <td><textarea class='form-control selectSV' cols='20' id='sdtKhac_${i}' name='sdtKhac_${i}' placeholder='số điện thoại' rows='1'></textarea></td>
                                                            @foreach(var sl in ViewBag.Magroup)
                                                            {
                                                                <td>
                                                                    <select class="form-control " name="slectKhac_${i}_${@sl}" id="slectKhac_${i}_${@sl}">
                                                                    <option value='null'>--Lựa chọn--</option>
                                                                    @foreach(var ot in ViewBag.OptionLSCheck)
                                                                    {
                                                                        if (ot.Text == sl.ToString()) {
                                                                            var filteredItems = ViewBag.OptionLSID as List<OptionServey>;
                                                                            var k = filteredItems.Where(x => x.IDOT.ToString() == ot.Value).FirstOrDefault();
                                                                             <option value='@ot.Value'>@k.ContentOT</option>
                                                                        }
                                                                    }
                                                                    </select>
                                                                </td>
                                                            }

                                                             <td class='text-center delItem2' > <i class="fa fa-trash icon_action btn" aria-hidden="true"></i> </td>
                                                        </tr>`);
            $("#vt2").before(renderList);
            $("#SelectBP").change();
            i++;
            $(".SelectBP").chosen({
                width: "100%",
            });
            $(".SelectNV").chosen({
                width: "100%",
            });
        });
    
                //$("#table").on("change", ".SelectBP", function () {
                //    var idpb = $(this).val();
                //    var iddex = $(this).attr('id').split("_")[1];
                //    $.get("/STpermissions/CheckNVID", { IDPB: idpb }, function (data) {
                //        if (data[0] != null) {
                //            $("#IDNV_" + iddex).empty();
                //            $("#IDNV_" + iddex ).append("<option value ='" + null + "'>" + "--Chọn Nhân viên--" + "</option>")
                //            $.each(data, function (index, row) {
                //                $("#IDNV_" + iddex ).append("<option value ='" + row.ID + "'>" + row.HoTen + "</option>")
                //            });
                //        }
                //        else {
                //            $("#IDNV_" + iddex).empty();
                //        }
                //        $(".SelectNV").chosen("destroy").chosen({ width: "100%", });
                //    });
    //});

    $("form .questions input:radio").change(function () {
        op = $(this).val();
        if ( $(this).val() ==48) { // thay 25 bằng ID lựa chọn
            // Disable your roomnumber element here
            $('.formPart').show();
            $('.formLyDo').hide();
            $('.LuaChon_7').show(); // ẩn hiện theo IDOT
            $('.LuaChon_8').show();
            $('.LuaChon_12').show();
            $('.LuaChon_13').show();

        } else if ($(this).val() == 49) {
            // Re-enable here I guess
            $('.formPart').hide();
            $('.formLyDo').show();
            $('.LuaChon_7').hide(); // ẩn hiện theo IDOT
            $('.LuaChon_8').hide();
            $('.LuaChon_13').hide();
        }
    });


    $("#table").on("change", ".checkRe", function () {
        var check = $(this).is(':checked');
        var iddex = $(this).attr('id').split("_")[1];
        if (!check) {
            $("#name_" + iddex).attr('readonly', 'readonly');
            $("#ns_" + iddex).attr('readonly', 'readonly');
            $("#cccd_" + iddex).attr('readonly', 'readonly');
        }
        else {
            $("#name_" + iddex).removeAttr("readonly");
            $("#ns_" + iddex).removeAttr("readonly");
            $("#cccd_" + iddex).removeAttr("readonly");
        }
    })
                    // Make sure the previous value is updated
                    //previous = this.value;
    $("#table1").on("click", ".delItem", function () {
        $(this).closest("tr").remove();
    });
    $("#table2").on("click", ".delItem2", function () {
        $(this).closest("tr").remove();
    });
    async function addVT(url, params, method) {
        return $.ajax({
            url: url,
            type: method || 'GET',
            dataType: 'json',
            data: params
        });
    }
    $("#submitOT").click(async function () {

        let arr = [];
        $(".selectSV").each(function () {
            var idd = $(this).attr('id').split("_")[1];
            var idNV = $("#IDNV_" + idd).val();
            var hoten = $("#name_" + idd).val();
            var ns = $("#ns_" + idd).val();
            var re = $("#re_" + idd).val();
            var not = $("#note_" + idd).val();
            var check = true;
            if (idNV != null) check = false;
            arr.push({ HoTen: hoten, NS: ns, IDNV: idNV, Re: re, isCom: check, note: not, IDSV :@Model[0].IDSV, answer: op });
            //console.log("midle");
            //console.log(IDPB, IDPX, IDK, IDN, IDT);
            //$.get("FPosition/AddVT", { TenVT: tenvt, MaVT: mavt, IDPB: IDPB, IDK: IDK, IDPX: IDPX, IDNhom: IDN, IDTo: IDT }, async function (data1) {
            //    //location.reload(true);
            //}).fail(function () {
            //    //location.reload(true);
            //});
        });
        const promises = arr.map(async mnv => {
            const result = await addVT("ServeyID/AddRe", mnv);
            //console.log(mnv);
            return result;
        })
        const numFruits = await Promise.all(promises)
            .then((values) => {
                //alert("Gửi thành công");
                //location.reload(true);
            })
            .catch((error) => {
                //alert("Thêm mới thất bại");
                //location.reload(true);
            }).finally(() => {
                //return location.reload(true);
            });
        $("#submit-op").submit(); // Submit the form
        //console.log("out")
        //return location.reload(true);

    });
    $("#submit-vt").click(async function () {
        let arr = [];
        $(".selectSV").each(function () {
            var idd = $(this).attr('id').split("_")[1];
            var idNV = $("#IDNV_" + idd).val();
            var hoten = $("#name_" + idd).val();
            var ns = $("#ns_" + idd).val();
            var re = $("#re_" + idd).val();
            var not = $("#note_" + idd).val();
            var check = true;
            if (idNV != null) check = false;
            arr.push({ HoTen: hoten, NS: ns, IDNV: idNV, Re: re, isCom: check, note: not  });
            //console.log("midle");
            //console.log(IDPB, IDPX, IDK, IDN, IDT);
            //$.get("FPosition/AddVT", { TenVT: tenvt, MaVT: mavt, IDPB: IDPB, IDK: IDK, IDPX: IDPX, IDNhom: IDN, IDTo: IDT }, async function (data1) {
            //    //location.reload(true);
            //}).fail(function () {
            //    //location.reload(true);
            //});
        });
        const promises = arr.map(async mnv => {
            const result = await addVT("ServeyID/AddRe", mnv);
            //console.log(mnv);
            return result;
        })
        const numFruits = await Promise.all(promises)
            .then((values) => {
                alert("Thêm mới thành công");
                //location.reload(true);
            })
            .catch((error) => {
                alert("Thêm mới thất bại");
                //location.reload(true);
            });
        //console.log("out")
        return location.reload(true);
    })

});

</script>






