
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EPORTAL.ModelsTagSign
@model PagedList.IPagedList<NT_CarteTemporaireValidation>
@using PagedList.Mvc
@using EPORTAL.ModelsView360;
@using EPORTAL.ModelsTagSign;
@using EPORTAL.ModelsPartner;

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
@{
    EPORTALEntities db = new EPORTALEntities();
    EPORTAL_NTEntities dbNT = new EPORTAL_NTEntities();
    var nd = db.AuthorizationContractors.Where(x => x.IDNhanVien == MyAuthentication.ID).SingleOrDefault();
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-portfolio icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        Danh sách đã xử lý cấp thẻ tạm Nhà thầu
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="tab-content">
            <div class="row">
                <div class="card">

                    <div class="card-header">
                        <div class="row" style="width:100%">
                            <div class="col-md-10 col-lg-10">
                                <div class="row">
                                    <span class="text-center" style="margin-top: 8px">Từ ngày :</span>
                                    <div class="col-md-2">
                                        @Html.TextBox("begind", null, new { @id = "begind", @type = "date", @class = "form-control" })
                                    </div>
                                    <span class="text-center" style="margin-top: 8px">Đến ngày :</span>
                                    <div class="col-md-2">
                                        @Html.TextBox("endd", null, new { @id = "endd", @type = "date", @class = "form-control" })
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-primary" id="btn-search"><i class="fa fa-search"></i> Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th width="30px" class="text-center">STT</th>
                                            <th class="text-center" width="70px">Thao tác</th>
                                            <th class="text-center" width="200px">Trích yếu nội dung văn bản</th>
                                            <th class="text-center" width="200px">Nhân viên tạo</th>
                                            <th class="text-center" width="200px">Nhà thầu</th>
                                            <th class="text-center" width="200px">Hợp đồng</th>
                                            <th class="text-center" width="100px">Ngày tạo</th>
                                            <th class="text-center" width="200px">Ghi chú</th>
                                            <th class="text-center" width="100px">Tình trạng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int pageno = (int)Model.PageNumber;
                                            int itemperpage = (int)Model.PageSize;
                                            int RowNo = ((pageno - 1) * itemperpage) + 1;
                                        }
                                        @{

                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="text-center"> @RowNo@{RowNo++;}</td>
                                                    <td class="text-center">
                                                        <a href="@Url.Action("Index", "Detail_ViewTemporarycard", new { id = item.IDTTT })" class="btn-action" title="Chi tiết văn bản">
                                                            <i class="fa-solid fa-bars"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        @item.NoiDung
                                                    </td>
                                                     @if (item.isNT == 1)
                                                    {
                                                        <td>
                                                            @{
                                                                var NhanVien = dbNT.NT_UserTemp.Where(x => x.ID == item.NguoiTaoID).FirstOrDefault();
                                                                if (NhanVien != null)
                                                                {
                                                                 NT: NhanVien.UserName.ToString();
                                                                }

                                                            }


                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            @{
                                                                var NhanVien = db.NhanViens.Where(x => x.ID == item.NguoiTaoID).FirstOrDefault();

                                                            }
                                                            @NhanVien.MaNV:&nbsp;@NhanVien.HoTen.ToString()
                                                        </td>

                                                    }
                                                    <td>
                                                        @{
                                                            var NhaThau = db.NT_Partner.Where(x => x.ID == item.NTID).FirstOrDefault();

                                                        }
                                                        @NhaThau.FullName.ToString()
                                                    </td>
                                                    <td>
                                                        @item.HangMuc
                                                    </td>
                                                    <td>
                                                        @item.NgayTao.ToString("dd-MM-yyyy")
                                                    </td>
                                                    <td>
                                                        @item.GhiChu
                                                    </td>
                                                    <td>
                                                        @if (item.TinhTrang == 2 || item.TinhTrang == 1)
                                                        {
                                                            <span>
                                                                Chưa xử lý
                                                            </span>
                                                        }
                                                        else if (item.TinhTrang == 3)
                                                        {
                                                            <span>
                                                                Đã xác nhận
                                                            </span>
                                                        }
                                                        else if (item.TinhTrang == 4)
                                                        {
                                                            <span>
                                                                Đã hủy
                                                            </span>
                                                        }
                                                        else if (item.TinhTrang == 5)
                                                        {
                                                            EPORTAL_NTEntities db_nt = new EPORTAL_NTEntities();
                                                            var UpDate = db_nt.NT_Handle.Where(x => x.IDTTT == item.IDTTT && x.IDThe != null).Count();
                                                            <span>
                                                                Đã xử lý: @UpDate NVNT
                                                            </span>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                                <div class="pager">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", "View", new { area = "TagSign", page }))
                                    <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">

            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
     $("#btn-search").on('click', function () {
         var search = $('#txtsearch').val();
         var begind = Date.parse($('#begind').val());
         var endd = Date.parse($('#endd').val());
         window.location.href = '@Url.Action("Index", "View")?search=' + search + '&begind=' + $('#begind').val() + '&endd=' + $('#endd').val();
     });
    $(document).ready(function () {
        var dateNewFormat, onlyDate, today = new Date();

        var prevMonthLastDate = new Date(today.getFullYear(), today.getMonth(), 1);

        dateLastDate = prevMonthLastDate.getFullYear() + '-';
        if (prevMonthLastDate.getMonth() >= 9) {

            dateLastDate += (prevMonthLastDate.getMonth() + 1);
        }
        else {
            dateLastDate += '0' + (prevMonthLastDate.getMonth() + 1);
        }

        onlyLastDate = prevMonthLastDate.getDate();

        if (onlyLastDate.toString().length == 2) {

            dateLastDate += "-" + onlyLastDate;
        }
        else {
            dateLastDate += '-0' + onlyLastDate;
        }



        dateNewFormat = today.getFullYear() + '-';
        if (today.getMonth() >= 9) {

            dateNewFormat += (today.getMonth() + 1);
        }
        else {
            dateNewFormat += '0' + (today.getMonth() + 1);
        }

        onlyDate = today.getDate();
        if (onlyDate.toString().length == 2) {

            dateNewFormat += "-" + onlyDate;
        }
        else {
            dateNewFormat += '-0' + onlyDate;
        }
        if ($('#begind').val() == '') {
            $('#begind').val(dateLastDate);
        }
        if ($('#endd').val() == '') {
            $('#endd').val(dateNewFormat);
        }
    });
</script>





