@model EPORTAL.ModelsTagSign.ContractValidation
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />
@using (Html.BeginForm("Create", "Contract", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog" id="form">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ModalTitle"></h5>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <fieldset id="SubmitForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Tên hợp đồng</label>
                                @Html.EditorFor(model => model.Contract, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "Contract", @text = "" } })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Số hợp đồng</label>
                                @Html.EditorFor(model => model.Somecontracts, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "Somecontracts", @text = "" } })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Ngày bắt đầu</label>
                                @Html.TextBox("BeginDate", null, new { @id = "BeginDate", @type = "date", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BeginDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Ngày kết thúc</label>
                                @Html.TextBox("EndDate", null, new { @id = "EndDate", @type = "date", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Nhà thầu</label>
                                @Html.DropDownListFor(model => model.IDNT, ViewBag.NTList as SelectList, "--Chọn nhà thầu--", new { @id = "IDNT", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IDNT, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">BP Quản lý</label>
                                @Html.DropDownListFor(model => model.IDBP, ViewBag.BPList as SelectList, "--Chọn phòng ban quản lý--", new { @id = "IDBP", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IDBP, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-md-12">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <fieldset id="SubmitForm">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputLastName">Tải lên File </label>
                                    <input type="file" id="FileUpload" name="FileUpload" class="form-control" onchange="checkfile(this);" />
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="btn-margin-top text-center">
                        <input type="submit" value="Xác nhận" class="btn btn-success button_submit" />
                    </div>

                </fieldset>

            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $("#IDNT").chosen({
        width: "100%"
    });
    $("#IDBP").chosen({
        width: "100%"
    });
</script>



