
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EPORTAL.ModelsTagSign
@model PagedList.IPagedList<ContractValidation>
@using PagedList.Mvc
@using EPORTAL.ModelsView360;
@using EPORTAL.ModelsTagSign;

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
@{
    EPORTALEntities db = new EPORTALEntities();

    var nd = db.AuthorizationContractors.Where(x => x.IDNhanVien == MyAuthentication.ID).SingleOrDefault();
    var quyenAdd = (int)ViewBag.Quyen;
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-portfolio icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        Danh sách hợp đồng
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>
                    <div class="tab-content">
                <div class="row">
                    <div class="card">

                        <div class="card-header">
                            <div class="row" style="width:100%">
                                <div class="col-md-8 col-lg-8">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <input type="text" id="txtsearch" name="" placeholder="Tìm kiếm" class="form-control" value="@ViewBag.search">
                                        </div>
                                        <div class="col-md-5">
                                            <button class="btn btn-primary" id="btn-search"><i class="fa fa-search"></i> Tìm kiếm</button>
                                        </div>
                                    </div>
                                </div>
                                @if (quyenAdd != 0)
                                {
                                    <div class="col-md-4">

                                        <button type="button" id="btn-add" class="btn btn-primary " style="margin-left:10px;float:right"><i class="fa fa-plus">&nbsp;</i>&nbsp;Thêm mới </button>
                                        <div class="modal" id="myModal" role="dialog" data-url='@Url.Action("Create","Contract")' style="margin-top:50px"></div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                        <thead>
                                            <tr>
                                                <th width="30px" class="text-center">STT</th>
                                                @if ((ViewBag.QUYENCN as List<String>).Contains("DELETE") || (ViewBag.QUYENCN as List<String>).Contains("EDIT") || (ViewBag.QUYENCN as List<String>).Contains("APPROVE"))
                                                {
                                                    <th class="text-center" width="80px">Thao tác</th>
                                                }
                                                <th class="text-center" width="200px">Tên hợp đồng</th>
                                                <th class="text-center" width="200px">Số hợp đồng</th>
                                                <th class="text-center" width="100px">Ngày bắt đầu</th>
                                                <th class="text-center" width="100px">Ngày kết thúc</th>
                                                <th class="text-center" width="200px">Tên nhà thầu</th>
                                                <th class="text-center" width="200px">BP quản lý</th>
                                                <th class="text-center" width="100px">File Scan</th>
                                                <th class="text-center" width="120px">Tình trang xử lý</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int pageno = (int)Model.PageNumber;
                                                int itemperpage = (int)Model.PageSize;
                                                int RowNo = ((pageno - 1) * itemperpage) + 1;
                                            }
                                            @{

                                                foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td class="text-center"> @RowNo@{RowNo++;}</td>
                                                        <td class="text-center">
                                                            @if (item.TTXL == 0)
                                                            {
                                                                if ((ViewBag.QUYENCN as List<String>).Contains("DELETE"))
                                                                {
                                                                    <a title="Xóa" class="btn-action" href="@Url.Action("Delete", "Contract", new { id = item.IDContract, begind = Request.QueryString["begind"], endd = Request.QueryString["endd"] })"
                                                                       onclick="return confirm('Bạn muốn xóa số hợp đồng  : @item.Somecontracts')">
                                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                                    </a>
                                                                }

                                                                if ((ViewBag.QUYENCN as List<String>).Contains("EDIT"))
                                                                {
                                                                    <a id="btn-edit_@item.IDContract" href="#" title="Chỉnh sửa" class="btn-action"><i class="fa fa-edit"></i> </a>
                                                                    <div class="modal " id="myModaleEdit_@item.IDContract" role="dialog" data-url='@Url.Action("Edit", "Contract", new { id = item.IDContract })'></div>
                                                                    <script type="text/javascript">
                                                                    $('#btn-edit_@item.IDContract').click(function () {
                                                                        var url = $('#myModaleEdit_@item.IDContract').data('url');
                                                                        $.get(url, function (data) {
                                                                            $("#myModal").html(data);
                                                                            $("#ModalTitle").html("Cập nhật thông tin");
                                                                            $("#myModal").modal('show');
                                                                        });
                                                                    });
                                                                    </script>
                                                                }

                                                                if ((ViewBag.QUYENCN as List<String>).Contains("CHECKINFOR"))
                                                                {
                                                                    <a id="btn-Info_@item.IDContract" href="#" title="trình ký" class="btn-action"><i class="fa fa-paper-plane"></i> </a>
                                                                    <div class="modal " id="myModaleInfo_@item.IDContract" role="dialog" data-url='@Url.Action("CheckInformation", "Contract", new { id = item.IDContract })'></div>
                                                                    <script type="text/javascript">
                                                                        $('#btn-Info_@item.IDContract').click(function () {
                                                                            var url = $('#myModaleInfo_@item.IDContract').data('url');
                                                                            $.get(url, function (data) {
                                                                                $("#myModaleInfo_@item.IDContract").html(data);
                                                                                $("#ModalTitle").html("Trình ký danh sách đồng");
                                                                                $("#myModaleInfo_@item.IDContract").modal('show');
                                                                            });
                                                                        });
                                                                    </script>
                                                                }
                                                            }
                                                            else if (item.TTXL == 1)
                                                            {
                                                                if ((ViewBag.QUYENCN as List<String>).Contains("CHECKINFOR"))
                                                                {
                                                                    <a title="Hủy trình ký" class="btn-action" href="@Url.Action("Cancel", "Contract", new { id = item.IDContract})"
                                                                       onclick="return confirm('Bạn muốn hủy trình ký  : @item.Fullname')">
                                                                        <i class="fa fa-ban" aria-hidden="true"></i>
                                                                    </a>
                                                                }
                                                            }
                                                            else if (item.TTXL == 2 && item.BeginDate <= DateTime.Now.AddDays(-10))
                                                            {
                                                                <a id="btn-extend_@item.IDContract" href="#" title="Gia hạn hợp đồng" class="btn-action"><i class="fa fa-credit-card"></i> </a>
                                                                <div class="modal " id="myModaleExtend_@item.IDContract" role="dialog" data-url='@Url.Action("UpdateDay", "Contract", new { id = item.IDContract })'></div>
                                                                <script type="text/javascript">
                                                                $('#btn-extend_@item.IDContract').click(function () {
                                                                    var url = $('#myModaleExtend_@item.IDContract').data('url');
                                                                    $.get(url, function (data) {
                                                                        $("#myModaleExtend_@item.IDContract").html(data);
                                                                        $("#ModalTitle").html("Gia hạn thẻ");
                                                                        $("#myModaleExtend_@item.IDContract").modal('show');
                                                                    });
                                                                });
                                                                </script>
                                                            }
                                                        </td>
                                                        <td>@item.Contract</td>

                                                        <td>@item.Somecontracts</td>
                                                        @if (@item.EndDate == DateTime.Parse("0001/01/01"))
                                                        {
                                                            <td></td>
                                                        }
                                                        else
                                                        {
                                                            if(@item.EndDate <= DateTime.Now)
                                                            { 
                                                                 <td style="color: red;">@item.EndDate.ToString("dd/MM/yyyy")</td>
                                                            }
                                                            else
                                                            { 
                                                                 <td>@item.EndDate.ToString("dd/MM/yyyy")</td>
                                                            }
                                                        }

                                                        @if (@item.BeginDate == DateTime.Parse("0001/01/01"))
                                                        {
                                                            <td></td>
                                                        }
                                                        else
                                                        {
                                                            if(@item.BeginDate <= DateTime.Now)
                                                            { 
                                                                 <td style="color: red;">@item.BeginDate.ToString("dd/MM/yyyy")</td>
                                                            }
                                                            else
                                                            { 
                                                                 <td>@item.BeginDate.ToString("dd/MM/yyyy")</td>
                                                            }
                                                        }

                                                        <td>@item.Fullname</td>
                                                        <td>
                                                            @{
                                                                var TenBP = db.PhongBans.Where(x => x.IDPhongBan == item.IDBP).FirstOrDefault();
                                                                if (TenBP != null)
                                                                {
                                                                    <span>@TenBP.TenPhongBan</span>
                                                                }
                                                            }
                                                        </td>
                                                        <td class="text-center">
                                                            @if (item.FileScan != null && item.FileScan.Length > 0)
                                                            {

                                                                <i class="fa-solid fa-eye mr-2"></i><a class="text-download" target="_blank" href="@Url.Content("~/UploadedFiles/FileContract/" + System.IO.Path.GetFileName(item.FileScan))">Xem file</a>
                                                            }
                                                        </td>
                                                        <td class="text-center">
                                                        @if (item.TTXL == 1)
                                                        {
                                                            <span>Chờ xử lý</span>
                                                        }
                                                        else if(item.TTXL == 2)
                                                        {
                                                            <span>Đã xử lý</span>
                                                        }
                                                        else if(item.TTXL == null)
                                                        { 
                                                              <span>Chưa trình ký</span>
                                                        }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                    <div class="pager">
                                        @Html.PagedListPager(Model, page => Url.Action("Index", "Contract", new { area = "TagSign", page }))
                                        <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">

            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
    $('#btn-add').click(function () {
        var url = $('#myModal').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Thêm hợp đồng");
            $("#myModal").modal('show');
        });
    });
    $('#btn-Import').click(function () {
        var url = $('#myModalImport').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Add Permission");
            $("#myModal").modal('show');
        });
    });
     $("#btn-search").on('click', function () {
        var search = $('#txtsearch').val();
        window.location.href = '@Url.Action("Index", "Contract")?search=' + search;
    });
</script>





