
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SoDoToChuc.Models
@using PagedList.Mvc
@model PagedList.IPagedList<AdminPhanXuong>
@using EPORTAL.ModelsOrganizational

<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="fa fa-industry" aria-hidden="true"></i>
                    </div>
                    <div>
                        Quản lý thông tin Phân Xưởng
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="tab-content">
            <div class="row">
                <div class="card col-lg-12">
                    <div class="card-header">
                        <label class="">Thông Tin</label>
                        <button type="button" id="btn-add" class="btn btn-primary m-l-auto"><i class="fa fa-plus">&nbsp;</i>&nbsp;Thêm mới </button>
                        <div class="modal fade" id="myModal" role="dialog" data-url='@Url.Action("Create","AdminPhanXuong")'></div>
                    </div>
                    <div class="card-header">
                        <span>
                            <div class="row">

                                <div class="col-md-5">
                                    @Html.DropDownList("PBList", null, "---- Phòng Ban ----", new { id = "IDPhongBan", @class = "form-control", })
                                </div>

                                <span class="col-md-5">
                                    @Html.DropDownList("PXList", null, "----- Phân Xưởng ---", new { id = "IDPhanXuong", @class = "form-control", })
                                </span>
                                <script>
                                    $(document).ready(function () {
                                        $("#IDPhongBan").change(function () {
                                            $.get("/AdminTo/GetPXList", { id: $("#IDPhongBan").val() }, function (data) {

                                                $("#IDPhanXuong").empty();
                                                $("#IDPhanXuong").append("<option value ='" + null + "'>" + "--Chọn Phân Xưởng--" + "</option>")
                                                $.each(data, function (index, row) {
                                                    $("#IDPhanXuong").append("<option value ='" + row.IDPX + "'>" + row.TenPX + "</option>")
                                                });
                                            });
                                        })
                                    });
                                </script>

                                <div class="col-md-1">
                                    <button type="button" style="width: 100px;" id="btsearch" class="btn btn-primary pull-left"><i class="fa fa-search">&nbsp;</i>&nbsp;Tìm kiếm </button>
                                </div>
                            </div>
                        </span>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                <thead class="thead-light">
                                    <tr>
                                        <th width="30px" class="text-center">STT</th>
                                        <th width="" class="text-center">Tên Phân Xưởng</th>
                                        <th width="" class="text-center">Tên Phòng Ban</th>
                                        <th width="" class="text-center">Quản đốc Định biên</th>
                                        <th width="" class="text-center">PT định biên</th>
                                        <th width="" class="text-center">T/P Kíp ĐB</th>
                                        <th width="" class="text-center">KTV định biên</th>
                                        <th width="" class="text-center">Tổ trưởng/Tổ phó ĐB</th>
                                        <th width="" class="text-center">Nhân Viên HC ĐB</th>
                                        <th width="" class="text-center">Nhân Viên ĐB</th>


                                        <th width="" class="text-center">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int pageno = (int)Model.PageNumber;
                                        int itemperpage = (int)Model.PageSize;
                                        int RowNo = ((pageno - 1) * itemperpage) + 1;
                                        int index = 0;

                                    }


                                    @foreach (var item in Model)
                                    {
                                        index++;

                                        <tr>
                                            <td class="text-center">@RowNo@{RowNo++;}</td>
                                            <td class="text">@item.TenPhanXuong</td>
                                            <td class="text">@item.TenPhongBan</td>
                                            <td class="text-center">@item.TPDB</td>
                                            <td class="text-center">@item.PTDB</td>
                                            <td class="text-center">@item.TPKip</td>
                                            <td class="text-center">@item.KTVDB</td>
                                            <td class="text-center">@item.TTTP</td>
                                            <td class="text-center">@item.PTTT</td>
                                            <td class="text-center">@item.NVDB</td>



                                            <td class="text-center">
                                                <a id="btn-edit_@item.PhanXuongID" title="Sửa" style="cursor:pointer"><i class='fa fa-edit'></i></a>
                                                <div class="modal fade" id="myModale_@item.PhanXuongID" role="dialog" data-url='@Url.Action("Edit","AdminPhanXuong", new { id = item.PhanXuongID })'></div>
                                                <script type="text/javascript">
                                                $('#btn-edit_@item.PhanXuongID').click(function () {
                                                    var url = $('#myModale_@item.PhanXuongID').data('url');
                                                    $.get(url, function (data) {
                                                        $("#myModale_@item.PhanXuongID").html(data);
                                                        $("#ModalTitle").html("Cập nhật Nội dung");
                                                        $("#myModale_@item.PhanXuongID").modal('show');
                                                        $("#myModale_@item.PhanXuongID").addClass('show');
                                                    });
                                                });
                                                </script>
                                                <a title="Xóa" href="@Url.Action("Delete", "AdminPhanXuong", new { id = item.PhanXuongID })"
                                                   onclick="return confirm('Bạn muốn xóa Thông tin Phân Xưởng : @item.PhanXuongID')">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="pager">
                                @Html.PagedListPager(Model, page => Url.Action("Index", "AdminPhanXuong", new { page }))
                                <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">

            </div>
        </div>
    </div>


</div>


<script type="text/javascript">
    $("#btsearch").on('click', function () {
     var IDPhongBan = $('#IDPhongBan').val();
     var IDPhanXuong = $('#IDPhanXuong').val();

     window.location.href = '@Url.Action("Index", "AdminPhanXuong")?IDPhongBan=' + IDPhongBan + '&IDPhanXuong=' + IDPhanXuong;
    });

    $('#btn-add').click(function () {
        var url = $('#myModal').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Thêm mới Thông Tin");
            $("#myModal").modal('show');
            $("#myModal").addClass('show');
        });
    });
</script>

<script type="text/javascript">
    $("#IDPhongBan").chosen({
        width: "100%"
    });
    //$("#IDPhanXuong").chosen({
    //    width: "100%"
    //});
</script>