

@model EPORTAL.ModelsTagSign.DK_ListCardRegisInforNTValidation

@using (Html.BeginForm("Edit", "ListCardRegisInfor", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "submitForm(event)" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IDDKT)
    <div class="modal-dialog" id="form" style="margin-top:5%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ModalTitle"></h5>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <fieldset id="SubmitForm">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Tên người đại diện</label>
                                @Html.EditorFor(model => model.NhanVienID, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "FullName", @text = "" } })
                                <span id="ErrorFullName" style="color: red; text-transform: none; font-weight: normal "></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">File cam kết an toàn</label>
                                <div class="col-md-10">
                                    <input type="file" name="FilePDF" />
                                </div>
                                @Html.HiddenFor(model => model.FilePDF, new { @id = "FileUpload" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Folder ảnh</label>
                                <div class="col-md-10">
                                    <input type="file" name="FileANH" />
                                </div>
                                @Html.HiddenFor(model => model.FileANH, new { @id = "FileComplete" })
                            </div>
                        </div>
                    </div>
                    <div class="btn-margin-top text-center">

                        <input type="submit" value="Xác nhận" class="btn btn-success button_submit" />

                    </div>

                </fieldset>

            </div>
        </div>
    </div>

}

