
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EPORTAL.Models
@model PagedList.IPagedList<EmployeeValidation>
@using PagedList.Mvc
@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}

<link href="~/Content/assets/css/PagedList.css" rel="stylesheet" />
<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-portfolio icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        Tài khoản
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="tab-content">
            <div class="row">
                <div class="card col-lg-12">

                    <div class="card-header">
                        <div class="row" style="width:100%">
                            <div class="col-md-4 col-lg-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" id="txtsearch" name="" placeholder="Tìm kiếm" class="form-control" value="@ViewBag.search">
                                    </div>
                                    <div class="col-md-5">
                                        <button class="btn btn-primary" id="btn-search"><i class="fa fa-search"></i> Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>


                            <div style="padding-left:0" class="col-md-5">
                                @if ((ViewBag.QUYENCN as List<String>).Contains("EDIT"))
                                {
                                    using (Html.BeginForm("upLoadfile", "Account", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "submitForm(event)" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="file" name="FileExcel" class="form-control" value="@ViewBag.search">
                                            </div>
                                            <div class="col-md-3">
                                                <button type="submit" class="btn btn-primary"><i class="fa fa-upload">&nbsp;</i> Import Excel</button>
                                            </div>
                                            <div class="col-md-3">
                                                <a style="font-size:70%;" href="/Account/DownloadBM"> <i class="fa fa-download" aria-hidden="true"></i> Tải biểu mẫu Excel </a>
                                            </div>

                                        </div>
                                    }
                                }
                            </div>
                            <div class="col-md-1.5">
                                <button type="button" id="btn-re" class="btn btn-success m-l-auto"><i class="fa fa-key">&nbsp;</i>&nbsp;Reset Password </button>
                                <div class="modal" id="myModalRe" role="dialog" data-url='@Url.Action("ResetListPass","Account")'></div>
                            </div>
                            <div class="col-md-1.5">

                                <button type="button" id="btn-add" class="btn btn-primary ml-2 pull-right"><i class="pe-7s-repeat">&nbsp;</i>&nbsp;Đồng bộ </button>
                                <div class="modal" id="myModal" role="dialog" data-url='@Url.Action("Sync","EmployeeAPI")' style="margin-top:50px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th width="30px" class="text-center">STT</th>
                                            <th class="text-center">Thao tác</th>
                                            <th class="text-center" width="50px">Mã NV</th>
                                            <th class="text-center">Họ tên</th>
                                            <th class="text-center">Email</th>
                                            <th class="text-center">Phòng ban</th>
                                            <th class="text-center">Quyền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int pageno = (int)Model.PageNumber;
                                            int itemperpage = (int)Model.PageSize;
                                            int RowNo = ((pageno - 1) * itemperpage) + 1;
                                        }
                                        @{

                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="text-center"> @RowNo@{RowNo++;}</td>
                                                    <td class="text-center">
                                                        <a id="btn-reset_@item.ID" href="#" title="Reset password" class="btn-action"><i class="fa fa-key"></i> </a>
                                                        <div class="modal fade" id="myModale_@item.ID" role="dialog" data-url='@Url.Action("Resetpass", "Account", new { id = item.ID })'></div>
                                                        <script type="text/javascript">
                                                            $('#btn-reset_@item.ID').click(function () {
                                                                var url = $('#myModale_@item.ID').data('url');
                                                                $.get(url, function (data) {
                                                                    $("#myModal").html(data);
                                                                    $("#ModalTitle").html("Cập nhật mật khẩu");
                                                                    $("#myModal").modal('show');
                                                                });
                                                            });
                                                        </script>

                                                        <a id="btn-edit_@item.ID" href="#" title="Phân quyền" class="btn-action"><i class="fa fa-edit"></i> </a>
                                                        <div class="modal" id="myModaleEdit_@item.ID" role="dialog" data-url='@Url.Action("Edit", "Account", new { id = item.ID })'></div>
                                                        <script type="text/javascript">
                                                            $('#btn-edit_@item.ID').click(function () {
                                                                var url = $('#myModaleEdit_@item.ID').data('url');
                                                                $.get(url, function (data) {
                                                                    $("#myModal").html(data);
                                                                    $("#ModalTitle").html("Cập nhật quyền");
                                                                    $("#myModal").modal('show');
                                                                });
                                                            });
                                                        </script>




                                                    </td>
                                                    <td>@item.MaNV</td>
                                                    <td>@item.HoTen</td>
                                                    <td>@item.Email</td>

                                                    <td>@item.PhongBan</td>
                                                    <td>@item.TenQuyen</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                                <div class="pager">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", "Account", new { page }))
                                    <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
                <div class="footer_content d-flex justify-content-between">
                    <div class="footer_item web_name">
                        <span>Công ty cổ phần thép Hòa Phát Dung Quất</span>
                    </div>

                    <div class="footer_item_copy d-flex">
                        <span class="copyright">Copyright</span>
                        <ul class="copyright_ul">
                            <li>Ban công nghệ thông tin</li>
                            <li>Hóa Phát Dung Quất</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
    $('#btn-add').click(function () {
        var url = $('#myModal').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Thêm tài khoản");
            $("#myModal").modal('show');
        });
    });
    $('#btn-Import').click(function () {
        var url = $('#myModalImport').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Import tài khoản mới");
            $("#myModal").modal('show');
        });
    });
    $('#btn-re').click(function () {
        var url = $('#myModalRe').data('url');
        $.get(url, function (data) {
            $("#myModalRe").html(data);
            $("#ModalTitle").html("Reset Pass List");
            $("#myModalRe").modal('show');
        });
    });

     $("#btn-search").on('click', function () {
        var search = $('#txtsearch').val();
        window.location.href = '@Url.Action("Index", "Account")?search=' + search;
    });
</script>


