@model EPORTAL.ModelsTagSign.Register_gates

@using (Html.BeginForm("Create", "Register_gate", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog" id="form">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ModalTitle"></h5>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <fieldset id="SubmitForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label style="margin-left:13px" class="small mb-1">Chọn cổng</label>
                                <div class="col-md-12">
                                    @Html.DropDownListFor(model => model.IDCong, ViewBag.Cong as SelectList, "----- Chọn Cổng -----", new { @id = "IDCong", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IDCong, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label style="margin-left:13px" class="small mb-1">Chọn nhân viên</label>
                                <div class="col-md-12">
                                    @Html.DropDownListFor(model => model.MaNV, ViewBag.nhanVien as SelectList, "----- Chọn nhân viên -----", new { @id = "MaNV", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MaNV, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label style="margin-left:13px" class="small mb-1">Ngày hết hạn</label>
                                <div class="col-md-12">
                                    @Html.TextBox("NgayHetHan", null, new { @type = "Date", @id = "NgayHetHan", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.NgayHetHan, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-margin-top text-center">
                        <input id="a" type="submit" value="Xác nhận" class="btn btn-success button_submit" />

                    </div>

                </fieldset>

            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $("#IDCong").chosen({
        width: "100%"
    });

    $("#MaNV").chosen({
        width: "100%"
    });
   /* $("#a").click(function () {
         console.log("a");
     })*/
</script>
@*<script src="/Scripts/jquery.validate.js"></script>*@
@*<script src="/Scripts/jquery.validate.unobtrusive.js"></script>*@